In [16]:
import pandas as pd
from tqdm import tqdm
import random

## Behaviors Parse

In [21]:

source = "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/dev_small/behaviors.tsv"
behaviors = pd.read_table(source,
                              header=None,
                              names=["impression_id", "user_id", "time", "clicked_news", "impressions"])
    
behaviors.clicked_news.fillna(' ', inplace=True)
behaviors.impressions = behaviors.impressions.str.split()
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [22]:
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [23]:
user2int = {}
for row in behaviors.itertuples(index=False):
    if row.user_id not in user2int:
        user2int[row.user_id] = len(user2int) + 1
pd.DataFrame(user2int.items(), columns=['user', 'int'])
print(f'Please modify `num_users` in `src/config.py` into 1 + {len(user2int)}')
for row in behaviors.itertuples():
    behaviors.at[row.Index, 'user_id'] = user2int[row.user_id]
behaviors

Please modify `num_users` in `src/config.py` into 1 + 50000

,impression_id,user_id,time,clicked_news,impressions
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,49997,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [20]:
negative_sampling_ratio = 2
for row in tqdm(behaviors.itertuples(), desc="Balancing data"):
    positive = iter([x for x in row.impressions if x.endswith('1')])  # lấy các impressions kết thúc bằng 1 cho vào vòng lặp
    negative = [x for x in row.impressions if x.endswith('0')] # lấy các impressions kết thúc bằng 0 cho vào vòng lặp
    
    random.shuffle(negative) # xáo trộn các phần tử trong negative
    negative = iter(negative) # lấy các phần tử trong negative cho vào vòng lặp

    pairs = []
    try:                                                         #                                                                   
        while True:                                              #                      
            pair = [next(positive)]                              #                                      
            for _ in range(negative_sampling_ratio):             #                                                       
                pair.append(next(negative))                      # chỉ lấy 1 phần tử positive và 2 phần tử negative ngẫu nhiên                                             
            pairs.append(pair)                                   #                                 
    except StopIteration:                                        #                            
        pass                                                     #          
    behaviors.at[row.Index, 'impressions'] = pairs               #                                                     
    # break

Balancing data: 73152it [00:04, 16997.52it/s]

In [16]:
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[[N31958-1, N49285-0, N11930-0]]"
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[[N23513-1, N32536-0, N46976-0]]"
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[[N5940-1, N55237-0, N19990-0]]"
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[[N15347-1, N6400-0, N52492-0]]"
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[[N5940-1, N30290-0, N20036-0], [N31958-1, N49..."
...,...,...,...,...,...
73147,73148,49997,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[[N38324-1, N7618-0, N16918-0], [N6916-1, N507..."
73148,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[[N11390-1, N29091-0, N34130-0]]"
73149,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[[N60215-1, N60762-0, N37055-0], [N54562-1, N2..."
73150,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[[N20036-1, N58098-0, N29393-0]]"
73151,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[[N21679-1, N29862-0, N6400-0]]"

In [17]:
behaviors = behaviors.explode('impressions').dropna(
        subset=["impressions"]).reset_index(drop=True)

behaviors[['candidate_news', 'clicked']] = pd.DataFrame(
    behaviors.impressions.map(
        lambda x: (' '.join([e.split('-')[0] for e in x]), ' '.join([e.split('-')[1] for e in x]))).tolist())
behaviors
# behaviors.to_csv(target, sep='\t', index=False, columns=['user', 'clicked_news', 'candidate_news', 'clicked'])

,impression_id,user_id,time,clicked_news,impressions,candidate_news,clicked
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N31958-1, N49285-0, N11930-0]",N31958 N49285 N11930,1 0 0
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N23513-1, N32536-0, N46976-0]",N23513 N32536 N46976,1 0 0
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N5940-1, N55237-0, N19990-0]",N5940 N55237 N19990,1 0 0
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N15347-1, N6400-0, N52492-0]",N15347 N6400 N52492,1 0 0
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N30290-0, N20036-0]",N5940 N30290 N20036,1 0 0
...,...,...,...,...,...,...,...
107270,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N11390-1, N29091-0, N34130-0]",N11390 N29091 N34130,1 0 0
107271,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N60215-1, N60762-0, N37055-0]",N60215 N60762 N37055,1 0 0
107272,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N54562-1, N28716-0, N22803-0]",N54562 N28716 N22803,1 0 0
107273,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N20036-1, N58098-0, N29393-0]",N20036 N58098 N29393,1 0 0
107274,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N21679-1, N29862-0, N6400-0]",N21679 N29862 N6400,1 0 0

----
## Test config yaml

In [26]:
# read yaml config file
import yaml
with open('config.yaml', 'r') as f:
    config = yaml.load(f, Loader=yaml.FullLoader)
config

{'BASE_CONFIG': {'num_epochs': 2,
  'num_batches_show_loss': 100,
  'num_batches_validate': 1000,
  'batch_size': 128,
  'learning_rate': 0.0001,
  'num_workers': 4,
  'num_clicked_news_a_user': 50,
  'num_words_title': 20,
  'num_words_abstract': 50,
  'word_freq_threshold': 1,
  'entity_freq_threshold': 2,
  'entity_confidence_threshold': 0.5,
  'negative_sampling_ratio': 2,
  'dropout_probability': 0.2,
  'num_words': '1 + 70974',
  'num_categories': '1 + 274',
  'num_entities': '1 + 12957',
  'num_users': '1 + 50000',
  'word_embedding_dim': 300,
  'category_embedding_dim': 100,
  'entity_embedding_dim': 100,
  'query_vector_dim': 200},
 'NRMS_CONFIG': {'dataset_attributes': {'news': ['title'], 'record': []},
  'num_attention_heads': 15}}

In [25]:
config['BASE_CONFIG']['num_epochs']

2

-----

## News Parse

In [1]:
import csv
import pandas as pd
from nltk.tokenize import word_tokenize
import json

In [3]:
source_news = "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/dev_small/news.tsv"
df_news = pd.read_table(
        source_news,
        header=None,
        usecols=[0, 1, 2, 3, 4, 6, 7],
        quoting=csv.QUOTE_NONE,
        names=[
            "id",
            "category",
            "subcategory",
            "title",
            "abstract",
            "title_entities",
            "abstract_entities",
        ],
    )


df_news.title_entities.fillna("[]", inplace=True)

df_news.abstract_entities.fillna("[]", inplace=True)

df_news.fillna(" ", inplace=True)


df_news

,id,category,subcategory,title,abstract,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...","[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...
42411,N63550,lifestyle,lifestyleroyals,Why Kate & Meghan Were on Different Balconies ...,There's no scandal here. It's all about the or...,"[{""Label"": ""Meghan, Duchess of Sussex"", ""Type""...",[]
42412,N30345,entertainment,entertainment-celebrity,See the stars at the 2019 Baby2Baby gala,Stars like Chrissy Teigen and Kate Hudson supp...,[],"[{""Label"": ""Kate Hudson"", ""Type"": ""P"", ""Wikida..."
42413,N30135,news,newsgoodnews,Tennessee judge holds lawyer's baby as he swea...,Tennessee Court of Appeals Judge Richard Dinki...,"[{""Label"": ""Tennessee"", ""Type"": ""G"", ""Wikidata...","[{""Label"": ""Tennessee Court of Appeals"", ""Type..."
42414,N44276,autos,autossports,Best Sports Car Deals for October,,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
42415,N39563,sports,more_sports,Shall we dance: Sports stars shake their leg,,[],[]

In [4]:
category2int = {}
word2int = {}
word2freq = {}
entity2int = {}
entity2freq = {}

In [7]:
for row in df_news.itertuples(index=False):
    
    # gộp cả category và subcategory vào category2int
    
    if row.category not in category2int:
        category2int[row.category] = len(category2int) + 1
    if row.subcategory not in category2int:
        category2int[row.subcategory] = len(category2int) + 1
    
    #----- đếm số lần xuất hiện của các từ trong title và abstract
    for w in word_tokenize(row.title.lower()):  #tokenize title đã được chuyển thành chữ thường
        if w not in word2freq:
            word2freq[w] = 1
        else:
            word2freq[w] += 1

    for w in word_tokenize(row.abstract.lower()): #tokenize abstract đã được chuyển thành chữ thường
        if w not in word2freq:
            word2freq[w] = 1
        else:
            word2freq[w] += 1
    
    for e in json.loads(row.title_entities):
        times = len(e['OccurrenceOffsets']) * e['Confidence']
        if times > 0:
            if e['WikidataId'] not in entity2freq:
                entity2freq[e['WikidataId']] = times
            else:
                entity2freq[e['WikidataId']] += times

    for e in json.loads(row.abstract_entities):
        times = len(e['OccurrenceOffsets']) * e['Confidence']
        if times > 0:
            if e['WikidataId'] not in entity2freq:
                entity2freq[e['WikidataId']] = times
            else:
                entity2freq[e['WikidataId']] += times
                
    for k, v in word2freq.items():
            if v >= config.word_freq_threshold:
                word2int[k] = len(word2int) + 1

    for k, v in entity2freq.items():
        if v >= config.entity_freq_threshold:
            entity2int[k] = len(entity2int) + 1

In [14]:
category2int

{'lifestyle': 1,
 'lifestyleroyals': 2,
 'health': 3,
 'medical': 4,
 'news': 5,
 'newsworld': 6,
 'voices': 7,
 'sports': 8,
 'football_nfl': 9,
 'newsscienceandtechnology': 10,
 'weather': 11,
 'weathertopstories': 12,
 'weightloss': 13,
 'entertainment': 14,
 'gaming': 15,
 'foodanddrink': 16,
 'recipes': 17,
 'nutrition': 18,
 'autos': 19,
 'autosenthusiasts': 20,
 'wellness': 21,
 'health-news': 22,
 'celebrity': 23,
 'travel': 24,
 'travelarticle': 25,
 'autossuvs': 26,
 'newspolitics': 27,
 'more_sports': 28,
 'traveltripideas': 29,
 'video': 30,
 'animals': 31,
 'autosnews': 32,
 'newsbusiness': 33,
 'golf': 34,
 'newstrends': 35,
 'lifestylepetsanimals': 36,
 'football_ncaa': 37,
 'tv': 38,
 'tv-gallery': 39,
 'basketball_nba': 40,
 'shop-all': 41,
 'newsphotos': 42,
 'lifestylemindandsoul': 43,
 'basketball_ncaa': 44,
 'finance': 45,
 'finance-real-estate': 46,
 'quickandeasy': 47,
 'tv-celebrity': 48,
 'lifestyleparenting': 49,
 'travelnews': 50,
 'movies': 51,
 'movies-gallery': 52,
 'lifestylebuzz': 53,
 'tipsandtricks': 54,
 'autosbuying': 55,
 'shop-apparel': 56,
 'autostrucks': 57,
 'lifestyledidyouknow': 58,
 'restaurantsandnews': 59,
 'finance-saving-investing': 60,
 'viral': 61,
 'lifestylehoroscope': 62,
 'finance-taxes': 63,
 'lifestyleshopping': 64,
 'newsopinion': 65,
 'finance-companies': 66,
 'newscrime': 67,
 'finance-savemoney': 68,
 'mentalhealth': 69,
 'newsus': 70,
 'lifestylesmartliving': 71,
 'fitness': 72,
 'autosclassics': 73,
 'autosluxury': 74,
 'baseball_mlb': 75,
 'newsgoodnews': 76,
 'retirement': 77,
 'lifestylehomeandgarden': 78,
 'ads-lung-health': 79,
 'finance-top-stocks': 80,
 'soccer_epl': 81,
 'personalfinance': 82,
 'music': 83,
 'musicnews': 84,
 'lifestyledecor': 85,
 'causes': 86,
 'newsoffbeat': 87,
 'tennis': 88,
 'traveltips': 89,
 'videos': 90,
 'lifestylepets': 91,
 'weight-loss': 92,
 'finance-career': 93,
 'lifestylecareer': 94,
 'markets': 95,
 'shop-holidays': 96,
 'lifestylebeauty': 97,
 'movievideo': 98,
 'finance-retirement': 99,
 'mma': 100,
 'finance-career-education': 101,
 'lifestylefashion': 102,
 'foodnews': 103,
 'racing': 104,
 'finance-billstopay': 105,
 'movies-celebrity': 106,
 'lifestylecelebstyle': 107,
 'newsweather': 108,
 'popculture': 109,
 'tvnews': 110,
 'beverages': 111,
 'lifestylefamilyandrelationships': 112,
 'music-gallery': 113,
 'entertainment-celebrity': 114,
 'soccer': 115,
 'musicvideos': 116,
 'healthagingwell': 117,
 'lifestylelovesex': 118,
 'causes-green-living': 119,
 'autosresearchguides': 120,
 'football_nfl_videos': 121,
 'advice': 122,
 'factcheck': 123,
 'outdoors': 124,
 'music-celebrity': 125,
 'baseball_mlb_videos': 126,
 'lifestylediy': 127,
 'science': 128,
 'movienews': 129,
 'entertainment-books': 130,
 'travel-videos': 131,
 'football_ncaa_videos': 132,
 'shop-home-goods': 133,
 'newsfactcheck': 134,
 'financenews': 135,
 'autossports': 136,
 'finance-credit': 137,
 'travel-points-rewards': 138,
 'humor': 139,
 'lifestylecleaningandorganizing': 140,
 'autospassenger': 141,
 'lifestyleweddings': 142,
 'autossema': 143,
 'autosmotorcycles': 144,
 'kids': 145,
 'fun': 146,
 'icehockey_nhl': 147,
 'peopleandplaces': 148,
 'foodrecipes': 149,
 'lifestylevideo': 150,
 'holidays': 151,
 'seasonal': 152,
 'music-awards': 153,
 'hollywood': 154,
 'autosownership': 155,
 'finance-small-business': 156,
 'tv-recaps': 157,
 'finance-video': 158,
 'boxing-mma': 159,
 'tvvideos': 160,
 'autosreview': 161,
 'empowering-the-planet': 162,
 'finance-technology': 163,
 'finance-home-loans': 164,
 'lifestylefamily': 165,
 'autosvideonew': 166,
 'boxing': 167,
 'games': 168,
 'causes-food-insecurity': 169,
 'autoscartech': 170,
 'movies-oscars': 171,
 'technologyinvesting': 172,
 'autoshybrids': 173,
 'lifestylerelationships': 174,
 'causes-animals': 175,
 'celebritynews': 176,
 'autostokyo': 177,
 'elections-2020-us': 178,
 'finance-insurance': 179,
 'pregnancyparenting': 180,
 'healthnews': 181,
 'causes-poverty': 182,
 'music-grammys': 183,
 'lifestyleanimals': 184,
 'lifestyle-wedding': 185,
 'autosresearch': 186,
 'career-news': 187,
 'newsscience': 188,
 'basketball_ncaa_videos': 189,
 'autoscompact': 190,
 'lifestyle-news-feature': 191,
 'finance-education': 192,
 'finance-healthcare': 193,
 'shop-computers-electronics': 194,
 'awards': 195,
 'golfvideos': 196,
 'autosvans': 197,
 'autosvideos': 198,
 'sports_news': 199,
 'middleeast': 200,
 'middleeast-top-stories': 201,
 'causes-environment': 202,
 'lifestyletravel': 203,
 'cocktails': 204,
 'newstvmedia': 205,
 'travel-adventure-travel': 206,
 'photos': 207,
 'soccer_mls': 208,
 'ads-latingrammys': 209,
 'reviews': 210,
 'cookingschool': 211,
 'basketball_nba_videos': 212,
 'basketball_wnba': 213,
 'mmaufc': 214,
 'tv-reviews': 215,
 'narendramodi_opinion': 216,
 'lifestylemarriage': 217,
 'finance-homesandpropertysection': 218,
 'cooking': 219,
 'games-news': 220,
 'newsnational': 221,
 'movies-awards': 222,
 'people-places': 223,
 'awardstyle': 224,
 'company-news': 225,
 'tunedin': 226,
 'wines': 227,
 'newsworldpolitics': 228,
 'othersports': 229,
 'yearinoffbeatgoodnews': 230,
 'newsrealestate': 231,
 'lifestyleshoppinghomegarden': 232,
 'cma-awards': 233,
 'downtime': 234,
 'finance-mutual-funds': 235,
 'newsvideo': 236,
 'comedy': 237,
 'lifestylehoroscopefish': 238,
 'baseball': 239,
 'topnews': 240,
 'newsother': 241,
 'foodtips': 242,
 'tv-golden-globes': 243,
 'causes-disaster-relief': 244,
 'finance-auto-insurance': 245,
 'weatherfullscreenmaps': 246,
 'causes-military-appreciation': 247,
 'newsvideos': 248,
 'indepth': 249,
 'wonder': 250,
 'healthyliving': 251,
 'lifestylewhatshot': 252,
 'lifestylestyle': 253,
 'shop-books-movies-tv': 254,
 'health-cancer': 255,
 'finance-startinvesting': 256,
 'ustravel': 257,
 'newstechnology': 258,
 'relationships': 259,
 'internationaltravel': 260,
 'traveltrivia': 261,
 'cardio': 262,
 'newselection2020': 263,
 'tv-golden-globes-video': 264,
 'autosmidsize': 265,
 'autoslosangeles': 266,
 'celebhub': 267}

In [6]:
word2freq

{'the': 91782,
 'brands': 66,
 'queen': 140,
 'elizabeth': 284,
 ',': 67425,
 'prince': 256,
 'charles': 158,
 'and': 32593,
 'philip': 24,
 'swear': 7,
 'by': 5994,
 'shop': 178,
 'notebooks': 1,
 'jackets': 27,
 'more': 4181,
 'that': 11575,
 'royals': 82,
 'ca': 420,
 "n't": 4572,
 'live': 600,
 'without': 704,
 '.': 63729,
 'dispose': 7,
 'of': 37111,
 'unwanted': 14,
 'prescription': 40,
 'drugs': 107,
 'during': 1871,
 'dea': 32,
 "'s": 25316,
 'take': 1229,
 'back': 2192,
 'day': 1759,
 'cost': 232,
 'trump': 3894,
 'aid': 126,
 'freeze': 54,
 'in': 40082,
 'trenches': 5,
 'ukraine': 656,
 'war': 287,
 'lt.': 84,
 'ivan': 11,
 'molchanets': 1,
 'peeked': 2,
 'over': 3571,
 'a': 46506,
 'parapet': 1,
 'sand': 26,
 'bags': 61,
 'at': 12521,
 'front': 434,
 'line': 567,
 'next': 1226,
 'to': 46739,
 'him': 1667,
 'was': 11527,
 'an': 6495,
 'empty': 61,
 'helmet': 83,
 'propped': 2,
 'up': 4190,
 'trick': 100,
 'snipers': 6,
 'already': 457,
 'perforated': 1,
 'with': 13255,
 'multiple': 413,
 'holes': 56,
 'i': 3192,
 'nba': 454,
 'wife': 359,
 'here': 2693,
 'how': 2747,
 'it': 9628,
 'affected': 75,
 'my': 904,
 'mental': 102,
 'health': 759,
 'felt': 171,
 'like': 1785,
 'fraud': 104,
 'being': 1482,
 'did': 1390,
 'help': 1133,
 'fact': 175,
 'nearly': 643,
 'destroyed': 106,
 'me': 490,
 'get': 2167,
 'rid': 30,
 'skin': 82,
 'tags': 11,
 'according': 2279,
 'dermatologist': 6,
 'they': 4415,
 'seem': 145,
 'harmless': 12,
 'but': 4855,
 'there': 2231,
 'very': 554,
 'good': 944,
 'reason': 220,
 'you': 6104,
 'should': 1147,
 'ignore': 37,
 'them': 1217,
 'post': 662,
 'appeared': 477,
 'first': 3464,
 'on': 20396,
 'reader': 106,
 'digest': 107,
 'nfl': 1316,
 'be': 6142,
 'able': 273,
 'fine': 126,
 'players': 718,
 'for': 20751,
 'criticizing': 30,
 'officiating': 52,
 '?': 4373,
 'several': 731,
 'fines': 46,
 'came': 568,
 'down': 1772,
 'against': 2165,
 'this': 6499,
 'week': 3662,
 'bad': 359,
 'look': 1105,
 'league': 524,
 'record': 536,
 'your': 3212,
 'screen': 53,
 'windows': 75,
 'macos': 7,
 'ios': 36,
 'or': 2443,
 'android': 41,
 'easiest': 16,
 'way': 1121,
 'what': 3719,
 'happening': 84,
 'whichever': 2,
 'device': 51,
 "'re": 1346,
 'using': 316,
 'been': 3287,
 'orlando': 217,
 'hottest': 54,
 'october': 793,
 'ever': 518,
 'so': 1630,
 'far': 545,
 'cooler': 39,
 'temperatures': 191,
 'wo': 501,
 'chill': 27,
 'bones': 30,
 'halloween': 934,
 'unless': 54,
 'count': 97,
 'sweat': 16,
 'dripping': 3,
 'from': 9325,
 'armpits': 1,
 'guy': 185,
 'altered': 13,
 'his': 7902,
 'diet': 128,
 'training': 193,
 'drop': 160,
 '65': 65,
 'pounds': 243,
 'pack': 48,
 'muscle': 46,
 'brandon': 128,
 'reid': 88,
 'advice': 87,
 ':': 11284,
 '``': 7942,
 'do': 2069,
 'worry': 80,
 'other': 1358,
 'people': 2202,
 'think': 527,
 'even': 996,
 'smallest': 25,
 'fattest': 3,
 'gym': 62,
 'is': 13952,
 'lapping': 4,
 'home': 2728,
 'couch': 30,
 "''": 6831,
 'chile': 37,
 'three': 1654,
 'die': 101,
 'supermarket': 19,
 'fire': 2186,
 'amid': 337,
 'protests': 173,
 'have': 5569,
 'died': 789,
 'as': 8129,
 'angry': 73,
 'entered': 126,
 'their': 4150,
 'seventh': 58,
 'mayor': 430,
 'capital': 145,
 'city': 2611,
 'santiago': 21,
 'said': 5671,
 'sunday': 2025,
 'best': 1923,
 'ps5': 6,
 'games': 888,
 'top': 1739,
 'playstation': 15,
 '5': 1077,
 'titles': 41,
 'forward': 270,
 'every': 881,
 'confirmed': 286,
 'expected': 630,
 'game': 2825,
 'we': 2830,
 'wait': 139,
 'play': 969,
 'roasted': 24,
 'squash': 24,
 'panzanella': 2,
 'perfect': 299,
 'start': 844,
 'year': 2193,
 'christmas': 336,
 'dinner': 219,
 'introducing': 15,
 'balance': 53,
 'out': 4377,
 'sugar': 53,
 'cookie': 85,
 'obsession': 7,
 '50': 506,
 'foods': 179,
 'never': 655,
 'eat': 184,
 'experts': 217,
 'depressing': 5,
 'trying': 497,
 'make': 1690,
 'ram': 28,
 '3500': 7,
 'quick': 154,
 'viper': 6,
 'requires': 47,
 'some': 2398,
 'disassembly': 1,
 '2019': 1659,
 'new': 6206,
 'cummins': 6,
 'diesel': 20,
 'has': 6905,
 '1000': 19,
 'lb-ft': 3,
 'torque': 6,
 'put': 511,
 'work': 761,
 'drag': 22,
 'strip': 42,
 'rye': 6,
 'football': 1711,
 'wins': 318,
 'rendition': 3,
 'clobbers': 1,
 'harrison': 56,
 'after': 8028,
 'going': 902,
 'into': 3117,
 'halftime': 35,
 'tied': 133,
 'garnets': 1,
 'regrouped': 2,
 'made': 1353,
 'resounding': 7,
 'second-half': 18,
 'statement': 321,
 'instagram': 245,
 'filters': 4,
 'plastic': 85,
 'surgery-inspired': 1,
 'effects': 57,
 'could': 2229,
 'soon': 328,
 'disappear': 14,
 'effort': 217,
 'combat': 63,
 'negative': 41,
 'impacts': 22,
 'caused': 280,
 'social': 452,
 'media': 620,
 'company': 792,
 'announced': 794,
 'removing': 42,
 'all': 2691,
 'its': 2620,
 'give': 404,
 'surgery-like': 1,
 'effect': 121,
 'michigan': 819,
 'apple': 277,
 'recall': 69,
 '2,300': 10,
 'crates': 2,
 'contaminated': 22,
 'listeria': 10,
 'produce': 66,
 'recalled': 83,
 'cases': 136,
 'fresh': 128,
 'apples': 19,
 'kate': 151,
 'middleton': 87,
 'hairstyles': 5,
 'through': 1364,
 'years': 2035,
 'duchess': 70,
 'cambridge': 29,
 'knows': 115,
 'her': 4008,
 'around': 1732,
 'updo': 1,
 'stars': 336,
 'who': 4539,
 'got': 913,
 'fired': 340,
 'major': 545,
 'projects': 84,
 'celebs': 63,
 'boot': 10,
 'movies': 115,
 'tv': 369,
 'shows': 637,
 'newark': 38,
 'liberty': 52,
 'airport': 465,
 'terminal': 92,
 'one': 4130,
 '$': 2722,
 '2.7': 10,
 'billion': 283,
 "'transformative": 2,
 "'": 9486,
 'project': 352,
 'which': 1682,
 'bi-state': 8,
 'agency': 266,
 'single-largest': 1,
 'investment': 67,
 'state': 3277,
 'projected': 29,
 'completed': 97,
 '2022': 21,
 '2021': 107,
 'gmc': 16,
 'yukon': 14,
 'denali': 1,
 'motor1.com': 5,
 'sent': 266,
 'us': 1189,
 'sure': 260,
 'looks': 388,
 'legit': 19,
 'john': 653,
 'dorsey': 24,
 'admits': 62,
 'talks': 277,
 'washington': 1091,
 'takes': 378,
 'two': 3198,
 'tango': 7,
 'team': 1850,
 'officials': 1430,
 'emphatically': 5,
 'denied': 83,
 'rumor': 24,
 'trent': 111,
 'williams': 341,
 'trade': 785,
 'cleveland': 610,
 'report': 1403,
 'tuesday': 1655,
 'later': 465,
 'browns': 638,
 'general': 440,
 'manager': 471,
 'admitted': 77,
 'publicly': 84,
 'he': 6767,
 'talked': 76,
 'president': 2551,
 'bruce': 99,
 'allen': 170,
 "'ve": 757,
 'had': 2766,
 'few': 603,
 'conversations': 20,
 'via': 260,
 'mary': 82,
 'kay': 41,
 'cabot': 13,
 'plain': 28,
 'dealer': 25,
 '[': 339,
 ']': 331,
 'elijah': 170,
 'cummings': 232,
 'lie': 32,
 'capitol': 115,
 'thursday': 2134,
 'democrat': 119,
 'whose': 198,
 'district': 567,
 'included': 118,
 'sections': 10,
 'baltimore': 400,
 'last': 2111,
 'age': 266,
 '68': 47,
 'complications': 25,
 'related': 274,
 'longstanding': 24,
 'issues': 295,
 'finally': 303,
 'fight': 528,
 'seal': 42,
 'deal': 613,
 'university': 551,
 'park': 852,
 'pa.': 48,
 '--': 1991,
 'fans': 735,
 'beaver': 26,
 'stadium': 401,
 'saturday': 1454,
 'night': 2370,
 'likely': 408,
 'not': 3777,
 'know': 1172,
 'mere': 22,
 'feet': 222,
 'celebration': 105,
 'inside': 778,
 'small': 423,
 'room': 362,
 'under': 799,
 'bleachers': 5,
 'sat': 88,
 'khaleke': 1,
 'hudson': 82,
 'shea': 25,
 'patterson': 46,
 'addressing': 19,
 'reporters': 138,
 '28-21': 14,
 'loss': 910,
 'no': 2674,
 '7': 767,
 'penn': 208,
 'both': 679,
 'were': 3699,
 'still': 1184,
 'uniforms': 14,
 '...': 9620,
 '17': 304,
 'abandoned': 115,
 'theme': 72,
 'parks': 106,
 'explore': 58,
 'thrills': 10,
 'chills': 12,
 'nostalgia': 9,
 'disney': 160,
 'six': 491,
 'flags': 43,
 'flintstones': 2,
 'amusement': 28,
 'succumbed': 8,
 'disasters': 11,
 'press': 285,
 'shifting': 18,
 'entertainment': 73,
 'markets': 60,
 'adventurous': 9,
 'whether': 482,
 'california': 1264,
 'florida': 1055,
 'ohio': 630,
 'can': 2559,
 'fascinating': 30,
 'places': 244,
 'if': 1932,
 'dare': 22,
 'dog': 567,
 'dies': 365,
 'protecting': 44,
 'children': 565,
 'deadly': 311,
 'snake': 37,
 'richardson': 37,
 'family': 1337,
 'shares': 199,
 'video': 1137,
 'photos': 675,
 'puppy': 82,
 'zeus': 1,
 'venomous': 15,
 'coral': 40,
 'ford': 298,
 'bronco': 24,
 'test': 304,
 'mule': 9,
 'spotted': 141,
 'flexing': 2,
 'muscles': 14,
 'australia': 87,
 'offered': 124,
 'land': 215,
 'however': 225,
 'trustbusters': 1,
 'bring': 381,
 'microsoft': 244,
 'lessons': 37,
 'big': 1189,
 'tech': 198,
 'doj': 27,
 'makan': 1,
 'delrahim': 1,
 'ftc': 15,
 'joe': 690,
 'simons': 8,
 'agreed': 108,
 'divide': 19,
 'google': 235,
 'facebook': 375,
 'amazon': 290,
 'between': 862,
 'pga': 139,
 'tour': 359,
 'winners': 172,
 'gallery': 40,
 'recent': 498,
 'nashville': 240,
 'restaurants': 297,
 'ms.': 16,
 'cheap': 92,
 'rounds': 61,
 'lunch': 99,
 'deals': 210,
 '10': 1118,
 'less': 382,
 'restaurant': 629,
 'food': 682,
 'prices': 160,
 'most': 2005,
 'free': 599,
 'parking': 219,
 'things': 914,
 'knew': 197,
 'about': 4156,
 'owls': 16,
 'huge': 235,
 'eyes': 156,
 'sharp': 43,
 'talons': 1,
 'swiveling': 1,
 'heads': 87,
 'are': 8034,
 'mysterious': 54,
 'creatures': 18,
 '25': 546,
 'last-minute': 33,
 'ideas': 168,
 'will': 5864,
 'absolutely': 61,
 'save': 269,
 'holiday': 535,
 'these': 1759,
 'excited': 70,
 '(': 3927,
 'sometimes-stressful': 1,
 ')': 3890,
 'holidays': 114,
 'taste': 228,
 'rutgers': 53,
 'throws': 78,
 '1': 1078,
 'yard': 100,
 '35-0': 5,
 'indiana': 243,
 'outfit': 39,
 'worn': 19,
 'see': 1209,
 'style': 113,
 'choices': 40,
 'glam': 5,
 'gowns': 12,
 'coat': 29,
 'dresses': 26,
 're-wears': 2,
 'tiaras': 5,
 'hats': 14,
 'parties': 80,
 'weekend': 786,
 'oct.': 730,
 '24-27': 1,
 'now': 2063,
 'before': 1758,
 'biggest': 431,
 'coming': 631,
 'including': 697,
 'entourage': 2,
 'star': 719,
 'jeremy': 50,
 'piven': 2,
 'hosting': 84,
 'party': 469,
 'godfrey': 8,
 'hotel': 310,
 'thriller': 25,
 'mob': 12,
 'breaking': 157,
 'ferg': 3,
 'many': 923,
 'events': 224,
 'find': 833,
 'also': 1060,
 'pumpkin': 137,
 'patches': 15,
 'tamapbay.com/things-to-do': 1,
 'pinellasstadium': 1,
 'screams': 11,
 'simple': 156,
 'changes': 252,
 'helped': 217,
 'lose': 274,
 '75': 88,
 '9': 538,
 'months': 582,
 'part': 746,
 'took': 767,
 'control': 336,
 'un': 47,
 'climate': 304,
 'fund': 85,
 'struggles': 82,
 'meet': 257,
 'goal': 198,
 'rich': 92,
 'countries': 117,
 'gathered': 80,
 'france': 71,
 'discuss': 197,
 'replenishing': 1,
 'international': 377,
 'meant': 82,
 'poor': 103,
 'nations': 52,
 'tackle': 163,
 'change': 588,
 'falling': 185,
 'short': 204,
 'targets': 58,
 'because': 790,
 'u.s.': 1827,
 'stopped': 181,
 'contributing': 10,
 'ps4': 4,
 'great': 582,
 '4': 781,
 'available': 257,
 'today': 770,
 'sony': 28,
 'awesome': 44,
 'exclusives': 2,
 'third-party': 22,
 'must': 260,
 'plays': 175,
 '23': 202,
 'reboots': 5,
 'time': 2505,
 'class': 258,
 'show': 900,
 'revivals': 2,
 'outshine': 2,
 'competition': 71,
 'steal': 56,
 'spotlight': 53,
 'own': 552,
 'originals': 6,
 'netflix': 119,
 'hackers': 38,
 'why': 1202,
 'passwords': 11,
 'accounts': 59,
 'really': 472,
 'offer': 252,
 'selling': 141,
 'potential': 316,
 'stolen': 204,
 'tempt': 1,
 'subset': 1,
 'crossfit': 9,
 'injuries': 475,
 'affect': 65,
 'shoulder': 116,
 'question': 215,
 'does': 925,
 'risk': 241,
 'injury': 913,
 'answer': 156,
 'popularity': 21,
 'grown': 62,
 'immensely': 1,
 'while': 1649,
 'participation': 28,
 'benefits': 102,
 'positive': 121,
 'athletes': 75,
 'place': 668,
 'complex': 141,
 'joint': 86,
 'different': 362,
 'bony': 1,
 'articulations': 1,
 'soft': 29,
 'tissue': 10,
 'structures': 50,
 'interact': 8,
 'together': 317,
 '20': 610,
 'must-try': 2,
 'gravy': 17,
 'recipes': 356,
 'thanksgiving': 483,
 'feast': 31,
 'turkey': 457,
 'just': 2582,
 'same': 435,
 'little': 647,
 'snow': 415,
 'causes': 89,
 'mess': 57,
 'than': 2297,
 '100': 374,
 'crashes': 224,
 'minnesota': 415,
 'roads': 223,
 'snowfall': 50,
 'one-tenth': 2,
 'inch': 40,
 'share': 244,
 'damaged': 117,
 'cars': 359,
 'rattled': 16,
 'drivers': 317,
 'early': 1116,
 '118': 6,
 'reported': 741,
 '6': 743,
 'a.m.': 806,
 '11:30': 30,
 'patrol': 281,
 'another': 1120,
 '22': 207,
 'vehicles': 220,
 'spun': 9,
 'slid': 18,
 'off': 2056,
 'slick': 16,
 'spokesman': 90,
 'gordon': 246,
 'shank': 1,
 'weather-related': 1,
 'fatalities': 26,
 'although': 99,
 '18': 300,
 'extinction': 19,
 'rebellion': 7,
 'court': 777,
 'challenge': 183,
 'london': 192,
 'police': 4617,
 'blanket': 17,
 'ban': 176,
 'activist': 79,
 '10-day': 6,
 'demonstrations': 17,
 'across': 782,
 'ruled': 153,
 'unlawful': 22,
 'la': 225,
 'rivalry': 83,
 'meaning': 38,
 'lakers': 257,
 'clippers': 152,
 'hunt': 105,
 'championship': 341,
 'finals': 81,
 'mvp': 173,
 'kawhi': 68,
 'leonard': 130,
 'say': 1862,
 'used': 499,
 'taunts': 12,
 'booing': 6,
 'religion': 17,
 'tinseltown': 1,
 '400': 98,
 'jbl': 3,
 'link': 49,
 '500': 121,
 'smart': 116,
 'speaker': 135,
 'sale': 259,
 '150': 66,
 'equipped': 11,
 'bluetooth': 5,
 'wi-fi': 12,
 'chromecast': 1,
 'assistant': 178,
 'powerful': 154,
 'enough': 311,
 'largest': 246,
 'rooms': 47,
 'olympian': 7,
 'shawn': 27,
 'johnson': 462,
 'pregnancy': 32,
 'news': 1778,
 'husband': 258,
 'andrew': 142,
 'east': 622,
 'taking': 449,
 'viewers': 34,
 'highs': 46,
 'lows': 31,
 'vlog': 1,
 'captured': 170,
 'hearts': 25,
 'thousands': 442,
 'online': 253,
 'probably': 231,
 'buying': 114,
 'costco': 84,
 'bigger': 99,
 'always': 341,
 'better': 525,
 'items': 196,
 'sell': 128,
 'cheaper': 26,
 'warehouse': 42,
 'power': 898,
 'ranking': 110,
 'chance': 305,
 'becoming': 132,
 '2020': 1142,
 'democratic': 593,
 'presidential': 464,
 'nominee': 48,
 'combined': 55,
 'insider': 109,
 'polling': 39,
 'results': 276,
 'morning': 1560,
 'consult': 9,
 'daily': 209,
 'survey': 123,
 'create': 138,
 'weekly': 89,
 'candidates': 245,
 'teach': 28,
 'kids': 385,
 'mindfulness': 11,
 'increased': 89,
 'important': 201,
 'history': 602,
 'november': 519,
 '2': 1206,
 'royal': 222,
 'balmoral': 1,
 'castle': 62,
 'favorite': 362,
 'visiting': 103,
 'scottish': 6,
 'estate': 214,
 'century': 115,
 'cranberry': 23,
 'sauce': 65,
 "'ll": 614,
 'want': 726,
 'store-bought': 8,
 'version': 86,
 'again': 684,
 'phil': 51,
 'fulmer': 5,
 'blasts': 51,
 'ncaa': 146,
 'key': 348,
 'tennessee': 290,
 'freshman': 124,
 'eligibility': 27,
 'uros': 3,
 'plavsic': 4,
 'redshirt': 18,
 'transferred': 15,
 'arizona': 444,
 'coaching': 129,
 'allowed': 150,
 'suit': 75,
 'vols': 15,
 'season': 2592,
 'george': 201,
 'life': 931,
 'future': 365,
 'king': 261,
 'england': 509,
 'third': 513,
 'throne': 10,
 'behind': 526,
 'father': 314,
 'real': 476,
 'jeopardy': 33,
 'questions': 359,
 'culling': 1,
 'data': 281,
 'straight': 261,
 '!': 1527,
 'archives': 11,
 'stacker': 47,
 'provide': 152,
 'clue': 9,
 'then': 720,
 'present': 67,
 'form': 104,
 'following': 741,
 'slide': 36,
 'randall': 22,
 'rant': 26,
 'tiger': 190,
 'goat': 18,
 'majors': 19,
 'may': 1300,
 'understand': 80,
 'woods': 246,
 'gone': 176,
 'golf': 220,
 'course': 211,
 'desirable': 2,
 'check': 494,
 'where': 1246,
 'residents': 478,
 'would': 1644,
 '40+': 6,
 'stuffed': 27,
 'pasta': 85,
 'stuff': 77,
 'yourself': 94,
 "'bachelor": 3,
 'amanda': 16,
 'stanton': 28,
 'dating': 89,
 "'rich": 6,
 'beverly': 39,
 'hills': 137,
 'brendan': 27,
 'fitzpatrick': 46,
 'mom': 314,
 'opened': 327,
 'et': 82,
 'august': 155,
 "'m": 435,
 'sorry': 46,
 'please': 66,
 'purse': 19,
 'welcome': 122,
 'house': 1920,
 'bag': 82,
 'right': 890,
 'corgis': 2,
 '-': 1059,
 'beloved': 109,
 'pets': 76,
 'much': 882,
 'loved': 103,
 'toyota': 85,
 'supra': 25,
 ...}

In [8]:
entity2freq

{'Q80976': 1.0,
 'Q43274': 19.997,
 'Q9682': 18.511999999999997,
 'Q622899': 34.24199999999999,
 'Q212': 601.305000000002,
 'Q155223': 362.68500000000023,
 'Q3179593': 2.0,
 'Q171171': 3.0,
 'Q371820': 92.874,
 'Q1215884': 1087.8100000000056,
 'Q1406': 13.977,
 'Q94': 33.962999999999994,
 'Q49233': 71.619,
 'Q298': 31.918999999999986,
 'Q2887': 5.994,
 'Q1323662': 7.0,
 'Q19809': 120.7179999999999,
 'Q1211586': 7.0,
 'Q173476': 3.9669999999999996,
 'Q209330': 82.99399999999999,
 'Q1166': 383.1900000000007,
 'Q10479': 94.79899999999999,
 'Q466786': 13.816,
 'Q910928': 4.986,
 'Q27150138': 3.0,
 'Q14950911': 11.908999999999999,
 'Q223527': 634.9020000000012,
 'Q37320': 231.66700000000006,
 'Q286036': 3.0,
 'Q934898': 204.35100000000003,
 'Q54109': 14.856000000000002,
 'Q5092': 172.84099999999998,
 'Q29552': 615.5210000000011,
 'Q692816': 9.0,
 'Q43669564': 1.0,
 'Q22007345': 16.0,
 'Q4534544': 5.0,
 'Q1400': 146.26399999999995,
 'Q194195': 9.907,
 'Q2260058': 0.988,
 'Q824278': 4.0,
 'Q812': 556.1290000000012,
 'Q201358': 2.995,
 'Q1397': 360.33000000000027,
 'Q99': 885.0990000000035,
 'Q534238': 17.0,
 'Q408': 71.54200000000003,
 'Q3122864': 13.736999999999998,
 'Q22686': 3139.9919999999847,
 'Q29474280': 1.0,
 'Q48968552': 0.999,
 'Q95': 147.47199999999998,
 'Q355': 324.84000000000015,
 'Q312': 157.43599999999995,
 'Q3884': 227.77999999999994,
 'Q910409': 122.50500000000002,
 'Q23197': 204.3479999999999,
 'Q3517772': 30.528000000000002,
 'Q21168841': 3.847,
 'Q7687701': 137.0,
 'Q7382803': 3.6430000000000002,
 'Q1415': 154.732,
 'Q251868': 500.15500000000134,
 'Q315083': 1.0,
 'Q253205': 0.995,
 'Q1065': 49.62500000000001,
 'Q142': 45.908999999999985,
 'Q5014725': 6.0,
 'Q41187': 10.716,
 'Q907311': 111.988,
 'Q2072840': 7.998,
 'Q1527': 153.21400000000003,
 'Q6868552': 4.0,
 'Q58819597': 4.0,
 'Q84': 123.65999999999993,
 'Q976396': 160.867,
 'Q926248': 82.879,
 'Q739499': 5.98,
 'Q25025241': 14.0,
 'Q14253532': 1.0,
 'Q39531': 5.0,
 'Q29643': 12.991000000000001,
 'Q229044': 4.983,
 'Q5389': 21.389000000000003,
 'Q19864263': 4.0,
 'Q715583': 74.0,
 'Q1624317': 16.0,
 'Q55669360': 2.8329999999999997,
 'Q28401695': 2.0,
 'Q42049': 1.0,
 'Q2915430': 6.0,
 'Q7185676': 5.0,
 'Q271805': 125.96399999999987,
 'Q499767': 14.609,
 'Q10993': 198.70499999999998,
 'Q30': 1357.1230000000107,
 'Q20641700': 2.0,
 'Q941023': 44.359,
 'Q7270307': 1.976,
 'Q19822354': 1.0,
 'Q56008': 3.0,
 'Q6993430': 0.998,
 'Q23768': 65.495,
 'Q54437950': 12.0,
 'Q537407': 0.921,
 'Q786803': 2.0,
 'Q15044972': 6.0,
 'Q164177': 160.901,
 'Q166105': 57.26300000000001,
 'Q13361286': 24.991,
 'Q23633': 22.993999999999996,
 'Q129240': 4.884,
 'Q38051551': 60.92399999999999,
 'Q4911497': 26.0,
 'Q2736850': 1.998,
 'Q44294': 72.538,
 'Q5597534': 1.0,
 'Q60': 158.71999999999994,
 'Q1157038': 2.989,
 'Q7118517': 2.9939999999999998,
 'Q18205509': 14.0,
 'Q21515382': 6.993,
 'Q7201457': 4.0,
 'Q20714861': 1.0,
 'Q1030329': 3.999,
 'Q23058648': 8.997,
 'Q6952311': 7.968,
 'Q17079880': 1.0,
 'Q1370': 209.36099999999996,
 'Q7979443': 3.0,
 'Q13974': 79.41299999999998,
 'Q5875916': 15.0,
 'Q130838': 40.696999999999996,
 'Q165972': 41.934000000000005,
 'Q6502151': 2.988,
 'Q38952': 70.0,
 'Q172435': 155.136,
 'Q224164': 142.54700000000003,
 'Q38668629': 1.0,
 'Q13590412': 0.976,
 'Q18002970': 3.979,
 'Q830369': 8.0,
 'Q192152': 204.901,
 'Q750015': 1.0,
 'Q892447': 2.0,
 'Q3069684': 2.0,
 'Q172610': 2.999,
 'Q318094': 1.0,
 'Q6407533': 1.0,
 'Q1353305': 5.963,
 'Q8684': 8.0,
 'Q189': 12.873000000000001,
 'Q884': 52.72800000000001,
 'Q6276908': 5.0,
 'Q212654': 239.17799999999997,
 'Q1153176': 22.947999999999997,
 'Q193390': 1170.2960000000035,
 'Q2094335': 19.967,
 'Q7058801': 0.937,
 'Q1553390': 77.36699999999999,
 'Q1330910': 76.0,
 'Q47596': 5.0,
 'Q423': 63.96799999999999,
 'Q56226': 18.792,
 'Q431140': 4.0,
 'Q5020422': 26.0,
 'Q108067': 89.773,
 'Q19876954': 9.953,
 'Q4637383': 15.347999999999997,
 'Q2778054': 9.0,
 'Q276539': 465.9430000000002,
 'Q786705': 60.9,
 'Q44428': 1.0,
 'Q327416': 1.958,
 'Q1537791': 2.0,
 'Q27049069': 84.0,
 'Q14951016': 2.0,
 'Q29468': 607.0280000000002,
 'Q1280288': 11.888,
 'Q483551': 115.97199999999998,
 'Q1046951': 36.698,
 'Q2307187': 12.0,
 'Q7948262': 6.955,
 'Q246782': 121.97899999999998,
 'Q54078': 13.0,
 'Q94388': 13.0,
 'Q337688': 5.0,
 'Q7934247': 6.0,
 'Q488929': 1.0,
 'Q3443993': 1.0,
 'Q302612': 3.0,
 'Q1109032': 26.429000000000002,
 'Q848117': 812.6530000000005,
 'Q5889160': 5.0,
 'Q3304418': 167.98200000000003,
 'Q152316': 95.72200000000001,
 'Q36812': 40.736999999999995,
 'Q1207': 17.955000000000002,
 'Q34109': 1.999,
 'Q94015': 5.0,
 'Q119515': 3.0,
 'Q152057': 4.873,
 'Q1330390': 5.0,
 'Q2280045': 24.0,
 'Q48989064': 31.712,
 'Q632511': 17.802,
 'Q391353': 5.0,
 'Q18380286': 20.0,
 'Q204357': 5.982,
 'Q724': 75.95799999999998,
 'Q1553': 12.597,
 'Q1048314': 3.0,
 'Q15935': 71.995,
 'Q6294': 105.241,
 'Q13522520': 1.0,
 'Q320476': 164.40099999999995,
 'Q6127917': 58.989000000000004,
 'Q320484': 147.0370000000001,
 'Q1363291': 3.902,
 'Q58691': 16.0,
 'Q16970982': 7.0,
 'Q816': 229.5490000000001,
 'Q718113': 35.51,
 'Q2954009': 35.0,
 'Q848629': 23.999,
 'Q188705': 7.967,
 'Q2849484': 1.0,
 'Q162990': 77.957,
 'Q32859236': 7.0,
 'Q157376': 196.27499999999998,
 'Q1391': 198.57500000000005,
 'Q571856': 2.0,
 'Q3296292': 7.994,
 'Q7753915': 0.999,
 'Q94967': 50.861999999999995,
 'Q49238': 96.867,
 'Q213660': 7.0,
 'Q1454': 264.44399999999996,
 'Q41329': 2.872,
 'Q948442': 12.834,
 'Q28749': 1.0,
 'Q49389': 6.98,
 'Q214861': 17.879,
 'Q2869377': 10.908000000000001,
 'Q38076': 86.88299999999998,
 'Q2705946': 1.0,
 'Q7449511': 1.9220000000000002,
 'Q165657': 1.998,
 'Q193583': 18.0,
 'Q39357': 4.0,
 'Q219067': 6.968,
 'Q7587630': 2.0,
 'Q30253337': 2.996,
 'Q1749879': 1.99,
 'Q191089': 1.907,
 'Q5454161': 1.0,
 'Q7054495': 3.0,
 'Q827550': 5.0,
 'Q1509': 253.12699999999984,
 'Q93332': 0.908,
 'Q16': 64.38099999999999,
 'Q5132210': 9.838,
 'Q7894779': 7.0,
 'Q148': 371.3120000000009,
 'Q956': 30.54,
 'Q8646': 152.27200000000005,
 'Q17427': 9.929,
 'Q5257988': 1.0,
 'Q1521067': 1.0,
 'Q797819': 5.99,
 'Q186125': 34.745000000000005,
 'Q698778': 0.952,
 'Q328473': 99.90700000000001,
 'Q179426': 1.9489999999999998,
 'Q2078880': 8.84,
 'Q1917753': 2.992,
 'Q1972120': 7.0,
 'Q1508234': 1.0,
 'Q3433273': 6.0,
 'Q1591889': 33.998000000000005,
 'Q153417': 14.877,
 'Q583725': 32.57600000000001,
 'Q15613717': 1.0,
 'Q18182633': 0.942,
 'Q1939224': 2.0,
 'Q105611': 3.0,
 'Q780394': 1.86,
 'Q189635': 0.997,
 'Q7397012': 29.785,
 'Q691365': 1.0,
 'Q1777174': 3.0,
 'Q524757': 12.936,
 'Q7694479': 1.0,
 'Q5299741': 2.0,
 'Q60987711': 52.0,
 'Q5287': 133.1149999999999,
 'Q825838': 602.0280000000018,
 'Q131207': 0.965,
 'Q25067722': 2.921,
 'Q158813': 4.0,
 'Q1612': 60.51500000000001,
 'Q19947779': 5.917999999999999,
 'Q220552': 1.0,
 'Q266863': 2.0,
 'Q13973': 23.994,
 'Q48340': 180.75799999999995,
 'Q35525': 420.91900000000084,
 'Q270389': 0.992,
 'Q186068': 98.93699999999998,
 'Q464221': 1.0,
 'Q20138': 1.99,
 'Q7372419': 0.967,
 'Q7080918': 25.626,
 'Q733742': 2.911,
 'Q223522': 411.50100000000015,
 'Q17007649': 0.95,
 'Q169251': 1.0,
 'Q866': 48.989000000000004,
 'Q2526336': 4.0,
 'Q2421065': 5.0,
 'Q61653213': 1.0,
 'Q49255': 103.55299999999995,
 'Q186471': 148.805,
 'Q4819311': 23.186,
 'Q6744081': 7.0,
 'Q220347': 13.913999999999996,
 'Q847': 2.992,
 'Q192043': 1.0,
 'Q373983': 37.989999999999995,
 'Q221150': 216.20799999999988,
 'Q20134': 1.0,
 'Q503308': 48.135,
 'Q14710809': 3.0,
 'Q16554': 192.58000000000004,
 'Q16556': 91.91599999999995,
 'Q1342': 192.12399999999988,
 'Q217652': 3.0,
 'Q3043803': 6.0,
 'Q1204': 126.27999999999993,
 'Q6103950': 4.766,
 'Q851213': 0.958,
 'Q178033': 11.997,
 'Q63719': 14.0,
 'Q16213876': 16.0,
 'Q7574310': 8.0,
 'Q6833674': 5.0,
 'Q970581': 0.985,
 'Q235065': 20.412,
 'Q147077': 10.0,
 'Q17581497': 1.0,
 'Q215300': 1.0,
 'Q191874': 4.994,
 'Q1264331': 1.0,
 'Q6304496': 1.0,
 'Q7173106': 84.75299999999997,
 'Q32620': 70.59,
 'Q1089199': 4.996,
 'Q506187': 3.0,
 'Q460336': 12.405,
 'Q3560687': 14.0,
 'Q797': 53.744,
 'Q4200953': 4.0,
 'Q1132113': 0.996,
 'Q9685': 13.966999999999999,
 'Q209479': 30.925999999999995,
 'Q7579939': 57.0,
 'Q1815381': 49.985,
 'Q1723946': 29.851,
 'Q1068013': 12.0,
 'Q7143356': 2.0,
 'Q233929': 124.21899999999995,
 'Q731168': 6.0,
 'Q1060788': 3.9779999999999998,
 'Q650816': 20.932000000000002,
 'Q736574': 1.998,
 'Q13479957': 42.68399999999999,
 'Q229048': 1.0,
 'Q16759': 6.0,
 'Q43416': 15.0,
 'Q1122565': 0.999,
 'Q27924981': 3.0,
 'Q223243': 247.3789999999999,
 'Q191477': 519.788,
 'Q204862': 447.18800000000016,
 'Q4654049': 6.58,
 'Q189489': 3.0,
 'Q37459': 9.0,
 'Q127856': 20.961999999999996,
 'Q494556': 11.995000000000001,
 'Q2586040': 1.0,
 'Q1456': 135.34199999999998,
 'Q17943': 26.439,
 'Q3044445': 14.0,
 'Q51694': 3.999,
 'Q107393': 1.0,
 'Q22': 8.644,
 'Q3976560': 1.994,
 'Q5599116': 8.0,
 'Q334204': 8.0,
 'Q632014': 9.966000000000001,
 'Q2747220': 11.937999999999999,
 'Q16147495': 48.33499999999999,
 'Q2631300': 58.991,
 'Q230492': 54.50100000000001,
 'Q27829251': 19.0,
 'Q18517638': 3.0,
 'Q2290907': 1.0,
 'Q5038832': 5.9750000000000005,
 'Q7952573': 12.0,
 'Q2493039': 3.0,
 'Q2491944': 0.988,
 'Q25265': 2.0,
 'Q29469139': 2.0,
 'Q944845': 102.0,
 'Q4977062': 5.8790000000000004,
 'Q24976': 10.716,
 'Q594428': 22.0,
 'Q645968': 9.974,
 'Q1967350': 3.0,
 'Q9212': 62.268,
 'Q3687081': 2.0,
 'Q2892868': 10.714,
 'Q16563': 131.94899999999998,
 'Q5324273': 2.95,
 'Q7716694': 1.0,
 'Q339348': 6.0,
 'Q12013': 12.908999999999999,
 'Q18358010': 7.0,
 'Q2707177': 57.532,
 'Q5345471': 1.0,
 'Q785130': 2.0,
 'Q18631526': 19.938,
 'Q16236747': 20.0,
 'Q272223': 218.28700000000003,
 'Q31188935': 1.0,
 'Q121783': 259.75,
 'Q42493': 8.978,
 'Q24204': 127.94800000000001,
 'Q186545': 45.95,
 'Q5599757': 4.0,
 'Q1428953': 1.0,
 'Q124179': 5.996,
 'Q189965': 1.0,
 'Q124147': 1.0,
 'Q182890': 1.0,
 'Q682710': 1.0,
 'Q43359': 1.998,
 'Q3303463': 4.0,
 'Q2987371': 2.0,
 'Q34579349': 8.0,
 'Q1158012': 14.0,
 'Q179295': 42.001000000000005,
 'Q916998': 0.984,
 'Q86483': 71.00999999999998,
 'Q112055': 7.0,
 'Q1428': 204.1769999999999,
 'Q1795024': 10.989,
 'Q189490': 52.0,
 'Q43668': 96.62000000000002,
 'Q19020': 40.73299999999999,
 'Q57456989': 4.93,
 'Q55': 4.951,
 'Q6663': 4.969,
 'Q177054': 26.806,
 'Q4507421': 0.97,
 'Q350843': 113.94299999999998,
 'Q16199304': 3.0,
 'Q3874799': 46.974000000000004,
 'Q2495362': 70.96600000000001,
 'Q190878': 0.915,
 'Q40715': 30.938,
 'Q558664': 10.0,
 'Q5377422': 1.0,
 'Q15280': 5.998,
 'Q8877': 2.999,
 'Q373822': 0.934,
 'Q2920352': 6.0,
 'Q21': 41.54699999999998,
 'Q26876': 41.98400000000001,
 'Q1770624': 53.991,
 'Q48808914': 1.0,
 'Q14950404': 5.984,
 'Q221878': 378.96799999999996,
 'Q272059': 226.67900000000003,
 'Q1192805': 14.988,
 'Q4546763': 1.0,
 'Q8058759': 4.0,
 'Q753641': 2.0,
 'Q16234568': 7.0,
 'Q15267489': 8.0,
 'Q8333': 133.67000000000002,
 'Q65598596': 1.0,
 'Q173': 106.96999999999994,
 'Q79875': 7.826,
 'Q265538': 484.8210000000006,
 'Q908027': 4.0,
 'Q35907': 2.96,
 'Q844': 6.8149999999999995,
 'Q6781508': 8.918,
 'Q204711': 61.89199999999999,
 'Q1057845': 1.0,
 'Q19610114': 6.9990000000000006,
 'Q56641109': 2.0,
 'Q29570': 35.969,
 'Q341174': 20.894,
 'Q428064': 2.0,
 'Q226062': 5.9990000000000006,
 'Q4267401': 2.0,
 'Q642345': 10.0,
 'Q574192': 43.524000000000015,
 'Q18148623': 1.0,
 'Q7786369': 6.879,
 'Q929872': 19.75,
 'Q311269': 52.65,
 'Q843': 30.855999999999998,
 'Q258': 11.822999999999999,
 'Q359442': 115.60899999999998,
 'Q4379869': 14.0,
 'Q762891': 0.994,
 'Q174684': 1.0,
 'Q43': 256.57100000000014,
 'Q406': 3.99,
 'Q20707362': 6.546,
 'Q3033250': 6.0,
 'Q258999': 2.0,
 'Q58024': 7.998,
 'Q498515': 1.0,
 'Q1052281': 2.0,
 'Q246': 5.998,
 'Q507811': 1.0,
 'Q5188416': 0.995,
 'Q1153401': 0.992,
 'Q306966': 27.268,
 'Q7163731': 4.0,
 'Q223507': 337.19500000000005,
 'Q795406': 50.982,
 'Q1660187': 1.0,
 'Q14213': 38.862,
 'Q473239': 67.994,
 'Q11268': 98.88699999999996,
 'Q6451434': 35.852,
 'Q422917': 18.749000000000002,
 'Q21572825': 56.89,
 'Q4151335': 31.759,
 'Q19953601': 65.0,
 'Q4818639': 11.914,
 'Q7171565': 13.933000000000002,
 'Q3021725': 1.0,
 'Q861508': 1.0,
 'Q750788': 6.963,
 'Q18121212': 17.987,
 'Q2429253': 279.8039999999999,
 'Q858': 506.0930000000014,
 'Q3018729': 26.974,
 'Q1017017': 5.0,
 'Q867496': 8.0,
 'Q1603': 125.78099999999995,
 'Q1567585': 4.0,
 'Q7570033': 3.923,
 'Q1066476': 1.0,
 'Q48525': 50.444,
 'Q11211': 88.93299999999998,
 'Q771': 141.48600000000002,
 'Q54086': 1.0,
 'Q1387': 53.71299999999999,
 'Q54082': 2.984,
 'Q1066823': 173.05900000000003,
 'Q214700': 41.767,
 'Q55602672': 13.0,
 'Q56860229': 21.0,
 'Q47138769': 51.0,
 'Q129605': 53.997,
 'Q27734163': 11.95,
 'Q824': 75.14699999999999,
 'Q6460028': 147.931,
 'Q1189695': 1.9569999999999999,
 'Q7227715': 1.0,
 'Q621532': 6.0,
 'Q1143589': 1.0,
 'Q971195': 4.943,
 'Q188920': 21.741,
 'Q193753': 260.171,
 'Q28561876': 1.9569999999999999,
 'Q27765737': 1.0,
 'Q1941943': 0.992,
 'Q822': 39.66300000000001,
 'Q3820': 6.930000000000001,
 'Q40464': 5.8629999999999995,
 'Q6661': 5.0,
 'Q45772': 9.0,
 'Q37079': 6.968,
 'Q94831': 15.0,
 'Q483507': 24.97,
 'Q42315001': 1.0,
 'Q445405': 5.0,
 'Q28148022': 1.0,
 'Q159347': 0.943,
 'Q165911': 1.0,
 'Q17198340': 8.0,
 'Q44857': 36.958,
 'Q60768202': 1.0,
 'Q4926628': 1.0,
 'Q2295321': 0.909,
 'Q62': 126.01600000000005,
 'Q213205': 101.889,
 'Q932981': 3.0,
 'Q6023149': 5.0,
 'Q6346': 105.31899999999999,
 'Q1148035': 5.0,
 'Q121176': 0.975,
 'Q16557': 184.888,
 'Q1100609': 23.996,
 'Q82518': 24.942999999999998,
 'Q213417': 479.35599999999994,
 'Q4013318': 1.0,
 'Q1165712': 6.992999999999999,
 'Q4776474': 104.46499999999999,
 'Q324523': 157.89999999999998,
 'Q139564': 6.991,
 'Q108127': 33.576,
 'Q1706317': 25.895999999999997,
 'Q4738450': 1.0,
 'Q5083': 194.57799999999978,
 'Q725967': 4.9190000000000005,
 'Q47664': 2.0,
 'Q119798': 4.0,
 'Q1574020': 2.951,
 'Q447967': 2.0,
 'Q509799': 1.0,
 'Q212559': 0.987,
 'Q164182': 1.0,
 'Q25206705': 1.0,
 'Q2736': 7.898000000000001,
 'Q159766': 1.0,
 'Q185142': 16.901999999999997,
 'Q324563': 15.846,
 'Q246992': 18.97,
 'Q3064528': 1.0,
 'Q5956645': 10.992,
 'Q696334': 14.0,
 'Q14169302': 11.985,
 'Q234712': 36.997,
 'Q190519': 40.0,
 'Q5474595': 18.986000000000004,
 'Q12439': 151.53799999999993,
 'Q250062': 81.44199999999998,
 'Q19079': 18.017999999999997,
 'Q156353': 8.995000000000001,
 'Q2249117': 49.0,
 'Q183': 26.640999999999995,
 'Q38280': 10.0,
 'Q2821724': 138.09099999999995,
 'Q172741': 7.9799999999999995,
 'Q389020': 1.0,
 'Q6727910': 1.0,
 'Q14950726': 13.0,
 'Q622747': 20.826000000000004,
 'Q432437': 5.0,
 'Q635484': 1.988,
 'Q178516': 2.991,
 'Q6279': 303.52799999999996,
 'Q671510': 1.999,
 'Q56754834': 2.0,
 'Q28810445': 2.0,
 'Q39075157': 15.475000000000001,
 'Q3897557': 20.0,
 'Q271880': 317.43499999999995,
 'Q596953': 2.0,
 'Q6767270': 19.994,
 'Q1537': 135.20299999999992,
 'Q7409856': 6.99,
 'Q16212133': 1.0,
 'Q334634': 48.94799999999999,
 'Q2156427': 2.0,
 'Q4964973': 5.0,
 'Q3105215': 35.949999999999996,
 'Q5461782': 14.0,
 'Q54853': 0.99,
 'Q52290858': 3.0,
 'Q650807': 25.6,
 'Q302581': 62.727999999999994,
 'Q213837': 218.80300000000003,
 'Q1967244': 2.0,
 'Q913796': 1.998,
 'Q155476': 0.965,
 'Q25220861': 1.0,
 'Q1066807': 62.550000000000004,
 'Q169898': 11.813,
 'Q877332': 0.933,
 'Q18097': 10.445000000000002,
 'Q19317': 1.822,
 'Q124138': 1.0,
 'Q253414': 2.928,
 'Q34581': 3.998,
 'Q738462': 0.928,
 'Q11995': 22.861,
 'Q5449967': 1.0,
 'Q7203100': 1.0,
 'Q223511': 293.759,
 'Q6764512': 4.0,
 'Q330120': 213.27399999999986,
 'Q3183': 2.976,
 'Q446735': 9.0,
 'Q538901': 2.0,
 'Q3515563': 1.0,
 'Q372093': 2.0,
 'Q11220': 31.264000000000003,
 'Q360141': 3.998,
 'Q1458501': 1.0,
 'Q16238277': 1.0,
 'Q28403248': 1.0,
 'Q1135486': 2.0,
 'Q539444': 2.0,
 'Q1508630': 1.0,
 'Q942326': 5.891,
 'Q4235': 33.993,
 'Q542145': 8.834,
 'Q1450606': 11.0,
 'Q1408': 289.2819999999998,
 'Q3112728': 6.0,
 'Q260042': 4.8919999999999995,
 'Q40469': 259.706,
 'Q22006111': 12.0,
 'Q21062969': 16.0,
 'Q2283': 194.601,
 'Q478214': 15.22,
 'Q1665543': 1.0,
 'Q11690': 35.489999999999995,
 'Q248': 15.0,
 'Q9588': 18.697,
 'Q1146685': 11.918,
 'Q5048719': 1.0,
 'Q1021512': 28.441999999999997,
 'Q32333487': 2.0,
 'Q54103417': 3.812,
 'Q355567': 1.996,
 'Q34': 17.785999999999998,
 'Q6846901': 19.0,
 'Q1106511': 16.991,
 'Q504309': 141.40399999999997,
 'Q10862290': 23.0,
 'Q746830': 10.906,
 'Q59465': 13.0,
 'Q1060537': 7.0,
 'Q5370765': 3.0,
 'Q920037': 8.975999999999999,
 'Q6499202': 30.367999999999995,
 'Q52': 83.982,
 'Q337377': 147.977,
 'Q18631600': 80.96100000000001,
 'Q981788': 89.958,
 'Q14621144': 2.0,
 'Q11081': 37.853999999999985,
 'Q2360205': 1.994,
 'Q15825471': 15.969,
 'Q219714': 403.78800000000047,
 'Q205033': 232.7710000000001,
 'Q2750084': 18.906,
 'Q49227': 28.968999999999998,
 'Q631194': 12.971,
 'Q17020464': 1.0,
 'Q247869': 9.991000000000001,
 'Q753950': 6.0,
 'Q299745': 1.974,
 'Q11701': 238.53900000000002,
 'Q3297873': 6.0,
 'Q3564723': 2.9459999999999997,
 'Q429050': 33.981,
 'Q1062280': 4.9719999999999995,
 'Q36159': 194.5389999999998,
 'Q1196431': 0.911,
 'Q65': 283.452,
 'Q3277465': 2.995,
 'Q332747': 1.0,
 'Q3157332': 4.0,
 'Q713960': 2.985,
 'Q720027': 217.85200000000003,
 'Q219602': 347.8100000000003,
 'Q2843705': 1.0,
 'Q536705': 8.992,
 'Q2937293': 1.0,
 'Q1647788': 40.82,
 'Q2060485': 57.0,
 'Q3172032': 2.0,
 'Q4545473': 0.92,
 'Q985348': 20.950000000000003,
 'Q7920374': 10.0,
 'Q19716893': 177.79899999999995,
 'Q842': 0.999,
 'Q6999': 0.998,
 'Q6269767': 1.0,
 'Q2052291': 2.0,
 'Q26251644': 3.0,
 'Q255911': 16.968,
 'Q1547320': 65.963,
 'Q3182972': 4.0,
 'Q9050707': 3.0,
 'Q170433': 0.991,
 'Q112915': 6.968,
 'Q5226214': 41.0,
 'Q936190': 6.929,
 'Q196342': 0.989,
 'Q276099': 1.0,
 'Q7287916': 8.0,
 'Q878942': 5.808,
 'Q2301614': 1.0,
 'Q5003502': 0.988,
 'Q7459509': 2.0,
 'Q5131553': 69.93600000000002,
 'Q826751': 19.983999999999998,
 'Q6738184': 4.987,
 'Q1133513': 30.0,
 'Q4661865': 20.988,
 'Q196185': 49.998,
 'Q180950': 60.28799999999999,
 'Q2598396': 14.0,
 'Q7957641': 14.0,
 'Q23556': 161.23099999999997,
 'Q127530': 12.987,
 'Q32396': 41.977999999999994,
 'Q200092': 1.962,
 'Q1439': 431.7950000000007,
 'Q7304859': 12.992,
 'Q10608114': 9.697000000000001,
 'Q57313601': 5.0,
 'Q61504': 6.0,
 'Q368215': 8.996,
 'Q48493': 9.911,
 'Q43874': 6.0,
 'Q13979': 18.605,
 'Q493755': 1.0,
 'Q1546': 168.52,
 'Q959451': 13.0,
 'Q166032': 55.748,
 'Q21086634': 9.996,
 'Q2766': 42.22700000000001,
 'Q24907733': 0.999,
 'Q20007086': 2.0,
 'Q9340': 2.0,
 'Q207784': 2.0,
 'Q928122': 1.0,
 'Q11466': 8.0,
 'Q191001': 0.989,
 'Q1192310': 72.0,
 'Q936661': 19.0,
 'Q3369361': 6.0,
 'Q3028907': 69.746,
 'Q5070058': 14.0,
 'Q3992490': 18.0,
 'Q193692': 4.889,
 'Q2672785': 1.0,
 'Q2913791': 6.5329999999999995,
 'Q18588994': 1.9889999999999999,
 'Q26966': 3.999,
 'Q2571085': 0.999,
 'Q11338233': 0.998,
 'Q49384': 1.0,
 'Q31235': 1.0,
 'Q205447': 0.992,
 'Q179673': 0.996,
 'Q128471': 37.999,
 'Q729478': 68.964,
 'Q782557': 1.0,
 'Q2759586': 14.0,
 'Q815817': 57.998000000000005,
 'Q48742114': 1.0,
 'Q30133334': 3.0,
 'Q490': 5.918,
 'Q38': 52.328999999999986,
 'Q189125': 3.924,
 'Q1136': 10.0,
 'Q861206': 20.0,
 'Q1163715': 219.397,
 'Q848352': 4.926,
 'Q5875771': 2.0,
 'Q3564661': 9.86,
 'Q2352316': 5.0,
 'Q7623127': 10.848,
 'Q170581': 139.097,
 'Q182788': 7.9959999999999996,
 'Q233510': 6.0,
 'Q11303396': 2.0,
 'Q146575': 0.979,
 'Q14950651': 17.791,
 'Q5048309': 29.0,
 'Q176483': 1.0,
 'Q202466': 2.0,
 'Q30063347': 32.0,
 'Q954': 9.987,
 'Q1857407': 6.976,
 'Q1425378': 4.0,
 'Q233309': 1.927,
 'Q17060160': 26.0,
 'Q7414': 84.66799999999998,
 'Q39046747': 8.985000000000001,
 'Q206859': 28.945999999999998,
 'Q12147': 8.0,
 'Q111168': 5.925999999999999,
 'Q7138568': 1.0,
 'Q49085': 33.72999999999999,
 'Q174923': 2.985,
 'Q461469': 2.991,
 'Q1009963': 1.0,
 'Q19263662': 1.962,
 'Q59555084': 9.985,
 'Q11114344': 1.886,
 'Q653251': 0.993,