In [1]:
import pandas as pd
from tqdm import tqdm
import random

## Behaviors Parse

In [2]:
source = (
    "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/dev_small/behaviors.tsv"
)
behaviors = pd.read_table(
    source,
    header=None,
    names=["impression_id", "user_id", "time", "clicked_news", "impressions"],
)

behaviors.clicked_news.fillna(" ", inplace=True)
behaviors.impressions = behaviors.impressions.str.split()
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [3]:
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [4]:
user2int = {}
for row in behaviors.itertuples(index=False):
    if row.user_id not in user2int:
        user2int[row.user_id] = len(user2int) + 1
pd.DataFrame(user2int.items(), columns=["user", "int"])
print(f"Please modify `num_users` in `src/config.py` into 1 + {len(user2int)}")
for row in behaviors.itertuples():
    behaviors.at[row.Index, "user_id"] = user2int[row.user_id]
behaviors

Please modify `num_users` in `src/config.py` into 1 + 50000

,impression_id,user_id,time,clicked_news,impressions
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,49997,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [5]:
negative_sampling_ratio = 2
for row in tqdm(behaviors.itertuples(), desc="Balancing data"):
    positive = iter(
        [x for x in row.impressions if x.endswith("1")]
    )  # lấy các impressions kết thúc bằng 1 cho vào vòng lặp
    negative = [
        x for x in row.impressions if x.endswith("0")
    ]  # lấy các impressions kết thúc bằng 0 cho vào vòng lặp

    random.shuffle(negative)  # xáo trộn các phần tử trong negative
    negative = iter(negative)  # lấy các phần tử trong negative cho vào vòng lặp

    pairs = []
    try:  #
        while True:  #
            pair = [next(positive)]  #
            for _ in range(negative_sampling_ratio):  #
                pair.append(
                    next(negative)
                )  # chỉ lấy 1 phần tử positive và 2 phần tử negative ngẫu nhiên
            pairs.append(pair)  #
    except StopIteration:  #
        pass  #
    behaviors.at[row.Index, "impressions"] = pairs  #
    # break

Balancing data: 73152it [00:04, 17657.42it/s]

In [6]:
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[[N31958-1, N33176-0, N58098-0]]"
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[[N23513-1, N36779-0, N20036-0]]"
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[[N5940-1, N55237-0, N53283-0]]"
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[[N15347-1, N29091-0, N29862-0]]"
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[[N5940-1, N29393-0, N49285-0], [N31958-1, N19..."
...,...,...,...,...,...
73147,73148,49997,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[[N38324-1, N57368-0, N23675-0], [N6916-1, N14..."
73148,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[[N11390-1, N53572-0, N62365-0]]"
73149,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[[N60215-1, N41099-0, N11390-0], [N54562-1, N5..."
73150,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[[N20036-1, N20187-0, N30290-0]]"
73151,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[[N21679-1, N29862-0, N29091-0]]"

In [7]:
behaviors = (
    behaviors.explode("impressions")
    .dropna(subset=["impressions"])
    .reset_index(drop=True)
)

behaviors[["candidate_news", "clicked"]] = pd.DataFrame(
    behaviors.impressions.map(
        lambda x: (
            " ".join([e.split("-")[0] for e in x]),
            " ".join([e.split("-")[1] for e in x]),
        )
    ).tolist()
)
behaviors
# behaviors.to_csv(target, sep='\t', index=False, columns=['user', 'clicked_news', 'candidate_news', 'clicked'])

,impression_id,user_id,time,clicked_news,impressions,candidate_news,clicked
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N31958-1, N33176-0, N58098-0]",N31958 N33176 N58098,1 0 0
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N23513-1, N36779-0, N20036-0]",N23513 N36779 N20036,1 0 0
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N5940-1, N55237-0, N53283-0]",N5940 N55237 N53283,1 0 0
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N15347-1, N29091-0, N29862-0]",N15347 N29091 N29862,1 0 0
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N29393-0, N49285-0]",N5940 N29393 N49285,1 0 0
...,...,...,...,...,...,...,...
107270,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N11390-1, N53572-0, N62365-0]",N11390 N53572 N62365,1 0 0
107271,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N60215-1, N41099-0, N11390-0]",N60215 N41099 N11390,1 0 0
107272,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N54562-1, N58188-0, N6916-0]",N54562 N58188 N6916,1 0 0
107273,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N20036-1, N20187-0, N30290-0]",N20036 N20187 N30290,1 0 0
107274,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N21679-1, N29862-0, N29091-0]",N21679 N29862 N29091,1 0 0

----
## Test config yaml

In [8]:
# read yaml config file
import yaml

with open("config.yaml", "r") as f:
    config = yaml.load(f, Loader=yaml.FullLoader)
config

{'BASE_CONFIG': {'num_epochs': 2,
  'num_batches_show_loss': 100,
  'num_batches_validate': 1000,
  'batch_size': 128,
  'learning_rate': 0.0001,
  'num_workers': 4,
  'num_clicked_news_a_user': 50,
  'num_words_title': 20,
  'num_words_abstract': 50,
  'word_freq_threshold': 1,
  'entity_freq_threshold': 2,
  'entity_confidence_threshold': 0.5,
  'negative_sampling_ratio': 2,
  'dropout_probability': 0.2,
  'num_words': '1 + 70974',
  'num_categories': '1 + 274',
  'num_entities': '1 + 12957',
  'num_users': '1 + 50000',
  'word_embedding_dim': 300,
  'category_embedding_dim': 100,
  'entity_embedding_dim': 100,
  'query_vector_dim': 200},
 'NRMS_CONFIG': {'dataset_attributes': {'news': ['title'], 'record': []},
  'num_attention_heads': 15}}

In [9]:
config["BASE_CONFIG"]["num_epochs"]

2

-----

## News Parse

In [10]:
import csv
import pandas as pd
from nltk.tokenize import word_tokenize
import json

In [11]:
source_news = (
    "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/dev_small/news.tsv"
)
df_news = pd.read_table(
    source_news,
    header=None,
    usecols=[0, 1, 2, 3, 4, 6, 7],
    quoting=csv.QUOTE_NONE,
    names=[
        "id",
        "category",
        "subcategory",
        "title",
        "abstract",
        "title_entities",
        "abstract_entities",
    ],
)


df_news.title_entities.fillna("[]", inplace=True)

df_news.abstract_entities.fillna("[]", inplace=True)

df_news.fillna(" ", inplace=True)


df_news

,id,category,subcategory,title,abstract,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...","[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...
42411,N63550,lifestyle,lifestyleroyals,Why Kate & Meghan Were on Different Balconies ...,There's no scandal here. It's all about the or...,"[{""Label"": ""Meghan, Duchess of Sussex"", ""Type""...",[]
42412,N30345,entertainment,entertainment-celebrity,See the stars at the 2019 Baby2Baby gala,Stars like Chrissy Teigen and Kate Hudson supp...,[],"[{""Label"": ""Kate Hudson"", ""Type"": ""P"", ""Wikida..."
42413,N30135,news,newsgoodnews,Tennessee judge holds lawyer's baby as he swea...,Tennessee Court of Appeals Judge Richard Dinki...,"[{""Label"": ""Tennessee"", ""Type"": ""G"", ""Wikidata...","[{""Label"": ""Tennessee Court of Appeals"", ""Type..."
42414,N44276,autos,autossports,Best Sports Car Deals for October,,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
42415,N39563,sports,more_sports,Shall we dance: Sports stars shake their leg,,[],[]

In [12]:
category2int = {}
word2int = {}
word2freq = {}
entity2int = {}
entity2freq = {}

In [13]:
for row in df_news.itertuples(index=False):

    # gộp cả category và subcategory vào category2int

    if row.category not in category2int:
        category2int[row.category] = len(category2int) + 1
    if row.subcategory not in category2int:
        category2int[row.subcategory] = len(category2int) + 1

    # ----- đếm số lần xuất hiện của các từ trong title và abstract
    for w in word_tokenize(
        row.title.lower()
    ):  # tokenize title đã được chuyển thành chữ thường
        if w not in word2freq:
            word2freq[w] = 1
        else:
            word2freq[w] += 1

    for w in word_tokenize(
        row.abstract.lower()
    ):  # tokenize abstract đã được chuyển thành chữ thường
        if w not in word2freq:
            word2freq[w] = 1
        else:
            word2freq[w] += 1

    for e in json.loads(row.title_entities):
        times = len(e["OccurrenceOffsets"]) * e["Confidence"]
        if times > 0:
            if e["WikidataId"] not in entity2freq:
                entity2freq[e["WikidataId"]] = times
            else:
                entity2freq[e["WikidataId"]] += times

    for e in json.loads(row.abstract_entities):
        times = len(e["OccurrenceOffsets"]) * e["Confidence"]
        if times > 0:
            if e["WikidataId"] not in entity2freq:
                entity2freq[e["WikidataId"]] = times
            else:
                entity2freq[e["WikidataId"]] += times

for k, v in word2freq.items():
    if v >= config["BASE_CONFIG"]["word_freq_threshold"]:
        word2int[k] = len(word2int) + 1

for k, v in entity2freq.items():
    if v >= config["BASE_CONFIG"]["entity_freq_threshold"]:
        entity2int[k] = len(entity2int) + 1

In [14]:
category2int

{'lifestyle': 1,
 'lifestyleroyals': 2,
 'health': 3,
 'medical': 4,
 'news': 5,
 'newsworld': 6,
 'voices': 7,
 'sports': 8,
 'football_nfl': 9,
 'newsscienceandtechnology': 10,
 'weather': 11,
 'weathertopstories': 12,
 'weightloss': 13,
 'entertainment': 14,
 'gaming': 15,
 'foodanddrink': 16,
 'recipes': 17,
 'nutrition': 18,
 'autos': 19,
 'autosenthusiasts': 20,
 'wellness': 21,
 'health-news': 22,
 'celebrity': 23,
 'travel': 24,
 'travelarticle': 25,
 'autossuvs': 26,
 'newspolitics': 27,
 'more_sports': 28,
 'traveltripideas': 29,
 'video': 30,
 'animals': 31,
 'autosnews': 32,
 'newsbusiness': 33,
 'golf': 34,
 'newstrends': 35,
 'lifestylepetsanimals': 36,
 'football_ncaa': 37,
 'tv': 38,
 'tv-gallery': 39,
 'basketball_nba': 40,
 'shop-all': 41,
 'newsphotos': 42,
 'lifestylemindandsoul': 43,
 'basketball_ncaa': 44,
 'finance': 45,
 'finance-real-estate': 46,
 'quickandeasy': 47,
 'tv-celebrity': 48,
 'lifestyleparenting': 49,
 'travelnews': 50,
 'movies': 51,
 'movies-gallery': 52,
 'lifestylebuzz': 53,
 'tipsandtricks': 54,
 'autosbuying': 55,
 'shop-apparel': 56,
 'autostrucks': 57,
 'lifestyledidyouknow': 58,
 'restaurantsandnews': 59,
 'finance-saving-investing': 60,
 'viral': 61,
 'lifestylehoroscope': 62,
 'finance-taxes': 63,
 'lifestyleshopping': 64,
 'newsopinion': 65,
 'finance-companies': 66,
 'newscrime': 67,
 'finance-savemoney': 68,
 'mentalhealth': 69,
 'newsus': 70,
 'lifestylesmartliving': 71,
 'fitness': 72,
 'autosclassics': 73,
 'autosluxury': 74,
 'baseball_mlb': 75,
 'newsgoodnews': 76,
 'retirement': 77,
 'lifestylehomeandgarden': 78,
 'ads-lung-health': 79,
 'finance-top-stocks': 80,
 'soccer_epl': 81,
 'personalfinance': 82,
 'music': 83,
 'musicnews': 84,
 'lifestyledecor': 85,
 'causes': 86,
 'newsoffbeat': 87,
 'tennis': 88,
 'traveltips': 89,
 'videos': 90,
 'lifestylepets': 91,
 'weight-loss': 92,
 'finance-career': 93,
 'lifestylecareer': 94,
 'markets': 95,
 'shop-holidays': 96,
 'lifestylebeauty': 97,
 'movievideo': 98,
 'finance-retirement': 99,
 'mma': 100,
 'finance-career-education': 101,
 'lifestylefashion': 102,
 'foodnews': 103,
 'racing': 104,
 'finance-billstopay': 105,
 'movies-celebrity': 106,
 'lifestylecelebstyle': 107,
 'newsweather': 108,
 'popculture': 109,
 'tvnews': 110,
 'beverages': 111,
 'lifestylefamilyandrelationships': 112,
 'music-gallery': 113,
 'entertainment-celebrity': 114,
 'soccer': 115,
 'musicvideos': 116,
 'healthagingwell': 117,
 'lifestylelovesex': 118,
 'causes-green-living': 119,
 'autosresearchguides': 120,
 'football_nfl_videos': 121,
 'advice': 122,
 'factcheck': 123,
 'outdoors': 124,
 'music-celebrity': 125,
 'baseball_mlb_videos': 126,
 'lifestylediy': 127,
 'science': 128,
 'movienews': 129,
 'entertainment-books': 130,
 'travel-videos': 131,
 'football_ncaa_videos': 132,
 'shop-home-goods': 133,
 'newsfactcheck': 134,
 'financenews': 135,
 'autossports': 136,
 'finance-credit': 137,
 'travel-points-rewards': 138,
 'humor': 139,
 'lifestylecleaningandorganizing': 140,
 'autospassenger': 141,
 'lifestyleweddings': 142,
 'autossema': 143,
 'autosmotorcycles': 144,
 'kids': 145,
 'fun': 146,
 'icehockey_nhl': 147,
 'peopleandplaces': 148,
 'foodrecipes': 149,
 'lifestylevideo': 150,
 'holidays': 151,
 'seasonal': 152,
 'music-awards': 153,
 'hollywood': 154,
 'autosownership': 155,
 'finance-small-business': 156,
 'tv-recaps': 157,
 'finance-video': 158,
 'boxing-mma': 159,
 'tvvideos': 160,
 'autosreview': 161,
 'empowering-the-planet': 162,
 'finance-technology': 163,
 'finance-home-loans': 164,
 'lifestylefamily': 165,
 'autosvideonew': 166,
 'boxing': 167,
 'games': 168,
 'causes-food-insecurity': 169,
 'autoscartech': 170,
 'movies-oscars': 171,
 'technologyinvesting': 172,
 'autoshybrids': 173,
 'lifestylerelationships': 174,
 'causes-animals': 175,
 'celebritynews': 176,
 'autostokyo': 177,
 'elections-2020-us': 178,
 'finance-insurance': 179,
 'pregnancyparenting': 180,
 'healthnews': 181,
 'causes-poverty': 182,
 'music-grammys': 183,
 'lifestyleanimals': 184,
 'lifestyle-wedding': 185,
 'autosresearch': 186,
 'career-news': 187,
 'newsscience': 188,
 'basketball_ncaa_videos': 189,
 'autoscompact': 190,
 'lifestyle-news-feature': 191,
 'finance-education': 192,
 'finance-healthcare': 193,
 'shop-computers-electronics': 194,
 'awards': 195,
 'golfvideos': 196,
 'autosvans': 197,
 'autosvideos': 198,
 'sports_news': 199,
 'middleeast': 200,
 'middleeast-top-stories': 201,
 'causes-environment': 202,
 'lifestyletravel': 203,
 'cocktails': 204,
 'newstvmedia': 205,
 'travel-adventure-travel': 206,
 'photos': 207,
 'soccer_mls': 208,
 'ads-latingrammys': 209,
 'reviews': 210,
 'cookingschool': 211,
 'basketball_nba_videos': 212,
 'basketball_wnba': 213,
 'mmaufc': 214,
 'tv-reviews': 215,
 'narendramodi_opinion': 216,
 'lifestylemarriage': 217,
 'finance-homesandpropertysection': 218,
 'cooking': 219,
 'games-news': 220,
 'newsnational': 221,
 'movies-awards': 222,
 'people-places': 223,
 'awardstyle': 224,
 'company-news': 225,
 'tunedin': 226,
 'wines': 227,
 'newsworldpolitics': 228,
 'othersports': 229,
 'yearinoffbeatgoodnews': 230,
 'newsrealestate': 231,
 'lifestyleshoppinghomegarden': 232,
 'cma-awards': 233,
 'downtime': 234,
 'finance-mutual-funds': 235,
 'newsvideo': 236,
 'comedy': 237,
 'lifestylehoroscopefish': 238,
 'baseball': 239,
 'topnews': 240,
 'newsother': 241,
 'foodtips': 242,
 'tv-golden-globes': 243,
 'causes-disaster-relief': 244,
 'finance-auto-insurance': 245,
 'weatherfullscreenmaps': 246,
 'causes-military-appreciation': 247,
 'newsvideos': 248,
 'indepth': 249,
 'wonder': 250,
 'healthyliving': 251,
 'lifestylewhatshot': 252,
 'lifestylestyle': 253,
 'shop-books-movies-tv': 254,
 'health-cancer': 255,
 'finance-startinvesting': 256,
 'ustravel': 257,
 'newstechnology': 258,
 'relationships': 259,
 'internationaltravel': 260,
 'traveltrivia': 261,
 'cardio': 262,
 'newselection2020': 263,
 'tv-golden-globes-video': 264,
 'autosmidsize': 265,
 'autoslosangeles': 266,
 'celebhub': 267}

In [15]:
word2freq

{'the': 91782,
 'brands': 66,
 'queen': 140,
 'elizabeth': 284,
 ',': 67425,
 'prince': 256,
 'charles': 158,
 'and': 32593,
 'philip': 24,
 'swear': 7,
 'by': 5994,
 'shop': 178,
 'notebooks': 1,
 'jackets': 27,
 'more': 4181,
 'that': 11575,
 'royals': 82,
 'ca': 420,
 "n't": 4572,
 'live': 600,
 'without': 704,
 '.': 63729,
 'dispose': 7,
 'of': 37111,
 'unwanted': 14,
 'prescription': 40,
 'drugs': 107,
 'during': 1871,
 'dea': 32,
 "'s": 25316,
 'take': 1229,
 'back': 2192,
 'day': 1759,
 'cost': 232,
 'trump': 3894,
 'aid': 126,
 'freeze': 54,
 'in': 40082,
 'trenches': 5,
 'ukraine': 656,
 'war': 287,
 'lt.': 84,
 'ivan': 11,
 'molchanets': 1,
 'peeked': 2,
 'over': 3571,
 'a': 46506,
 'parapet': 1,
 'sand': 26,
 'bags': 61,
 'at': 12521,
 'front': 434,
 'line': 567,
 'next': 1226,
 'to': 46739,
 'him': 1667,
 'was': 11527,
 'an': 6495,
 'empty': 61,
 'helmet': 83,
 'propped': 2,
 'up': 4190,
 'trick': 100,
 'snipers': 6,
 'already': 457,
 'perforated': 1,
 'with': 13255,
 'multiple': 413,
 'holes': 56,
 'i': 3192,
 'nba': 454,
 'wife': 359,
 'here': 2693,
 'how': 2747,
 'it': 9628,
 'affected': 75,
 'my': 904,
 'mental': 102,
 'health': 759,
 'felt': 171,
 'like': 1785,
 'fraud': 104,
 'being': 1482,
 'did': 1390,
 'help': 1133,
 'fact': 175,
 'nearly': 643,
 'destroyed': 106,
 'me': 490,
 'get': 2167,
 'rid': 30,
 'skin': 82,
 'tags': 11,
 'according': 2279,
 'dermatologist': 6,
 'they': 4415,
 'seem': 145,
 'harmless': 12,
 'but': 4855,
 'there': 2231,
 'very': 554,
 'good': 944,
 'reason': 220,
 'you': 6104,
 'should': 1147,
 'ignore': 37,
 'them': 1217,
 'post': 662,
 'appeared': 477,
 'first': 3464,
 'on': 20396,
 'reader': 106,
 'digest': 107,
 'nfl': 1316,
 'be': 6142,
 'able': 273,
 'fine': 126,
 'players': 718,
 'for': 20751,
 'criticizing': 30,
 'officiating': 52,
 '?': 4373,
 'several': 731,
 'fines': 46,
 'came': 568,
 'down': 1772,
 'against': 2165,
 'this': 6499,
 'week': 3662,
 'bad': 359,
 'look': 1105,
 'league': 524,
 'record': 536,
 'your': 3212,
 'screen': 53,
 'windows': 75,
 'macos': 7,
 'ios': 36,
 'or': 2443,
 'android': 41,
 'easiest': 16,
 'way': 1121,
 'what': 3719,
 'happening': 84,
 'whichever': 2,
 'device': 51,
 "'re": 1346,
 'using': 316,
 'been': 3287,
 'orlando': 217,
 'hottest': 54,
 'october': 793,
 'ever': 518,
 'so': 1630,
 'far': 545,
 'cooler': 39,
 'temperatures': 191,
 'wo': 501,
 'chill': 27,
 'bones': 30,
 'halloween': 934,
 'unless': 54,
 'count': 97,
 'sweat': 16,
 'dripping': 3,
 'from': 9325,
 'armpits': 1,
 'guy': 185,
 'altered': 13,
 'his': 7902,
 'diet': 128,
 'training': 193,
 'drop': 160,
 '65': 65,
 'pounds': 243,
 'pack': 48,
 'muscle': 46,
 'brandon': 128,
 'reid': 88,
 'advice': 87,
 ':': 11284,
 '``': 7942,
 'do': 2069,
 'worry': 80,
 'other': 1358,
 'people': 2202,
 'think': 527,
 'even': 996,
 'smallest': 25,
 'fattest': 3,
 'gym': 62,
 'is': 13952,
 'lapping': 4,
 'home': 2728,
 'couch': 30,
 "''": 6831,
 'chile': 37,
 'three': 1654,
 'die': 101,
 'supermarket': 19,
 'fire': 2186,
 'amid': 337,
 'protests': 173,
 'have': 5569,
 'died': 789,
 'as': 8129,
 'angry': 73,
 'entered': 126,
 'their': 4150,
 'seventh': 58,
 'mayor': 430,
 'capital': 145,
 'city': 2611,
 'santiago': 21,
 'said': 5671,
 'sunday': 2025,
 'best': 1923,
 'ps5': 6,
 'games': 888,
 'top': 1739,
 'playstation': 15,
 '5': 1077,
 'titles': 41,
 'forward': 270,
 'every': 881,
 'confirmed': 286,
 'expected': 630,
 'game': 2825,
 'we': 2830,
 'wait': 139,
 'play': 969,
 'roasted': 24,
 'squash': 24,
 'panzanella': 2,
 'perfect': 299,
 'start': 844,
 'year': 2193,
 'christmas': 336,
 'dinner': 219,
 'introducing': 15,
 'balance': 53,
 'out': 4377,
 'sugar': 53,
 'cookie': 85,
 'obsession': 7,
 '50': 506,
 'foods': 179,
 'never': 655,
 'eat': 184,
 'experts': 217,
 'depressing': 5,
 'trying': 497,
 'make': 1690,
 'ram': 28,
 '3500': 7,
 'quick': 154,
 'viper': 6,
 'requires': 47,
 'some': 2398,
 'disassembly': 1,
 '2019': 1659,
 'new': 6206,
 'cummins': 6,
 'diesel': 20,
 'has': 6905,
 '1000': 19,
 'lb-ft': 3,
 'torque': 6,
 'put': 511,
 'work': 761,
 'drag': 22,
 'strip': 42,
 'rye': 6,
 'football': 1711,
 'wins': 318,
 'rendition': 3,
 'clobbers': 1,
 'harrison': 56,
 'after': 8028,
 'going': 902,
 'into': 3117,
 'halftime': 35,
 'tied': 133,
 'garnets': 1,
 'regrouped': 2,
 'made': 1353,
 'resounding': 7,
 'second-half': 18,
 'statement': 321,
 'instagram': 245,
 'filters': 4,
 'plastic': 85,
 'surgery-inspired': 1,
 'effects': 57,
 'could': 2229,
 'soon': 328,
 'disappear': 14,
 'effort': 217,
 'combat': 63,
 'negative': 41,
 'impacts': 22,
 'caused': 280,
 'social': 452,
 'media': 620,
 'company': 792,
 'announced': 794,
 'removing': 42,
 'all': 2691,
 'its': 2620,
 'give': 404,
 'surgery-like': 1,
 'effect': 121,
 'michigan': 819,
 'apple': 277,
 'recall': 69,
 '2,300': 10,
 'crates': 2,
 'contaminated': 22,
 'listeria': 10,
 'produce': 66,
 'recalled': 83,
 'cases': 136,
 'fresh': 128,
 'apples': 19,
 'kate': 151,
 'middleton': 87,
 'hairstyles': 5,
 'through': 1364,
 'years': 2035,
 'duchess': 70,
 'cambridge': 29,
 'knows': 115,
 'her': 4008,
 'around': 1732,
 'updo': 1,
 'stars': 336,
 'who': 4539,
 'got': 913,
 'fired': 340,
 'major': 545,
 'projects': 84,
 'celebs': 63,
 'boot': 10,
 'movies': 115,
 'tv': 369,
 'shows': 637,
 'newark': 38,
 'liberty': 52,
 'airport': 465,
 'terminal': 92,
 'one': 4130,
 '$': 2722,
 '2.7': 10,
 'billion': 283,
 "'transformative": 2,
 "'": 9486,
 'project': 352,
 'which': 1682,
 'bi-state': 8,
 'agency': 266,
 'single-largest': 1,
 'investment': 67,
 'state': 3277,
 'projected': 29,
 'completed': 97,
 '2022': 21,
 '2021': 107,
 'gmc': 16,
 'yukon': 14,
 'denali': 1,
 'motor1.com': 5,
 'sent': 266,
 'us': 1189,
 'sure': 260,
 'looks': 388,
 'legit': 19,
 'john': 653,
 'dorsey': 24,
 'admits': 62,
 'talks': 277,
 'washington': 1091,
 'takes': 378,
 'two': 3198,
 'tango': 7,
 'team': 1850,
 'officials': 1430,
 'emphatically': 5,
 'denied': 83,
 'rumor': 24,
 'trent': 111,
 'williams': 341,
 'trade': 785,
 'cleveland': 610,
 'report': 1403,
 'tuesday': 1655,
 'later': 465,
 'browns': 638,
 'general': 440,
 'manager': 471,
 'admitted': 77,
 'publicly': 84,
 'he': 6767,
 'talked': 76,
 'president': 2551,
 'bruce': 99,
 'allen': 170,
 "'ve": 757,
 'had': 2766,
 'few': 603,
 'conversations': 20,
 'via': 260,
 'mary': 82,
 'kay': 41,
 'cabot': 13,
 'plain': 28,
 'dealer': 25,
 '[': 339,
 ']': 331,
 'elijah': 170,
 'cummings': 232,
 'lie': 32,
 'capitol': 115,
 'thursday': 2134,
 'democrat': 119,
 'whose': 198,
 'district': 567,
 'included': 118,
 'sections': 10,
 'baltimore': 400,
 'last': 2111,
 'age': 266,
 '68': 47,
 'complications': 25,
 'related': 274,
 'longstanding': 24,
 'issues': 295,
 'finally': 303,
 'fight': 528,
 'seal': 42,
 'deal': 613,
 'university': 551,
 'park': 852,
 'pa.': 48,
 '--': 1991,
 'fans': 735,
 'beaver': 26,
 'stadium': 401,
 'saturday': 1454,
 'night': 2370,
 'likely': 408,
 'not': 3777,
 'know': 1172,
 'mere': 22,
 'feet': 222,
 'celebration': 105,
 'inside': 778,
 'small': 423,
 'room': 362,
 'under': 799,
 'bleachers': 5,
 'sat': 88,
 'khaleke': 1,
 'hudson': 82,
 'shea': 25,
 'patterson': 46,
 'addressing': 19,
 'reporters': 138,
 '28-21': 14,
 'loss': 910,
 'no': 2674,
 '7': 767,
 'penn': 208,
 'both': 679,
 'were': 3699,
 'still': 1184,
 'uniforms': 14,
 '...': 9620,
 '17': 304,
 'abandoned': 115,
 'theme': 72,
 'parks': 106,
 'explore': 58,
 'thrills': 10,
 'chills': 12,
 'nostalgia': 9,
 'disney': 160,
 'six': 491,
 'flags': 43,
 'flintstones': 2,
 'amusement': 28,
 'succumbed': 8,
 'disasters': 11,
 'press': 285,
 'shifting': 18,
 'entertainment': 73,
 'markets': 60,
 'adventurous': 9,
 'whether': 482,
 'california': 1264,
 'florida': 1055,
 'ohio': 630,
 'can': 2559,
 'fascinating': 30,
 'places': 244,
 'if': 1932,
 'dare': 22,
 'dog': 567,
 'dies': 365,
 'protecting': 44,
 'children': 565,
 'deadly': 311,
 'snake': 37,
 'richardson': 37,
 'family': 1337,
 'shares': 199,
 'video': 1137,
 'photos': 675,
 'puppy': 82,
 'zeus': 1,
 'venomous': 15,
 'coral': 40,
 'ford': 298,
 'bronco': 24,
 'test': 304,
 'mule': 9,
 'spotted': 141,
 'flexing': 2,
 'muscles': 14,
 'australia': 87,
 'offered': 124,
 'land': 215,
 'however': 225,
 'trustbusters': 1,
 'bring': 381,
 'microsoft': 244,
 'lessons': 37,
 'big': 1189,
 'tech': 198,
 'doj': 27,
 'makan': 1,
 'delrahim': 1,
 'ftc': 15,
 'joe': 690,
 'simons': 8,
 'agreed': 108,
 'divide': 19,
 'google': 235,
 'facebook': 375,
 'amazon': 290,
 'between': 862,
 'pga': 139,
 'tour': 359,
 'winners': 172,
 'gallery': 40,
 'recent': 498,
 'nashville': 240,
 'restaurants': 297,
 'ms.': 16,
 'cheap': 92,
 'rounds': 61,
 'lunch': 99,
 'deals': 210,
 '10': 1118,
 'less': 382,
 'restaurant': 629,
 'food': 682,
 'prices': 160,
 'most': 2005,
 'free': 599,
 'parking': 219,
 'things': 914,
 'knew': 197,
 'about': 4156,
 'owls': 16,
 'huge': 235,
 'eyes': 156,
 'sharp': 43,
 'talons': 1,
 'swiveling': 1,
 'heads': 87,
 'are': 8034,
 'mysterious': 54,
 'creatures': 18,
 '25': 546,
 'last-minute': 33,
 'ideas': 168,
 'will': 5864,
 'absolutely': 61,
 'save': 269,
 'holiday': 535,
 'these': 1759,
 'excited': 70,
 '(': 3927,
 'sometimes-stressful': 1,
 ')': 3890,
 'holidays': 114,
 'taste': 228,
 'rutgers': 53,
 'throws': 78,
 '1': 1078,
 'yard': 100,
 '35-0': 5,
 'indiana': 243,
 'outfit': 39,
 'worn': 19,
 'see': 1209,
 'style': 113,
 'choices': 40,
 'glam': 5,
 'gowns': 12,
 'coat': 29,
 'dresses': 26,
 're-wears': 2,
 'tiaras': 5,
 'hats': 14,
 'parties': 80,
 'weekend': 786,
 'oct.': 730,
 '24-27': 1,
 'now': 2063,
 'before': 1758,
 'biggest': 431,
 'coming': 631,
 'including': 697,
 'entourage': 2,
 'star': 719,
 'jeremy': 50,
 'piven': 2,
 'hosting': 84,
 'party': 469,
 'godfrey': 8,
 'hotel': 310,
 'thriller': 25,
 'mob': 12,
 'breaking': 157,
 'ferg': 3,
 'many': 923,
 'events': 224,
 'find': 833,
 'also': 1060,
 'pumpkin': 137,
 'patches': 15,
 'tamapbay.com/things-to-do': 1,
 'pinellasstadium': 1,
 'screams': 11,
 'simple': 156,
 'changes': 252,
 'helped': 217,
 'lose': 274,
 '75': 88,
 '9': 538,
 'months': 582,
 'part': 746,
 'took': 767,
 'control': 336,
 'un': 47,
 'climate': 304,
 'fund': 85,
 'struggles': 82,
 'meet': 257,
 'goal': 198,
 'rich': 92,
 'countries': 117,
 'gathered': 80,
 'france': 71,
 'discuss': 197,
 'replenishing': 1,
 'international': 377,
 'meant': 82,
 'poor': 103,
 'nations': 52,
 'tackle': 163,
 'change': 588,
 'falling': 185,
 'short': 204,
 'targets': 58,
 'because': 790,
 'u.s.': 1827,
 'stopped': 181,
 'contributing': 10,
 'ps4': 4,
 'great': 582,
 '4': 781,
 'available': 257,
 'today': 770,
 'sony': 28,
 'awesome': 44,
 'exclusives': 2,
 'third-party': 22,
 'must': 260,
 'plays': 175,
 '23': 202,
 'reboots': 5,
 'time': 2505,
 'class': 258,
 'show': 900,
 'revivals': 2,
 'outshine': 2,
 'competition': 71,
 'steal': 56,
 'spotlight': 53,
 'own': 552,
 'originals': 6,
 'netflix': 119,
 'hackers': 38,
 'why': 1202,
 'passwords': 11,
 'accounts': 59,
 'really': 472,
 'offer': 252,
 'selling': 141,
 'potential': 316,
 'stolen': 204,
 'tempt': 1,
 'subset': 1,
 'crossfit': 9,
 'injuries': 475,
 'affect': 65,
 'shoulder': 116,
 'question': 215,
 'does': 925,
 'risk': 241,
 'injury': 913,
 'answer': 156,
 'popularity': 21,
 'grown': 62,
 'immensely': 1,
 'while': 1649,
 'participation': 28,
 'benefits': 102,
 'positive': 121,
 'athletes': 75,
 'place': 668,
 'complex': 141,
 'joint': 86,
 'different': 362,
 'bony': 1,
 'articulations': 1,
 'soft': 29,
 'tissue': 10,
 'structures': 50,
 'interact': 8,
 'together': 317,
 '20': 610,
 'must-try': 2,
 'gravy': 17,
 'recipes': 356,
 'thanksgiving': 483,
 'feast': 31,
 'turkey': 457,
 'just': 2582,
 'same': 435,
 'little': 647,
 'snow': 415,
 'causes': 89,
 'mess': 57,
 'than': 2297,
 '100': 374,
 'crashes': 224,
 'minnesota': 415,
 'roads': 223,
 'snowfall': 50,
 'one-tenth': 2,
 'inch': 40,
 'share': 244,
 'damaged': 117,
 'cars': 359,
 'rattled': 16,
 'drivers': 317,
 'early': 1116,
 '118': 6,
 'reported': 741,
 '6': 743,
 'a.m.': 806,
 '11:30': 30,
 'patrol': 281,
 'another': 1120,
 '22': 207,
 'vehicles': 220,
 'spun': 9,
 'slid': 18,
 'off': 2056,
 'slick': 16,
 'spokesman': 90,
 'gordon': 246,
 'shank': 1,
 'weather-related': 1,
 'fatalities': 26,
 'although': 99,
 '18': 300,
 'extinction': 19,
 'rebellion': 7,
 'court': 777,
 'challenge': 183,
 'london': 192,
 'police': 4617,
 'blanket': 17,
 'ban': 176,
 'activist': 79,
 '10-day': 6,
 'demonstrations': 17,
 'across': 782,
 'ruled': 153,
 'unlawful': 22,
 'la': 225,
 'rivalry': 83,
 'meaning': 38,
 'lakers': 257,
 'clippers': 152,
 'hunt': 105,
 'championship': 341,
 'finals': 81,
 'mvp': 173,
 'kawhi': 68,
 'leonard': 130,
 'say': 1862,
 'used': 499,
 'taunts': 12,
 'booing': 6,
 'religion': 17,
 'tinseltown': 1,
 '400': 98,
 'jbl': 3,
 'link': 49,
 '500': 121,
 'smart': 116,
 'speaker': 135,
 'sale': 259,
 '150': 66,
 'equipped': 11,
 'bluetooth': 5,
 'wi-fi': 12,
 'chromecast': 1,
 'assistant': 178,
 'powerful': 154,
 'enough': 311,
 'largest': 246,
 'rooms': 47,
 'olympian': 7,
 'shawn': 27,
 'johnson': 462,
 'pregnancy': 32,
 'news': 1778,
 'husband': 258,
 'andrew': 142,
 'east': 622,
 'taking': 449,
 'viewers': 34,
 'highs': 46,
 'lows': 31,
 'vlog': 1,
 'captured': 170,
 'hearts': 25,
 'thousands': 442,
 'online': 253,
 'probably': 231,
 'buying': 114,
 'costco': 84,
 'bigger': 99,
 'always': 341,
 'better': 525,
 'items': 196,
 'sell': 128,
 'cheaper': 26,
 'warehouse': 42,
 'power': 898,
 'ranking': 110,
 'chance': 305,
 'becoming': 132,
 '2020': 1142,
 'democratic': 593,
 'presidential': 464,
 'nominee': 48,
 'combined': 55,
 'insider': 109,
 'polling': 39,
 'results': 276,
 'morning': 1560,
 'consult': 9,
 'daily': 209,
 'survey': 123,
 'create': 138,
 'weekly': 89,
 'candidates': 245,
 'teach': 28,
 'kids': 385,
 'mindfulness': 11,
 'increased': 89,
 'important': 201,
 'history': 602,
 'november': 519,
 '2': 1206,
 'royal': 222,
 'balmoral': 1,
 'castle': 62,
 'favorite': 362,
 'visiting': 103,
 'scottish': 6,
 'estate': 214,
 'century': 115,
 'cranberry': 23,
 'sauce': 65,
 "'ll": 614,
 'want': 726,
 'store-bought': 8,
 'version': 86,
 'again': 684,
 'phil': 51,
 'fulmer': 5,
 'blasts': 51,
 'ncaa': 146,
 'key': 348,
 'tennessee': 290,
 'freshman': 124,
 'eligibility': 27,
 'uros': 3,
 'plavsic': 4,
 'redshirt': 18,
 'transferred': 15,
 'arizona': 444,
 'coaching': 129,
 'allowed': 150,
 'suit': 75,
 'vols': 15,
 'season': 2592,
 'george': 201,
 'life': 931,
 'future': 365,
 'king': 261,
 'england': 509,
 'third': 513,
 'throne': 10,
 'behind': 526,
 'father': 314,
 'real': 476,
 'jeopardy': 33,
 'questions': 359,
 'culling': 1,
 'data': 281,
 'straight': 261,
 '!': 1527,
 'archives': 11,
 'stacker': 47,
 'provide': 152,
 'clue': 9,
 'then': 720,
 'present': 67,
 'form': 104,
 'following': 741,
 'slide': 36,
 'randall': 22,
 'rant': 26,
 'tiger': 190,
 'goat': 18,
 'majors': 19,
 'may': 1300,
 'understand': 80,
 'woods': 246,
 'gone': 176,
 'golf': 220,
 'course': 211,
 'desirable': 2,
 'check': 494,
 'where': 1246,
 'residents': 478,
 'would': 1644,
 '40+': 6,
 'stuffed': 27,
 'pasta': 85,
 'stuff': 77,
 'yourself': 94,
 "'bachelor": 3,
 'amanda': 16,
 'stanton': 28,
 'dating': 89,
 "'rich": 6,
 'beverly': 39,
 'hills': 137,
 'brendan': 27,
 'fitzpatrick': 46,
 'mom': 314,
 'opened': 327,
 'et': 82,
 'august': 155,
 "'m": 435,
 'sorry': 46,
 'please': 66,
 'purse': 19,
 'welcome': 122,
 'house': 1920,
 'bag': 82,
 'right': 890,
 'corgis': 2,
 '-': 1059,
 'beloved': 109,
 'pets': 76,
 'much': 882,
 'loved': 103,
 'toyota': 85,
 'supra': 25,
 ...}

In [16]:
entity2freq

{'Q80976': 1.0,
 'Q43274': 19.997,
 'Q9682': 18.511999999999997,
 'Q622899': 34.24199999999999,
 'Q212': 601.305000000002,
 'Q155223': 362.68500000000023,
 'Q3179593': 2.0,
 'Q171171': 3.0,
 'Q371820': 92.874,
 'Q1215884': 1087.8100000000056,
 'Q1406': 13.977,
 'Q94': 33.962999999999994,
 'Q49233': 71.619,
 'Q298': 31.918999999999986,
 'Q2887': 5.994,
 'Q1323662': 7.0,
 'Q19809': 120.7179999999999,
 'Q1211586': 7.0,
 'Q173476': 3.9669999999999996,
 'Q209330': 82.99399999999999,
 'Q1166': 383.1900000000007,
 'Q10479': 94.79899999999999,
 'Q466786': 13.816,
 'Q910928': 4.986,
 'Q27150138': 3.0,
 'Q14950911': 11.908999999999999,
 'Q223527': 634.9020000000012,
 'Q37320': 231.66700000000006,
 'Q286036': 3.0,
 'Q934898': 204.35100000000003,
 'Q54109': 14.856000000000002,
 'Q5092': 172.84099999999998,
 'Q29552': 615.5210000000011,
 'Q692816': 9.0,
 'Q43669564': 1.0,
 'Q22007345': 16.0,
 'Q4534544': 5.0,
 'Q1400': 146.26399999999995,
 'Q194195': 9.907,
 'Q2260058': 0.988,
 'Q824278': 4.0,
 'Q812': 556.1290000000012,
 'Q201358': 2.995,
 'Q1397': 360.33000000000027,
 'Q99': 885.0990000000035,
 'Q534238': 17.0,
 'Q408': 71.54200000000003,
 'Q3122864': 13.736999999999998,
 'Q22686': 3139.9919999999847,
 'Q29474280': 1.0,
 'Q48968552': 0.999,
 'Q95': 147.47199999999998,
 'Q355': 324.84000000000015,
 'Q312': 157.43599999999995,
 'Q3884': 227.77999999999994,
 'Q910409': 122.50500000000002,
 'Q23197': 204.3479999999999,
 'Q3517772': 30.528000000000002,
 'Q21168841': 3.847,
 'Q7687701': 137.0,
 'Q7382803': 3.6430000000000002,
 'Q1415': 154.732,
 'Q251868': 500.15500000000134,
 'Q315083': 1.0,
 'Q253205': 0.995,
 'Q1065': 49.62500000000001,
 'Q142': 45.908999999999985,
 'Q5014725': 6.0,
 'Q41187': 10.716,
 'Q907311': 111.988,
 'Q2072840': 7.998,
 'Q1527': 153.21400000000003,
 'Q6868552': 4.0,
 'Q58819597': 4.0,
 'Q84': 123.65999999999993,
 'Q976396': 160.867,
 'Q926248': 82.879,
 'Q739499': 5.98,
 'Q25025241': 14.0,
 'Q14253532': 1.0,
 'Q39531': 5.0,
 'Q29643': 12.991000000000001,
 'Q229044': 4.983,
 'Q5389': 21.389000000000003,
 'Q19864263': 4.0,
 'Q715583': 74.0,
 'Q1624317': 16.0,
 'Q55669360': 2.8329999999999997,
 'Q28401695': 2.0,
 'Q42049': 1.0,
 'Q2915430': 6.0,
 'Q7185676': 5.0,
 'Q271805': 125.96399999999987,
 'Q499767': 14.609,
 'Q10993': 198.70499999999998,
 'Q30': 1357.1230000000107,
 'Q20641700': 2.0,
 'Q941023': 44.359,
 'Q7270307': 1.976,
 'Q19822354': 1.0,
 'Q56008': 3.0,
 'Q6993430': 0.998,
 'Q23768': 65.495,
 'Q54437950': 12.0,
 'Q537407': 0.921,
 'Q786803': 2.0,
 'Q15044972': 6.0,
 'Q164177': 160.901,
 'Q166105': 57.26300000000001,
 'Q13361286': 24.991,
 'Q23633': 22.993999999999996,
 'Q129240': 4.884,
 'Q38051551': 60.92399999999999,
 'Q4911497': 26.0,
 'Q2736850': 1.998,
 'Q44294': 72.538,
 'Q5597534': 1.0,
 'Q60': 158.71999999999994,
 'Q1157038': 2.989,
 'Q7118517': 2.9939999999999998,
 'Q18205509': 14.0,
 'Q21515382': 6.993,
 'Q7201457': 4.0,
 'Q20714861': 1.0,
 'Q1030329': 3.999,
 'Q23058648': 8.997,
 'Q6952311': 7.968,
 'Q17079880': 1.0,
 'Q1370': 209.36099999999996,
 'Q7979443': 3.0,
 'Q13974': 79.41299999999998,
 'Q5875916': 15.0,
 'Q130838': 40.696999999999996,
 'Q165972': 41.934000000000005,
 'Q6502151': 2.988,
 'Q38952': 70.0,
 'Q172435': 155.136,
 'Q224164': 142.54700000000003,
 'Q38668629': 1.0,
 'Q13590412': 0.976,
 'Q18002970': 3.979,
 'Q830369': 8.0,
 'Q192152': 204.901,
 'Q750015': 1.0,
 'Q892447': 2.0,
 'Q3069684': 2.0,
 'Q172610': 2.999,
 'Q318094': 1.0,
 'Q6407533': 1.0,
 'Q1353305': 5.963,
 'Q8684': 8.0,
 'Q189': 12.873000000000001,
 'Q884': 52.72800000000001,
 'Q6276908': 5.0,
 'Q212654': 239.17799999999997,
 'Q1153176': 22.947999999999997,
 'Q193390': 1170.2960000000035,
 'Q2094335': 19.967,
 'Q7058801': 0.937,
 'Q1553390': 77.36699999999999,
 'Q1330910': 76.0,
 'Q47596': 5.0,
 'Q423': 63.96799999999999,
 'Q56226': 18.792,
 'Q431140': 4.0,
 'Q5020422': 26.0,
 'Q108067': 89.773,
 'Q19876954': 9.953,
 'Q4637383': 15.347999999999997,
 'Q2778054': 9.0,
 'Q276539': 465.9430000000002,
 'Q786705': 60.9,
 'Q44428': 1.0,
 'Q327416': 1.958,
 'Q1537791': 2.0,
 'Q27049069': 84.0,
 'Q14951016': 2.0,
 'Q29468': 607.0280000000002,
 'Q1280288': 11.888,
 'Q483551': 115.97199999999998,
 'Q1046951': 36.698,
 'Q2307187': 12.0,
 'Q7948262': 6.955,
 'Q246782': 121.97899999999998,
 'Q54078': 13.0,
 'Q94388': 13.0,
 'Q337688': 5.0,
 'Q7934247': 6.0,
 'Q488929': 1.0,
 'Q3443993': 1.0,
 'Q302612': 3.0,
 'Q1109032': 26.429000000000002,
 'Q848117': 812.6530000000005,
 'Q5889160': 5.0,
 'Q3304418': 167.98200000000003,
 'Q152316': 95.72200000000001,
 'Q36812': 40.736999999999995,
 'Q1207': 17.955000000000002,
 'Q34109': 1.999,
 'Q94015': 5.0,
 'Q119515': 3.0,
 'Q152057': 4.873,
 'Q1330390': 5.0,
 'Q2280045': 24.0,
 'Q48989064': 31.712,
 'Q632511': 17.802,
 'Q391353': 5.0,
 'Q18380286': 20.0,
 'Q204357': 5.982,
 'Q724': 75.95799999999998,
 'Q1553': 12.597,
 'Q1048314': 3.0,
 'Q15935': 71.995,
 'Q6294': 105.241,
 'Q13522520': 1.0,
 'Q320476': 164.40099999999995,
 'Q6127917': 58.989000000000004,
 'Q320484': 147.0370000000001,
 'Q1363291': 3.902,
 'Q58691': 16.0,
 'Q16970982': 7.0,
 'Q816': 229.5490000000001,
 'Q718113': 35.51,
 'Q2954009': 35.0,
 'Q848629': 23.999,
 'Q188705': 7.967,
 'Q2849484': 1.0,
 'Q162990': 77.957,
 'Q32859236': 7.0,
 'Q157376': 196.27499999999998,
 'Q1391': 198.57500000000005,
 'Q571856': 2.0,
 'Q3296292': 7.994,
 'Q7753915': 0.999,
 'Q94967': 50.861999999999995,
 'Q49238': 96.867,
 'Q213660': 7.0,
 'Q1454': 264.44399999999996,
 'Q41329': 2.872,
 'Q948442': 12.834,
 'Q28749': 1.0,
 'Q49389': 6.98,
 'Q214861': 17.879,
 'Q2869377': 10.908000000000001,
 'Q38076': 86.88299999999998,
 'Q2705946': 1.0,
 'Q7449511': 1.9220000000000002,
 'Q165657': 1.998,
 'Q193583': 18.0,
 'Q39357': 4.0,
 'Q219067': 6.968,
 'Q7587630': 2.0,
 'Q30253337': 2.996,
 'Q1749879': 1.99,
 'Q191089': 1.907,
 'Q5454161': 1.0,
 'Q7054495': 3.0,
 'Q827550': 5.0,
 'Q1509': 253.12699999999984,
 'Q93332': 0.908,
 'Q16': 64.38099999999999,
 'Q5132210': 9.838,
 'Q7894779': 7.0,
 'Q148': 371.3120000000009,
 'Q956': 30.54,
 'Q8646': 152.27200000000005,
 'Q17427': 9.929,
 'Q5257988': 1.0,
 'Q1521067': 1.0,
 'Q797819': 5.99,
 'Q186125': 34.745000000000005,
 'Q698778': 0.952,
 'Q328473': 99.90700000000001,
 'Q179426': 1.9489999999999998,
 'Q2078880': 8.84,
 'Q1917753': 2.992,
 'Q1972120': 7.0,
 'Q1508234': 1.0,
 'Q3433273': 6.0,
 'Q1591889': 33.998000000000005,
 'Q153417': 14.877,
 'Q583725': 32.57600000000001,
 'Q15613717': 1.0,
 'Q18182633': 0.942,
 'Q1939224': 2.0,
 'Q105611': 3.0,
 'Q780394': 1.86,
 'Q189635': 0.997,
 'Q7397012': 29.785,
 'Q691365': 1.0,
 'Q1777174': 3.0,
 'Q524757': 12.936,
 'Q7694479': 1.0,
 'Q5299741': 2.0,
 'Q60987711': 52.0,
 'Q5287': 133.1149999999999,
 'Q825838': 602.0280000000018,
 'Q131207': 0.965,
 'Q25067722': 2.921,
 'Q158813': 4.0,
 'Q1612': 60.51500000000001,
 'Q19947779': 5.917999999999999,
 'Q220552': 1.0,
 'Q266863': 2.0,
 'Q13973': 23.994,
 'Q48340': 180.75799999999995,
 'Q35525': 420.91900000000084,
 'Q270389': 0.992,
 'Q186068': 98.93699999999998,
 'Q464221': 1.0,
 'Q20138': 1.99,
 'Q7372419': 0.967,
 'Q7080918': 25.626,
 'Q733742': 2.911,
 'Q223522': 411.50100000000015,
 'Q17007649': 0.95,
 'Q169251': 1.0,
 'Q866': 48.989000000000004,
 'Q2526336': 4.0,
 'Q2421065': 5.0,
 'Q61653213': 1.0,
 'Q49255': 103.55299999999995,
 'Q186471': 148.805,
 'Q4819311': 23.186,
 'Q6744081': 7.0,
 'Q220347': 13.913999999999996,
 'Q847': 2.992,
 'Q192043': 1.0,
 'Q373983': 37.989999999999995,
 'Q221150': 216.20799999999988,
 'Q20134': 1.0,
 'Q503308': 48.135,
 'Q14710809': 3.0,
 'Q16554': 192.58000000000004,
 'Q16556': 91.91599999999995,
 'Q1342': 192.12399999999988,
 'Q217652': 3.0,
 'Q3043803': 6.0,
 'Q1204': 126.27999999999993,
 'Q6103950': 4.766,
 'Q851213': 0.958,
 'Q178033': 11.997,
 'Q63719': 14.0,
 'Q16213876': 16.0,
 'Q7574310': 8.0,
 'Q6833674': 5.0,
 'Q970581': 0.985,
 'Q235065': 20.412,
 'Q147077': 10.0,
 'Q17581497': 1.0,
 'Q215300': 1.0,
 'Q191874': 4.994,
 'Q1264331': 1.0,
 'Q6304496': 1.0,
 'Q7173106': 84.75299999999997,
 'Q32620': 70.59,
 'Q1089199': 4.996,
 'Q506187': 3.0,
 'Q460336': 12.405,
 'Q3560687': 14.0,
 'Q797': 53.744,
 'Q4200953': 4.0,
 'Q1132113': 0.996,
 'Q9685': 13.966999999999999,
 'Q209479': 30.925999999999995,
 'Q7579939': 57.0,
 'Q1815381': 49.985,
 'Q1723946': 29.851,
 'Q1068013': 12.0,
 'Q7143356': 2.0,
 'Q233929': 124.21899999999995,
 'Q731168': 6.0,
 'Q1060788': 3.9779999999999998,
 'Q650816': 20.932000000000002,
 'Q736574': 1.998,
 'Q13479957': 42.68399999999999,
 'Q229048': 1.0,
 'Q16759': 6.0,
 'Q43416': 15.0,
 'Q1122565': 0.999,
 'Q27924981': 3.0,
 'Q223243': 247.3789999999999,
 'Q191477': 519.788,
 'Q204862': 447.18800000000016,
 'Q4654049': 6.58,
 'Q189489': 3.0,
 'Q37459': 9.0,
 'Q127856': 20.961999999999996,
 'Q494556': 11.995000000000001,
 'Q2586040': 1.0,
 'Q1456': 135.34199999999998,
 'Q17943': 26.439,
 'Q3044445': 14.0,
 'Q51694': 3.999,
 'Q107393': 1.0,
 'Q22': 8.644,
 'Q3976560': 1.994,
 'Q5599116': 8.0,
 'Q334204': 8.0,
 'Q632014': 9.966000000000001,
 'Q2747220': 11.937999999999999,
 'Q16147495': 48.33499999999999,
 'Q2631300': 58.991,
 'Q230492': 54.50100000000001,
 'Q27829251': 19.0,
 'Q18517638': 3.0,
 'Q2290907': 1.0,
 'Q5038832': 5.9750000000000005,
 'Q7952573': 12.0,
 'Q2493039': 3.0,
 'Q2491944': 0.988,
 'Q25265': 2.0,
 'Q29469139': 2.0,
 'Q944845': 102.0,
 'Q4977062': 5.8790000000000004,
 'Q24976': 10.716,
 'Q594428': 22.0,
 'Q645968': 9.974,
 'Q1967350': 3.0,
 'Q9212': 62.268,
 'Q3687081': 2.0,
 'Q2892868': 10.714,
 'Q16563': 131.94899999999998,
 'Q5324273': 2.95,
 'Q7716694': 1.0,
 'Q339348': 6.0,
 'Q12013': 12.908999999999999,
 'Q18358010': 7.0,
 'Q2707177': 57.532,
 'Q5345471': 1.0,
 'Q785130': 2.0,
 'Q18631526': 19.938,
 'Q16236747': 20.0,
 'Q272223': 218.28700000000003,
 'Q31188935': 1.0,
 'Q121783': 259.75,
 'Q42493': 8.978,
 'Q24204': 127.94800000000001,
 'Q186545': 45.95,
 'Q5599757': 4.0,
 'Q1428953': 1.0,
 'Q124179': 5.996,
 'Q189965': 1.0,
 'Q124147': 1.0,
 'Q182890': 1.0,
 'Q682710': 1.0,
 'Q43359': 1.998,
 'Q3303463': 4.0,
 'Q2987371': 2.0,
 'Q34579349': 8.0,
 'Q1158012': 14.0,
 'Q179295': 42.001000000000005,
 'Q916998': 0.984,
 'Q86483': 71.00999999999998,
 'Q112055': 7.0,
 'Q1428': 204.1769999999999,
 'Q1795024': 10.989,
 'Q189490': 52.0,
 'Q43668': 96.62000000000002,
 'Q19020': 40.73299999999999,
 'Q57456989': 4.93,
 'Q55': 4.951,
 'Q6663': 4.969,
 'Q177054': 26.806,
 'Q4507421': 0.97,
 'Q350843': 113.94299999999998,
 'Q16199304': 3.0,
 'Q3874799': 46.974000000000004,
 'Q2495362': 70.96600000000001,
 'Q190878': 0.915,
 'Q40715': 30.938,
 'Q558664': 10.0,
 'Q5377422': 1.0,
 'Q15280': 5.998,
 'Q8877': 2.999,
 'Q373822': 0.934,
 'Q2920352': 6.0,
 'Q21': 41.54699999999998,
 'Q26876': 41.98400000000001,
 'Q1770624': 53.991,
 'Q48808914': 1.0,
 'Q14950404': 5.984,
 'Q221878': 378.96799999999996,
 'Q272059': 226.67900000000003,
 'Q1192805': 14.988,
 'Q4546763': 1.0,
 'Q8058759': 4.0,
 'Q753641': 2.0,
 'Q16234568': 7.0,
 'Q15267489': 8.0,
 'Q8333': 133.67000000000002,
 'Q65598596': 1.0,
 'Q173': 106.96999999999994,
 'Q79875': 7.826,
 'Q265538': 484.8210000000006,
 'Q908027': 4.0,
 'Q35907': 2.96,
 'Q844': 6.8149999999999995,
 'Q6781508': 8.918,
 'Q204711': 61.89199999999999,
 'Q1057845': 1.0,
 'Q19610114': 6.9990000000000006,
 'Q56641109': 2.0,
 'Q29570': 35.969,
 'Q341174': 20.894,
 'Q428064': 2.0,
 'Q226062': 5.9990000000000006,
 'Q4267401': 2.0,
 'Q642345': 10.0,
 'Q574192': 43.524000000000015,
 'Q18148623': 1.0,
 'Q7786369': 6.879,
 'Q929872': 19.75,
 'Q311269': 52.65,
 'Q843': 30.855999999999998,
 'Q258': 11.822999999999999,
 'Q359442': 115.60899999999998,
 'Q4379869': 14.0,
 'Q762891': 0.994,
 'Q174684': 1.0,
 'Q43': 256.57100000000014,
 'Q406': 3.99,
 'Q20707362': 6.546,
 'Q3033250': 6.0,
 'Q258999': 2.0,
 'Q58024': 7.998,
 'Q498515': 1.0,
 'Q1052281': 2.0,
 'Q246': 5.998,
 'Q507811': 1.0,
 'Q5188416': 0.995,
 'Q1153401': 0.992,
 'Q306966': 27.268,
 'Q7163731': 4.0,
 'Q223507': 337.19500000000005,
 'Q795406': 50.982,
 'Q1660187': 1.0,
 'Q14213': 38.862,
 'Q473239': 67.994,
 'Q11268': 98.88699999999996,
 'Q6451434': 35.852,
 'Q422917': 18.749000000000002,
 'Q21572825': 56.89,
 'Q4151335': 31.759,
 'Q19953601': 65.0,
 'Q4818639': 11.914,
 'Q7171565': 13.933000000000002,
 'Q3021725': 1.0,
 'Q861508': 1.0,
 'Q750788': 6.963,
 'Q18121212': 17.987,
 'Q2429253': 279.8039999999999,
 'Q858': 506.0930000000014,
 'Q3018729': 26.974,
 'Q1017017': 5.0,
 'Q867496': 8.0,
 'Q1603': 125.78099999999995,
 'Q1567585': 4.0,
 'Q7570033': 3.923,
 'Q1066476': 1.0,
 'Q48525': 50.444,
 'Q11211': 88.93299999999998,
 'Q771': 141.48600000000002,
 'Q54086': 1.0,
 'Q1387': 53.71299999999999,
 'Q54082': 2.984,
 'Q1066823': 173.05900000000003,
 'Q214700': 41.767,
 'Q55602672': 13.0,
 'Q56860229': 21.0,
 'Q47138769': 51.0,
 'Q129605': 53.997,
 'Q27734163': 11.95,
 'Q824': 75.14699999999999,
 'Q6460028': 147.931,
 'Q1189695': 1.9569999999999999,
 'Q7227715': 1.0,
 'Q621532': 6.0,
 'Q1143589': 1.0,
 'Q971195': 4.943,
 'Q188920': 21.741,
 'Q193753': 260.171,
 'Q28561876': 1.9569999999999999,
 'Q27765737': 1.0,
 'Q1941943': 0.992,
 'Q822': 39.66300000000001,
 'Q3820': 6.930000000000001,
 'Q40464': 5.8629999999999995,
 'Q6661': 5.0,
 'Q45772': 9.0,
 'Q37079': 6.968,
 'Q94831': 15.0,
 'Q483507': 24.97,
 'Q42315001': 1.0,
 'Q445405': 5.0,
 'Q28148022': 1.0,
 'Q159347': 0.943,
 'Q165911': 1.0,
 'Q17198340': 8.0,
 'Q44857': 36.958,
 'Q60768202': 1.0,
 'Q4926628': 1.0,
 'Q2295321': 0.909,
 'Q62': 126.01600000000005,
 'Q213205': 101.889,
 'Q932981': 3.0,
 'Q6023149': 5.0,
 'Q6346': 105.31899999999999,
 'Q1148035': 5.0,
 'Q121176': 0.975,
 'Q16557': 184.888,
 'Q1100609': 23.996,
 'Q82518': 24.942999999999998,
 'Q213417': 479.35599999999994,
 'Q4013318': 1.0,
 'Q1165712': 6.992999999999999,
 'Q4776474': 104.46499999999999,
 'Q324523': 157.89999999999998,
 'Q139564': 6.991,
 'Q108127': 33.576,
 'Q1706317': 25.895999999999997,
 'Q4738450': 1.0,
 'Q5083': 194.57799999999978,
 'Q725967': 4.9190000000000005,
 'Q47664': 2.0,
 'Q119798': 4.0,
 'Q1574020': 2.951,
 'Q447967': 2.0,
 'Q509799': 1.0,
 'Q212559': 0.987,
 'Q164182': 1.0,
 'Q25206705': 1.0,
 'Q2736': 7.898000000000001,
 'Q159766': 1.0,
 'Q185142': 16.901999999999997,
 'Q324563': 15.846,
 'Q246992': 18.97,
 'Q3064528': 1.0,
 'Q5956645': 10.992,
 'Q696334': 14.0,
 'Q14169302': 11.985,
 'Q234712': 36.997,
 'Q190519': 40.0,
 'Q5474595': 18.986000000000004,
 'Q12439': 151.53799999999993,
 'Q250062': 81.44199999999998,
 'Q19079': 18.017999999999997,
 'Q156353': 8.995000000000001,
 'Q2249117': 49.0,
 'Q183': 26.640999999999995,
 'Q38280': 10.0,
 'Q2821724': 138.09099999999995,
 'Q172741': 7.9799999999999995,
 'Q389020': 1.0,
 'Q6727910': 1.0,
 'Q14950726': 13.0,
 'Q622747': 20.826000000000004,
 'Q432437': 5.0,
 'Q635484': 1.988,
 'Q178516': 2.991,
 'Q6279': 303.52799999999996,
 'Q671510': 1.999,
 'Q56754834': 2.0,
 'Q28810445': 2.0,
 'Q39075157': 15.475000000000001,
 'Q3897557': 20.0,
 'Q271880': 317.43499999999995,
 'Q596953': 2.0,
 'Q6767270': 19.994,
 'Q1537': 135.20299999999992,
 'Q7409856': 6.99,
 'Q16212133': 1.0,
 'Q334634': 48.94799999999999,
 'Q2156427': 2.0,
 'Q4964973': 5.0,
 'Q3105215': 35.949999999999996,
 'Q5461782': 14.0,
 'Q54853': 0.99,
 'Q52290858': 3.0,
 'Q650807': 25.6,
 'Q302581': 62.727999999999994,
 'Q213837': 218.80300000000003,
 'Q1967244': 2.0,
 'Q913796': 1.998,
 'Q155476': 0.965,
 'Q25220861': 1.0,
 'Q1066807': 62.550000000000004,
 'Q169898': 11.813,
 'Q877332': 0.933,
 'Q18097': 10.445000000000002,
 'Q19317': 1.822,
 'Q124138': 1.0,
 'Q253414': 2.928,
 'Q34581': 3.998,
 'Q738462': 0.928,
 'Q11995': 22.861,
 'Q5449967': 1.0,
 'Q7203100': 1.0,
 'Q223511': 293.759,
 'Q6764512': 4.0,
 'Q330120': 213.27399999999986,
 'Q3183': 2.976,
 'Q446735': 9.0,
 'Q538901': 2.0,
 'Q3515563': 1.0,
 'Q372093': 2.0,
 'Q11220': 31.264000000000003,
 'Q360141': 3.998,
 'Q1458501': 1.0,
 'Q16238277': 1.0,
 'Q28403248': 1.0,
 'Q1135486': 2.0,
 'Q539444': 2.0,
 'Q1508630': 1.0,
 'Q942326': 5.891,
 'Q4235': 33.993,
 'Q542145': 8.834,
 'Q1450606': 11.0,
 'Q1408': 289.2819999999998,
 'Q3112728': 6.0,
 'Q260042': 4.8919999999999995,
 'Q40469': 259.706,
 'Q22006111': 12.0,
 'Q21062969': 16.0,
 'Q2283': 194.601,
 'Q478214': 15.22,
 'Q1665543': 1.0,
 'Q11690': 35.489999999999995,
 'Q248': 15.0,
 'Q9588': 18.697,
 'Q1146685': 11.918,
 'Q5048719': 1.0,
 'Q1021512': 28.441999999999997,
 'Q32333487': 2.0,
 'Q54103417': 3.812,
 'Q355567': 1.996,
 'Q34': 17.785999999999998,
 'Q6846901': 19.0,
 'Q1106511': 16.991,
 'Q504309': 141.40399999999997,
 'Q10862290': 23.0,
 'Q746830': 10.906,
 'Q59465': 13.0,
 'Q1060537': 7.0,
 'Q5370765': 3.0,
 'Q920037': 8.975999999999999,
 'Q6499202': 30.367999999999995,
 'Q52': 83.982,
 'Q337377': 147.977,
 'Q18631600': 80.96100000000001,
 'Q981788': 89.958,
 'Q14621144': 2.0,
 'Q11081': 37.853999999999985,
 'Q2360205': 1.994,
 'Q15825471': 15.969,
 'Q219714': 403.78800000000047,
 'Q205033': 232.7710000000001,
 'Q2750084': 18.906,
 'Q49227': 28.968999999999998,
 'Q631194': 12.971,
 'Q17020464': 1.0,
 'Q247869': 9.991000000000001,
 'Q753950': 6.0,
 'Q299745': 1.974,
 'Q11701': 238.53900000000002,
 'Q3297873': 6.0,
 'Q3564723': 2.9459999999999997,
 'Q429050': 33.981,
 'Q1062280': 4.9719999999999995,
 'Q36159': 194.5389999999998,
 'Q1196431': 0.911,
 'Q65': 283.452,
 'Q3277465': 2.995,
 'Q332747': 1.0,
 'Q3157332': 4.0,
 'Q713960': 2.985,
 'Q720027': 217.85200000000003,
 'Q219602': 347.8100000000003,
 'Q2843705': 1.0,
 'Q536705': 8.992,
 'Q2937293': 1.0,
 'Q1647788': 40.82,
 'Q2060485': 57.0,
 'Q3172032': 2.0,
 'Q4545473': 0.92,
 'Q985348': 20.950000000000003,
 'Q7920374': 10.0,
 'Q19716893': 177.79899999999995,
 'Q842': 0.999,
 'Q6999': 0.998,
 'Q6269767': 1.0,
 'Q2052291': 2.0,
 'Q26251644': 3.0,
 'Q255911': 16.968,
 'Q1547320': 65.963,
 'Q3182972': 4.0,
 'Q9050707': 3.0,
 'Q170433': 0.991,
 'Q112915': 6.968,
 'Q5226214': 41.0,
 'Q936190': 6.929,
 'Q196342': 0.989,
 'Q276099': 1.0,
 'Q7287916': 8.0,
 'Q878942': 5.808,
 'Q2301614': 1.0,
 'Q5003502': 0.988,
 'Q7459509': 2.0,
 'Q5131553': 69.93600000000002,
 'Q826751': 19.983999999999998,
 'Q6738184': 4.987,
 'Q1133513': 30.0,
 'Q4661865': 20.988,
 'Q196185': 49.998,
 'Q180950': 60.28799999999999,
 'Q2598396': 14.0,
 'Q7957641': 14.0,
 'Q23556': 161.23099999999997,
 'Q127530': 12.987,
 'Q32396': 41.977999999999994,
 'Q200092': 1.962,
 'Q1439': 431.7950000000007,
 'Q7304859': 12.992,
 'Q10608114': 9.697000000000001,
 'Q57313601': 5.0,
 'Q61504': 6.0,
 'Q368215': 8.996,
 'Q48493': 9.911,
 'Q43874': 6.0,
 'Q13979': 18.605,
 'Q493755': 1.0,
 'Q1546': 168.52,
 'Q959451': 13.0,
 'Q166032': 55.748,
 'Q21086634': 9.996,
 'Q2766': 42.22700000000001,
 'Q24907733': 0.999,
 'Q20007086': 2.0,
 'Q9340': 2.0,
 'Q207784': 2.0,
 'Q928122': 1.0,
 'Q11466': 8.0,
 'Q191001': 0.989,
 'Q1192310': 72.0,
 'Q936661': 19.0,
 'Q3369361': 6.0,
 'Q3028907': 69.746,
 'Q5070058': 14.0,
 'Q3992490': 18.0,
 'Q193692': 4.889,
 'Q2672785': 1.0,
 'Q2913791': 6.5329999999999995,
 'Q18588994': 1.9889999999999999,
 'Q26966': 3.999,
 'Q2571085': 0.999,
 'Q11338233': 0.998,
 'Q49384': 1.0,
 'Q31235': 1.0,
 'Q205447': 0.992,
 'Q179673': 0.996,
 'Q128471': 37.999,
 'Q729478': 68.964,
 'Q782557': 1.0,
 'Q2759586': 14.0,
 'Q815817': 57.998000000000005,
 'Q48742114': 1.0,
 'Q30133334': 3.0,
 'Q490': 5.918,
 'Q38': 52.328999999999986,
 'Q189125': 3.924,
 'Q1136': 10.0,
 'Q861206': 20.0,
 'Q1163715': 219.397,
 'Q848352': 4.926,
 'Q5875771': 2.0,
 'Q3564661': 9.86,
 'Q2352316': 5.0,
 'Q7623127': 10.848,
 'Q170581': 139.097,
 'Q182788': 7.9959999999999996,
 'Q233510': 6.0,
 'Q11303396': 2.0,
 'Q146575': 0.979,
 'Q14950651': 17.791,
 'Q5048309': 29.0,
 'Q176483': 1.0,
 'Q202466': 2.0,
 'Q30063347': 32.0,
 'Q954': 9.987,
 'Q1857407': 6.976,
 'Q1425378': 4.0,
 'Q233309': 1.927,
 'Q17060160': 26.0,
 'Q7414': 84.66799999999998,
 'Q39046747': 8.985000000000001,
 'Q206859': 28.945999999999998,
 'Q12147': 8.0,
 'Q111168': 5.925999999999999,
 'Q7138568': 1.0,
 'Q49085': 33.72999999999999,
 'Q174923': 2.985,
 'Q461469': 2.991,
 'Q1009963': 1.0,
 'Q19263662': 1.962,
 'Q59555084': 9.985,
 'Q11114344': 1.886,
 'Q653251': 0.993,

In [17]:
word2int

{'the': 1,
 'brands': 2,
 'queen': 3,
 'elizabeth': 4,
 ',': 5,
 'prince': 6,
 'charles': 7,
 'and': 8,
 'philip': 9,
 'swear': 10,
 'by': 11,
 'shop': 12,
 'notebooks': 13,
 'jackets': 14,
 'more': 15,
 'that': 16,
 'royals': 17,
 'ca': 18,
 "n't": 19,
 'live': 20,
 'without': 21,
 '.': 22,
 'dispose': 23,
 'of': 24,
 'unwanted': 25,
 'prescription': 26,
 'drugs': 27,
 'during': 28,
 'dea': 29,
 "'s": 30,
 'take': 31,
 'back': 32,
 'day': 33,
 'cost': 34,
 'trump': 35,
 'aid': 36,
 'freeze': 37,
 'in': 38,
 'trenches': 39,
 'ukraine': 40,
 'war': 41,
 'lt.': 42,
 'ivan': 43,
 'molchanets': 44,
 'peeked': 45,
 'over': 46,
 'a': 47,
 'parapet': 48,
 'sand': 49,
 'bags': 50,
 'at': 51,
 'front': 52,
 'line': 53,
 'next': 54,
 'to': 55,
 'him': 56,
 'was': 57,
 'an': 58,
 'empty': 59,
 'helmet': 60,
 'propped': 61,
 'up': 62,
 'trick': 63,
 'snipers': 64,
 'already': 65,
 'perforated': 66,
 'with': 67,
 'multiple': 68,
 'holes': 69,
 'i': 70,
 'nba': 71,
 'wife': 72,
 'here': 73,
 'how': 74,
 'it': 75,
 'affected': 76,
 'my': 77,
 'mental': 78,
 'health': 79,
 'felt': 80,
 'like': 81,
 'fraud': 82,
 'being': 83,
 'did': 84,
 'help': 85,
 'fact': 86,
 'nearly': 87,
 'destroyed': 88,
 'me': 89,
 'get': 90,
 'rid': 91,
 'skin': 92,
 'tags': 93,
 'according': 94,
 'dermatologist': 95,
 'they': 96,
 'seem': 97,
 'harmless': 98,
 'but': 99,
 'there': 100,
 'very': 101,
 'good': 102,
 'reason': 103,
 'you': 104,
 'should': 105,
 'ignore': 106,
 'them': 107,
 'post': 108,
 'appeared': 109,
 'first': 110,
 'on': 111,
 'reader': 112,
 'digest': 113,
 'nfl': 114,
 'be': 115,
 'able': 116,
 'fine': 117,
 'players': 118,
 'for': 119,
 'criticizing': 120,
 'officiating': 121,
 '?': 122,
 'several': 123,
 'fines': 124,
 'came': 125,
 'down': 126,
 'against': 127,
 'this': 128,
 'week': 129,
 'bad': 130,
 'look': 131,
 'league': 132,
 'record': 133,
 'your': 134,
 'screen': 135,
 'windows': 136,
 'macos': 137,
 'ios': 138,
 'or': 139,
 'android': 140,
 'easiest': 141,
 'way': 142,
 'what': 143,
 'happening': 144,
 'whichever': 145,
 'device': 146,
 "'re": 147,
 'using': 148,
 'been': 149,
 'orlando': 150,
 'hottest': 151,
 'october': 152,
 'ever': 153,
 'so': 154,
 'far': 155,
 'cooler': 156,
 'temperatures': 157,
 'wo': 158,
 'chill': 159,
 'bones': 160,
 'halloween': 161,
 'unless': 162,
 'count': 163,
 'sweat': 164,
 'dripping': 165,
 'from': 166,
 'armpits': 167,
 'guy': 168,
 'altered': 169,
 'his': 170,
 'diet': 171,
 'training': 172,
 'drop': 173,
 '65': 174,
 'pounds': 175,
 'pack': 176,
 'muscle': 177,
 'brandon': 178,
 'reid': 179,
 'advice': 180,
 ':': 181,
 '``': 182,
 'do': 183,
 'worry': 184,
 'other': 185,
 'people': 186,
 'think': 187,
 'even': 188,
 'smallest': 189,
 'fattest': 190,
 'gym': 191,
 'is': 192,
 'lapping': 193,
 'home': 194,
 'couch': 195,
 "''": 196,
 'chile': 197,
 'three': 198,
 'die': 199,
 'supermarket': 200,
 'fire': 201,
 'amid': 202,
 'protests': 203,
 'have': 204,
 'died': 205,
 'as': 206,
 'angry': 207,
 'entered': 208,
 'their': 209,
 'seventh': 210,
 'mayor': 211,
 'capital': 212,
 'city': 213,
 'santiago': 214,
 'said': 215,
 'sunday': 216,
 'best': 217,
 'ps5': 218,
 'games': 219,
 'top': 220,
 'playstation': 221,
 '5': 222,
 'titles': 223,
 'forward': 224,
 'every': 225,
 'confirmed': 226,
 'expected': 227,
 'game': 228,
 'we': 229,
 'wait': 230,
 'play': 231,
 'roasted': 232,
 'squash': 233,
 'panzanella': 234,
 'perfect': 235,
 'start': 236,
 'year': 237,
 'christmas': 238,
 'dinner': 239,
 'introducing': 240,
 'balance': 241,
 'out': 242,
 'sugar': 243,
 'cookie': 244,
 'obsession': 245,
 '50': 246,
 'foods': 247,
 'never': 248,
 'eat': 249,
 'experts': 250,
 'depressing': 251,
 'trying': 252,
 'make': 253,
 'ram': 254,
 '3500': 255,
 'quick': 256,
 'viper': 257,
 'requires': 258,
 'some': 259,
 'disassembly': 260,
 '2019': 261,
 'new': 262,
 'cummins': 263,
 'diesel': 264,
 'has': 265,
 '1000': 266,
 'lb-ft': 267,
 'torque': 268,
 'put': 269,
 'work': 270,
 'drag': 271,
 'strip': 272,
 'rye': 273,
 'football': 274,
 'wins': 275,
 'rendition': 276,
 'clobbers': 277,
 'harrison': 278,
 'after': 279,
 'going': 280,
 'into': 281,
 'halftime': 282,
 'tied': 283,
 'garnets': 284,
 'regrouped': 285,
 'made': 286,
 'resounding': 287,
 'second-half': 288,
 'statement': 289,
 'instagram': 290,
 'filters': 291,
 'plastic': 292,
 'surgery-inspired': 293,
 'effects': 294,
 'could': 295,
 'soon': 296,
 'disappear': 297,
 'effort': 298,
 'combat': 299,
 'negative': 300,
 'impacts': 301,
 'caused': 302,
 'social': 303,
 'media': 304,
 'company': 305,
 'announced': 306,
 'removing': 307,
 'all': 308,
 'its': 309,
 'give': 310,
 'surgery-like': 311,
 'effect': 312,
 'michigan': 313,
 'apple': 314,
 'recall': 315,
 '2,300': 316,
 'crates': 317,
 'contaminated': 318,
 'listeria': 319,
 'produce': 320,
 'recalled': 321,
 'cases': 322,
 'fresh': 323,
 'apples': 324,
 'kate': 325,
 'middleton': 326,
 'hairstyles': 327,
 'through': 328,
 'years': 329,
 'duchess': 330,
 'cambridge': 331,
 'knows': 332,
 'her': 333,
 'around': 334,
 'updo': 335,
 'stars': 336,
 'who': 337,
 'got': 338,
 'fired': 339,
 'major': 340,
 'projects': 341,
 'celebs': 342,
 'boot': 343,
 'movies': 344,
 'tv': 345,
 'shows': 346,
 'newark': 347,
 'liberty': 348,
 'airport': 349,
 'terminal': 350,
 'one': 351,
 '$': 352,
 '2.7': 353,
 'billion': 354,
 "'transformative": 355,
 "'": 356,
 'project': 357,
 'which': 358,
 'bi-state': 359,
 'agency': 360,
 'single-largest': 361,
 'investment': 362,
 'state': 363,
 'projected': 364,
 'completed': 365,
 '2022': 366,
 '2021': 367,
 'gmc': 368,
 'yukon': 369,
 'denali': 370,
 'motor1.com': 371,
 'sent': 372,
 'us': 373,
 'sure': 374,
 'looks': 375,
 'legit': 376,
 'john': 377,
 'dorsey': 378,
 'admits': 379,
 'talks': 380,
 'washington': 381,
 'takes': 382,
 'two': 383,
 'tango': 384,
 'team': 385,
 'officials': 386,
 'emphatically': 387,
 'denied': 388,
 'rumor': 389,
 'trent': 390,
 'williams': 391,
 'trade': 392,
 'cleveland': 393,
 'report': 394,
 'tuesday': 395,
 'later': 396,
 'browns': 397,
 'general': 398,
 'manager': 399,
 'admitted': 400,
 'publicly': 401,
 'he': 402,
 'talked': 403,
 'president': 404,
 'bruce': 405,
 'allen': 406,
 "'ve": 407,
 'had': 408,
 'few': 409,
 'conversations': 410,
 'via': 411,
 'mary': 412,
 'kay': 413,
 'cabot': 414,
 'plain': 415,
 'dealer': 416,
 '[': 417,
 ']': 418,
 'elijah': 419,
 'cummings': 420,
 'lie': 421,
 'capitol': 422,
 'thursday': 423,
 'democrat': 424,
 'whose': 425,
 'district': 426,
 'included': 427,
 'sections': 428,
 'baltimore': 429,
 'last': 430,
 'age': 431,
 '68': 432,
 'complications': 433,
 'related': 434,
 'longstanding': 435,
 'issues': 436,
 'finally': 437,
 'fight': 438,
 'seal': 439,
 'deal': 440,
 'university': 441,
 'park': 442,
 'pa.': 443,
 '--': 444,
 'fans': 445,
 'beaver': 446,
 'stadium': 447,
 'saturday': 448,
 'night': 449,
 'likely': 450,
 'not': 451,
 'know': 452,
 'mere': 453,
 'feet': 454,
 'celebration': 455,
 'inside': 456,
 'small': 457,
 'room': 458,
 'under': 459,
 'bleachers': 460,
 'sat': 461,
 'khaleke': 462,
 'hudson': 463,
 'shea': 464,
 'patterson': 465,
 'addressing': 466,
 'reporters': 467,
 '28-21': 468,
 'loss': 469,
 'no': 470,
 '7': 471,
 'penn': 472,
 'both': 473,
 'were': 474,
 'still': 475,
 'uniforms': 476,
 '...': 477,
 '17': 478,
 'abandoned': 479,
 'theme': 480,
 'parks': 481,
 'explore': 482,
 'thrills': 483,
 'chills': 484,
 'nostalgia': 485,
 'disney': 486,
 'six': 487,
 'flags': 488,
 'flintstones': 489,
 'amusement': 490,
 'succumbed': 491,
 'disasters': 492,
 'press': 493,
 'shifting': 494,
 'entertainment': 495,
 'markets': 496,
 'adventurous': 497,
 'whether': 498,
 'california': 499,
 'florida': 500,
 'ohio': 501,
 'can': 502,
 'fascinating': 503,
 'places': 504,
 'if': 505,
 'dare': 506,
 'dog': 507,
 'dies': 508,
 'protecting': 509,
 'children': 510,
 'deadly': 511,
 'snake': 512,
 'richardson': 513,
 'family': 514,
 'shares': 515,
 'video': 516,
 'photos': 517,
 'puppy': 518,
 'zeus': 519,
 'venomous': 520,
 'coral': 521,
 'ford': 522,
 'bronco': 523,
 'test': 524,
 'mule': 525,
 'spotted': 526,
 'flexing': 527,
 'muscles': 528,
 'australia': 529,
 'offered': 530,
 'land': 531,
 'however': 532,
 'trustbusters': 533,
 'bring': 534,
 'microsoft': 535,
 'lessons': 536,
 'big': 537,
 'tech': 538,
 'doj': 539,
 'makan': 540,
 'delrahim': 541,
 'ftc': 542,
 'joe': 543,
 'simons': 544,
 'agreed': 545,
 'divide': 546,
 'google': 547,
 'facebook': 548,
 'amazon': 549,
 'between': 550,
 'pga': 551,
 'tour': 552,
 'winners': 553,
 'gallery': 554,
 'recent': 555,
 'nashville': 556,
 'restaurants': 557,
 'ms.': 558,
 'cheap': 559,
 'rounds': 560,
 'lunch': 561,
 'deals': 562,
 '10': 563,
 'less': 564,
 'restaurant': 565,
 'food': 566,
 'prices': 567,
 'most': 568,
 'free': 569,
 'parking': 570,
 'things': 571,
 'knew': 572,
 'about': 573,
 'owls': 574,
 'huge': 575,
 'eyes': 576,
 'sharp': 577,
 'talons': 578,
 'swiveling': 579,
 'heads': 580,
 'are': 581,
 'mysterious': 582,
 'creatures': 583,
 '25': 584,
 'last-minute': 585,
 'ideas': 586,
 'will': 587,
 'absolutely': 588,
 'save': 589,
 'holiday': 590,
 'these': 591,
 'excited': 592,
 '(': 593,
 'sometimes-stressful': 594,
 ')': 595,
 'holidays': 596,
 'taste': 597,
 'rutgers': 598,
 'throws': 599,
 '1': 600,
 'yard': 601,
 '35-0': 602,
 'indiana': 603,
 'outfit': 604,
 'worn': 605,
 'see': 606,
 'style': 607,
 'choices': 608,
 'glam': 609,
 'gowns': 610,
 'coat': 611,
 'dresses': 612,
 're-wears': 613,
 'tiaras': 614,
 'hats': 615,
 'parties': 616,
 'weekend': 617,
 'oct.': 618,
 '24-27': 619,
 'now': 620,
 'before': 621,
 'biggest': 622,
 'coming': 623,
 'including': 624,
 'entourage': 625,
 'star': 626,
 'jeremy': 627,
 'piven': 628,
 'hosting': 629,
 'party': 630,
 'godfrey': 631,
 'hotel': 632,
 'thriller': 633,
 'mob': 634,
 'breaking': 635,
 'ferg': 636,
 'many': 637,
 'events': 638,
 'find': 639,
 'also': 640,
 'pumpkin': 641,
 'patches': 642,
 'tamapbay.com/things-to-do': 643,
 'pinellasstadium': 644,
 'screams': 645,
 'simple': 646,
 'changes': 647,
 'helped': 648,
 'lose': 649,
 '75': 650,
 '9': 651,
 'months': 652,
 'part': 653,
 'took': 654,
 'control': 655,
 'un': 656,
 'climate': 657,
 'fund': 658,
 'struggles': 659,
 'meet': 660,
 'goal': 661,
 'rich': 662,
 'countries': 663,
 'gathered': 664,
 'france': 665,
 'discuss': 666,
 'replenishing': 667,
 'international': 668,
 'meant': 669,
 'poor': 670,
 'nations': 671,
 'tackle': 672,
 'change': 673,
 'falling': 674,
 'short': 675,
 'targets': 676,
 'because': 677,
 'u.s.': 678,
 'stopped': 679,
 'contributing': 680,
 'ps4': 681,
 'great': 682,
 '4': 683,
 'available': 684,
 'today': 685,
 'sony': 686,
 'awesome': 687,
 'exclusives': 688,
 'third-party': 689,
 'must': 690,
 'plays': 691,
 '23': 692,
 'reboots': 693,
 'time': 694,
 'class': 695,
 'show': 696,
 'revivals': 697,
 'outshine': 698,
 'competition': 699,
 'steal': 700,
 'spotlight': 701,
 'own': 702,
 'originals': 703,
 'netflix': 704,
 'hackers': 705,
 'why': 706,
 'passwords': 707,
 'accounts': 708,
 'really': 709,
 'offer': 710,
 'selling': 711,
 'potential': 712,
 'stolen': 713,
 'tempt': 714,
 'subset': 715,
 'crossfit': 716,
 'injuries': 717,
 'affect': 718,
 'shoulder': 719,
 'question': 720,
 'does': 721,
 'risk': 722,
 'injury': 723,
 'answer': 724,
 'popularity': 725,
 'grown': 726,
 'immensely': 727,
 'while': 728,
 'participation': 729,
 'benefits': 730,
 'positive': 731,
 'athletes': 732,
 'place': 733,
 'complex': 734,
 'joint': 735,
 'different': 736,
 'bony': 737,
 'articulations': 738,
 'soft': 739,
 'tissue': 740,
 'structures': 741,
 'interact': 742,
 'together': 743,
 '20': 744,
 'must-try': 745,
 'gravy': 746,
 'recipes': 747,
 'thanksgiving': 748,
 'feast': 749,
 'turkey': 750,
 'just': 751,
 'same': 752,
 'little': 753,
 'snow': 754,
 'causes': 755,
 'mess': 756,
 'than': 757,
 '100': 758,
 'crashes': 759,
 'minnesota': 760,
 'roads': 761,
 'snowfall': 762,
 'one-tenth': 763,
 'inch': 764,
 'share': 765,
 'damaged': 766,
 'cars': 767,
 'rattled': 768,
 'drivers': 769,
 'early': 770,
 '118': 771,
 'reported': 772,
 '6': 773,
 'a.m.': 774,
 '11:30': 775,
 'patrol': 776,
 'another': 777,
 '22': 778,
 'vehicles': 779,
 'spun': 780,
 'slid': 781,
 'off': 782,
 'slick': 783,
 'spokesman': 784,
 'gordon': 785,
 'shank': 786,
 'weather-related': 787,
 'fatalities': 788,
 'although': 789,
 '18': 790,
 'extinction': 791,
 'rebellion': 792,
 'court': 793,
 'challenge': 794,
 'london': 795,
 'police': 796,
 'blanket': 797,
 'ban': 798,
 'activist': 799,
 '10-day': 800,
 'demonstrations': 801,
 'across': 802,
 'ruled': 803,
 'unlawful': 804,
 'la': 805,
 'rivalry': 806,
 'meaning': 807,
 'lakers': 808,
 'clippers': 809,
 'hunt': 810,
 'championship': 811,
 'finals': 812,
 'mvp': 813,
 'kawhi': 814,
 'leonard': 815,
 'say': 816,
 'used': 817,
 'taunts': 818,
 'booing': 819,
 'religion': 820,
 'tinseltown': 821,
 '400': 822,
 'jbl': 823,
 'link': 824,
 '500': 825,
 'smart': 826,
 'speaker': 827,
 'sale': 828,
 '150': 829,
 'equipped': 830,
 'bluetooth': 831,
 'wi-fi': 832,
 'chromecast': 833,
 'assistant': 834,
 'powerful': 835,
 'enough': 836,
 'largest': 837,
 'rooms': 838,
 'olympian': 839,
 'shawn': 840,
 'johnson': 841,
 'pregnancy': 842,
 'news': 843,
 'husband': 844,
 'andrew': 845,
 'east': 846,
 'taking': 847,
 'viewers': 848,
 'highs': 849,
 'lows': 850,
 'vlog': 851,
 'captured': 852,
 'hearts': 853,
 'thousands': 854,
 'online': 855,
 'probably': 856,
 'buying': 857,
 'costco': 858,
 'bigger': 859,
 'always': 860,
 'better': 861,
 'items': 862,
 'sell': 863,
 'cheaper': 864,
 'warehouse': 865,
 'power': 866,
 'ranking': 867,
 'chance': 868,
 'becoming': 869,
 '2020': 870,
 'democratic': 871,
 'presidential': 872,
 'nominee': 873,
 'combined': 874,
 'insider': 875,
 'polling': 876,
 'results': 877,
 'morning': 878,
 'consult': 879,
 'daily': 880,
 'survey': 881,
 'create': 882,
 'weekly': 883,
 'candidates': 884,
 'teach': 885,
 'kids': 886,
 'mindfulness': 887,
 'increased': 888,
 'important': 889,
 'history': 890,
 'november': 891,
 '2': 892,
 'royal': 893,
 'balmoral': 894,
 'castle': 895,
 'favorite': 896,
 'visiting': 897,
 'scottish': 898,
 'estate': 899,
 'century': 900,
 'cranberry': 901,
 'sauce': 902,
 "'ll": 903,
 'want': 904,
 'store-bought': 905,
 'version': 906,
 'again': 907,
 'phil': 908,
 'fulmer': 909,
 'blasts': 910,
 'ncaa': 911,
 'key': 912,
 'tennessee': 913,
 'freshman': 914,
 'eligibility': 915,
 'uros': 916,
 'plavsic': 917,
 'redshirt': 918,
 'transferred': 919,
 'arizona': 920,
 'coaching': 921,
 'allowed': 922,
 'suit': 923,
 'vols': 924,
 'season': 925,
 'george': 926,
 'life': 927,
 'future': 928,
 'king': 929,
 'england': 930,
 'third': 931,
 'throne': 932,
 'behind': 933,
 'father': 934,
 'real': 935,
 'jeopardy': 936,
 'questions': 937,
 'culling': 938,
 'data': 939,
 'straight': 940,
 '!': 941,
 'archives': 942,
 'stacker': 943,
 'provide': 944,
 'clue': 945,
 'then': 946,
 'present': 947,
 'form': 948,
 'following': 949,
 'slide': 950,
 'randall': 951,
 'rant': 952,
 'tiger': 953,
 'goat': 954,
 'majors': 955,
 'may': 956,
 'understand': 957,
 'woods': 958,
 'gone': 959,
 'golf': 960,
 'course': 961,
 'desirable': 962,
 'check': 963,
 'where': 964,
 'residents': 965,
 'would': 966,
 '40+': 967,
 'stuffed': 968,
 'pasta': 969,
 'stuff': 970,
 'yourself': 971,
 "'bachelor": 972,
 'amanda': 973,
 'stanton': 974,
 'dating': 975,
 "'rich": 976,
 'beverly': 977,
 'hills': 978,
 'brendan': 979,
 'fitzpatrick': 980,
 'mom': 981,
 'opened': 982,
 'et': 983,
 'august': 984,
 "'m": 985,
 'sorry': 986,
 'please': 987,
 'purse': 988,
 'welcome': 989,
 'house': 990,
 'bag': 991,
 'right': 992,
 'corgis': 993,
 '-': 994,
 'beloved': 995,
 'pets': 996,
 'much': 997,
 'loved': 998,
 'toyota': 999,
 'supra': 1000,
 ...}

In [18]:
entity2int

{'Q43274': 1,
 'Q9682': 2,
 'Q622899': 3,
 'Q212': 4,
 'Q155223': 5,
 'Q3179593': 6,
 'Q171171': 7,
 'Q371820': 8,
 'Q1215884': 9,
 'Q1406': 10,
 'Q94': 11,
 'Q49233': 12,
 'Q298': 13,
 'Q2887': 14,
 'Q1323662': 15,
 'Q19809': 16,
 'Q1211586': 17,
 'Q173476': 18,
 'Q209330': 19,
 'Q1166': 20,
 'Q10479': 21,
 'Q466786': 22,
 'Q910928': 23,
 'Q27150138': 24,
 'Q14950911': 25,
 'Q223527': 26,
 'Q37320': 27,
 'Q286036': 28,
 'Q934898': 29,
 'Q54109': 30,
 'Q5092': 31,
 'Q29552': 32,
 'Q692816': 33,
 'Q22007345': 34,
 'Q4534544': 35,
 'Q1400': 36,
 'Q194195': 37,
 'Q824278': 38,
 'Q812': 39,
 'Q201358': 40,
 'Q1397': 41,
 'Q99': 42,
 'Q534238': 43,
 'Q408': 44,
 'Q3122864': 45,
 'Q22686': 46,
 'Q95': 47,
 'Q355': 48,
 'Q312': 49,
 'Q3884': 50,
 'Q910409': 51,
 'Q23197': 52,
 'Q3517772': 53,
 'Q21168841': 54,
 'Q7687701': 55,
 'Q7382803': 56,
 'Q1415': 57,
 'Q251868': 58,
 'Q1065': 59,
 'Q142': 60,
 'Q5014725': 61,
 'Q41187': 62,
 'Q907311': 63,
 'Q2072840': 64,
 'Q1527': 65,
 'Q6868552': 66,
 'Q58819597': 67,
 'Q84': 68,
 'Q976396': 69,
 'Q926248': 70,
 'Q739499': 71,
 'Q25025241': 72,
 'Q39531': 73,
 'Q29643': 74,
 'Q229044': 75,
 'Q5389': 76,
 'Q19864263': 77,
 'Q715583': 78,
 'Q1624317': 79,
 'Q55669360': 80,
 'Q28401695': 81,
 'Q2915430': 82,
 'Q7185676': 83,
 'Q271805': 84,
 'Q499767': 85,
 'Q10993': 86,
 'Q30': 87,
 'Q20641700': 88,
 'Q941023': 89,
 'Q56008': 90,
 'Q23768': 91,
 'Q54437950': 92,
 'Q786803': 93,
 'Q15044972': 94,
 'Q164177': 95,
 'Q166105': 96,
 'Q13361286': 97,
 'Q23633': 98,
 'Q129240': 99,
 'Q38051551': 100,
 'Q4911497': 101,
 'Q44294': 102,
 'Q60': 103,
 'Q1157038': 104,
 'Q7118517': 105,
 'Q18205509': 106,
 'Q21515382': 107,
 'Q7201457': 108,
 'Q1030329': 109,
 'Q23058648': 110,
 'Q6952311': 111,
 'Q1370': 112,
 'Q7979443': 113,
 'Q13974': 114,
 'Q5875916': 115,
 'Q130838': 116,
 'Q165972': 117,
 'Q6502151': 118,
 'Q38952': 119,
 'Q172435': 120,
 'Q224164': 121,
 'Q18002970': 122,
 'Q830369': 123,
 'Q192152': 124,
 'Q892447': 125,
 'Q3069684': 126,
 'Q172610': 127,
 'Q1353305': 128,
 'Q8684': 129,
 'Q189': 130,
 'Q884': 131,
 'Q6276908': 132,
 'Q212654': 133,
 'Q1153176': 134,
 'Q193390': 135,
 'Q2094335': 136,
 'Q1553390': 137,
 'Q1330910': 138,
 'Q47596': 139,
 'Q423': 140,
 'Q56226': 141,
 'Q431140': 142,
 'Q5020422': 143,
 'Q108067': 144,
 'Q19876954': 145,
 'Q4637383': 146,
 'Q2778054': 147,
 'Q276539': 148,
 'Q786705': 149,
 'Q1537791': 150,
 'Q27049069': 151,
 'Q14951016': 152,
 'Q29468': 153,
 'Q1280288': 154,
 'Q483551': 155,
 'Q1046951': 156,
 'Q2307187': 157,
 'Q7948262': 158,
 'Q246782': 159,
 'Q54078': 160,
 'Q94388': 161,
 'Q337688': 162,
 'Q7934247': 163,
 'Q302612': 164,
 'Q1109032': 165,
 'Q848117': 166,
 'Q5889160': 167,
 'Q3304418': 168,
 'Q152316': 169,
 'Q36812': 170,
 'Q1207': 171,
 'Q94015': 172,
 'Q119515': 173,
 'Q152057': 174,
 'Q1330390': 175,
 'Q2280045': 176,
 'Q48989064': 177,
 'Q632511': 178,
 'Q391353': 179,
 'Q18380286': 180,
 'Q204357': 181,
 'Q724': 182,
 'Q1553': 183,
 'Q1048314': 184,
 'Q15935': 185,
 'Q6294': 186,
 'Q320476': 187,
 'Q6127917': 188,
 'Q320484': 189,
 'Q1363291': 190,
 'Q58691': 191,
 'Q16970982': 192,
 'Q816': 193,
 'Q718113': 194,
 'Q2954009': 195,
 'Q848629': 196,
 'Q188705': 197,
 'Q162990': 198,
 'Q32859236': 199,
 'Q157376': 200,
 'Q1391': 201,
 'Q571856': 202,
 'Q3296292': 203,
 'Q94967': 204,
 'Q49238': 205,
 'Q213660': 206,
 'Q1454': 207,
 'Q41329': 208,
 'Q948442': 209,
 'Q49389': 210,
 'Q214861': 211,
 'Q2869377': 212,
 'Q38076': 213,
 'Q193583': 214,
 'Q39357': 215,
 'Q219067': 216,
 'Q7587630': 217,
 'Q30253337': 218,
 'Q7054495': 219,
 'Q827550': 220,
 'Q1509': 221,
 'Q16': 222,
 'Q5132210': 223,
 'Q7894779': 224,
 'Q148': 225,
 'Q956': 226,
 'Q8646': 227,
 'Q17427': 228,
 'Q797819': 229,
 'Q186125': 230,
 'Q328473': 231,
 'Q2078880': 232,
 'Q1917753': 233,
 'Q1972120': 234,
 'Q3433273': 235,
 'Q1591889': 236,
 'Q153417': 237,
 'Q583725': 238,
 'Q1939224': 239,
 'Q105611': 240,
 'Q7397012': 241,
 'Q1777174': 242,
 'Q524757': 243,
 'Q5299741': 244,
 'Q60987711': 245,
 'Q5287': 246,
 'Q825838': 247,
 'Q25067722': 248,
 'Q158813': 249,
 'Q1612': 250,
 'Q19947779': 251,
 'Q266863': 252,
 'Q13973': 253,
 'Q48340': 254,
 'Q35525': 255,
 'Q186068': 256,
 'Q7080918': 257,
 'Q733742': 258,
 'Q223522': 259,
 'Q866': 260,
 'Q2526336': 261,
 'Q2421065': 262,
 'Q49255': 263,
 'Q186471': 264,
 'Q4819311': 265,
 'Q6744081': 266,
 'Q220347': 267,
 'Q847': 268,
 'Q373983': 269,
 'Q221150': 270,
 'Q503308': 271,
 'Q14710809': 272,
 'Q16554': 273,
 'Q16556': 274,
 'Q1342': 275,
 'Q217652': 276,
 'Q3043803': 277,
 'Q1204': 278,
 'Q6103950': 279,
 'Q178033': 280,
 'Q63719': 281,
 'Q16213876': 282,
 'Q7574310': 283,
 'Q6833674': 284,
 'Q235065': 285,
 'Q147077': 286,
 'Q191874': 287,
 'Q7173106': 288,
 'Q32620': 289,
 'Q1089199': 290,
 'Q506187': 291,
 'Q460336': 292,
 'Q3560687': 293,
 'Q797': 294,
 'Q4200953': 295,
 'Q9685': 296,
 'Q209479': 297,
 'Q7579939': 298,
 'Q1815381': 299,
 'Q1723946': 300,
 'Q1068013': 301,
 'Q7143356': 302,
 'Q233929': 303,
 'Q731168': 304,
 'Q1060788': 305,
 'Q650816': 306,
 'Q13479957': 307,
 'Q16759': 308,
 'Q43416': 309,
 'Q27924981': 310,
 'Q223243': 311,
 'Q191477': 312,
 'Q204862': 313,
 'Q4654049': 314,
 'Q189489': 315,
 'Q37459': 316,
 'Q127856': 317,
 'Q494556': 318,
 'Q1456': 319,
 'Q17943': 320,
 'Q3044445': 321,
 'Q51694': 322,
 'Q22': 323,
 'Q5599116': 324,
 'Q334204': 325,
 'Q632014': 326,
 'Q2747220': 327,
 'Q16147495': 328,
 'Q2631300': 329,
 'Q230492': 330,
 'Q27829251': 331,
 'Q18517638': 332,
 'Q5038832': 333,
 'Q7952573': 334,
 'Q2493039': 335,
 'Q25265': 336,
 'Q29469139': 337,
 'Q944845': 338,
 'Q4977062': 339,
 'Q24976': 340,
 'Q594428': 341,
 'Q645968': 342,
 'Q1967350': 343,
 'Q9212': 344,
 'Q3687081': 345,
 'Q2892868': 346,
 'Q16563': 347,
 'Q5324273': 348,
 'Q339348': 349,
 'Q12013': 350,
 'Q18358010': 351,
 'Q2707177': 352,
 'Q785130': 353,
 'Q18631526': 354,
 'Q16236747': 355,
 'Q272223': 356,
 'Q121783': 357,
 'Q42493': 358,
 'Q24204': 359,
 'Q186545': 360,
 'Q5599757': 361,
 'Q124179': 362,
 'Q3303463': 363,
 'Q2987371': 364,
 'Q34579349': 365,
 'Q1158012': 366,
 'Q179295': 367,
 'Q86483': 368,
 'Q112055': 369,
 'Q1428': 370,
 'Q1795024': 371,
 'Q189490': 372,
 'Q43668': 373,
 'Q19020': 374,
 'Q57456989': 375,
 'Q55': 376,
 'Q6663': 377,
 'Q177054': 378,
 'Q350843': 379,
 'Q16199304': 380,
 'Q3874799': 381,
 'Q2495362': 382,
 'Q40715': 383,
 'Q558664': 384,
 'Q15280': 385,
 'Q8877': 386,
 'Q2920352': 387,
 'Q21': 388,
 'Q26876': 389,
 'Q1770624': 390,
 'Q14950404': 391,
 'Q221878': 392,
 'Q272059': 393,
 'Q1192805': 394,
 'Q8058759': 395,
 'Q753641': 396,
 'Q16234568': 397,
 'Q15267489': 398,
 'Q8333': 399,
 'Q173': 400,
 'Q79875': 401,
 'Q265538': 402,
 'Q908027': 403,
 'Q35907': 404,
 'Q844': 405,
 'Q6781508': 406,
 'Q204711': 407,
 'Q19610114': 408,
 'Q56641109': 409,
 'Q29570': 410,
 'Q341174': 411,
 'Q428064': 412,
 'Q226062': 413,
 'Q4267401': 414,
 'Q642345': 415,
 'Q574192': 416,
 'Q7786369': 417,
 'Q929872': 418,
 'Q311269': 419,
 'Q843': 420,
 'Q258': 421,
 'Q359442': 422,
 'Q4379869': 423,
 'Q43': 424,
 'Q406': 425,
 'Q20707362': 426,
 'Q3033250': 427,
 'Q258999': 428,
 'Q58024': 429,
 'Q1052281': 430,
 'Q246': 431,
 'Q306966': 432,
 'Q7163731': 433,
 'Q223507': 434,
 'Q795406': 435,
 'Q14213': 436,
 'Q473239': 437,
 'Q11268': 438,
 'Q6451434': 439,
 'Q422917': 440,
 'Q21572825': 441,
 'Q4151335': 442,
 'Q19953601': 443,
 'Q4818639': 444,
 'Q7171565': 445,
 'Q750788': 446,
 'Q18121212': 447,
 'Q2429253': 448,
 'Q858': 449,
 'Q3018729': 450,
 'Q1017017': 451,
 'Q867496': 452,
 'Q1603': 453,
 'Q1567585': 454,
 'Q7570033': 455,
 'Q48525': 456,
 'Q11211': 457,
 'Q771': 458,
 'Q1387': 459,
 'Q54082': 460,
 'Q1066823': 461,
 'Q214700': 462,
 'Q55602672': 463,
 'Q56860229': 464,
 'Q47138769': 465,
 'Q129605': 466,
 'Q27734163': 467,
 'Q824': 468,
 'Q6460028': 469,
 'Q621532': 470,
 'Q971195': 471,
 'Q188920': 472,
 'Q193753': 473,
 'Q822': 474,
 'Q3820': 475,
 'Q40464': 476,
 'Q6661': 477,
 'Q45772': 478,
 'Q37079': 479,
 'Q94831': 480,
 'Q483507': 481,
 'Q445405': 482,
 'Q17198340': 483,
 'Q44857': 484,
 'Q62': 485,
 'Q213205': 486,
 'Q932981': 487,
 'Q6023149': 488,
 'Q6346': 489,
 'Q1148035': 490,
 'Q16557': 491,
 'Q1100609': 492,
 'Q82518': 493,
 'Q213417': 494,
 'Q1165712': 495,
 'Q4776474': 496,
 'Q324523': 497,
 'Q139564': 498,
 'Q108127': 499,
 'Q1706317': 500,
 'Q5083': 501,
 'Q725967': 502,
 'Q47664': 503,
 'Q119798': 504,
 'Q1574020': 505,
 'Q447967': 506,
 'Q2736': 507,
 'Q185142': 508,
 'Q324563': 509,
 'Q246992': 510,
 'Q5956645': 511,
 'Q696334': 512,
 'Q14169302': 513,
 'Q234712': 514,
 'Q190519': 515,
 'Q5474595': 516,
 'Q12439': 517,
 'Q250062': 518,
 'Q19079': 519,
 'Q156353': 520,
 'Q2249117': 521,
 'Q183': 522,
 'Q38280': 523,
 'Q2821724': 524,
 'Q172741': 525,
 'Q14950726': 526,
 'Q622747': 527,
 'Q432437': 528,
 'Q178516': 529,
 'Q6279': 530,
 'Q56754834': 531,
 'Q28810445': 532,
 'Q39075157': 533,
 'Q3897557': 534,
 'Q271880': 535,
 'Q596953': 536,
 'Q6767270': 537,
 'Q1537': 538,
 'Q7409856': 539,
 'Q334634': 540,
 'Q2156427': 541,
 'Q4964973': 542,
 'Q3105215': 543,
 'Q5461782': 544,
 'Q52290858': 545,
 'Q650807': 546,
 'Q302581': 547,
 'Q213837': 548,
 'Q1967244': 549,
 'Q1066807': 550,
 'Q169898': 551,
 'Q18097': 552,
 'Q253414': 553,
 'Q34581': 554,
 'Q11995': 555,
 'Q223511': 556,
 'Q6764512': 557,
 'Q330120': 558,
 'Q3183': 559,
 'Q446735': 560,
 'Q538901': 561,
 'Q372093': 562,
 'Q11220': 563,
 'Q360141': 564,
 'Q1135486': 565,
 'Q539444': 566,
 'Q942326': 567,
 'Q4235': 568,
 'Q542145': 569,
 'Q1450606': 570,
 'Q1408': 571,
 'Q3112728': 572,
 'Q260042': 573,
 'Q40469': 574,
 'Q22006111': 575,
 'Q21062969': 576,
 'Q2283': 577,
 'Q478214': 578,
 'Q11690': 579,
 'Q248': 580,
 'Q9588': 581,
 'Q1146685': 582,
 'Q1021512': 583,
 'Q32333487': 584,
 'Q54103417': 585,
 'Q34': 586,
 'Q6846901': 587,
 'Q1106511': 588,
 'Q504309': 589,
 'Q10862290': 590,
 'Q746830': 591,
 'Q59465': 592,
 'Q1060537': 593,
 'Q5370765': 594,
 'Q920037': 595,
 'Q6499202': 596,
 'Q52': 597,
 'Q337377': 598,
 'Q18631600': 599,
 'Q981788': 600,
 'Q14621144': 601,
 'Q11081': 602,
 'Q15825471': 603,
 'Q219714': 604,
 'Q205033': 605,
 'Q2750084': 606,
 'Q49227': 607,
 'Q631194': 608,
 'Q247869': 609,
 'Q753950': 610,
 'Q11701': 611,
 'Q3297873': 612,
 'Q3564723': 613,
 'Q429050': 614,
 'Q1062280': 615,
 'Q36159': 616,
 'Q65': 617,
 'Q3277465': 618,
 'Q3157332': 619,
 'Q713960': 620,
 'Q720027': 621,
 'Q219602': 622,
 'Q536705': 623,
 'Q1647788': 624,
 'Q2060485': 625,
 'Q3172032': 626,
 'Q985348': 627,
 'Q7920374': 628,
 'Q19716893': 629,
 'Q2052291': 630,
 'Q26251644': 631,
 'Q255911': 632,
 'Q1547320': 633,
 'Q3182972': 634,
 'Q9050707': 635,
 'Q112915': 636,
 'Q5226214': 637,
 'Q936190': 638,
 'Q7287916': 639,
 'Q878942': 640,
 'Q7459509': 641,
 'Q5131553': 642,
 'Q826751': 643,
 'Q6738184': 644,
 'Q1133513': 645,
 'Q4661865': 646,
 'Q196185': 647,
 'Q180950': 648,
 'Q2598396': 649,
 'Q7957641': 650,
 'Q23556': 651,
 'Q127530': 652,
 'Q32396': 653,
 'Q1439': 654,
 'Q7304859': 655,
 'Q10608114': 656,
 'Q57313601': 657,
 'Q61504': 658,
 'Q368215': 659,
 'Q48493': 660,
 'Q43874': 661,
 'Q13979': 662,
 'Q1546': 663,
 'Q959451': 664,
 'Q166032': 665,
 'Q21086634': 666,
 'Q2766': 667,
 'Q20007086': 668,
 'Q9340': 669,
 'Q207784': 670,
 'Q11466': 671,
 'Q1192310': 672,
 'Q936661': 673,
 'Q3369361': 674,
 'Q3028907': 675,
 'Q5070058': 676,
 'Q3992490': 677,
 'Q193692': 678,
 'Q2913791': 679,
 'Q26966': 680,
 'Q128471': 681,
 'Q729478': 682,
 'Q2759586': 683,
 'Q815817': 684,
 'Q30133334': 685,
 'Q490': 686,
 'Q38': 687,
 'Q189125': 688,
 'Q1136': 689,
 'Q861206': 690,
 'Q1163715': 691,
 'Q848352': 692,
 'Q5875771': 693,
 'Q3564661': 694,
 'Q2352316': 695,
 'Q7623127': 696,
 'Q170581': 697,
 'Q182788': 698,
 'Q233510': 699,
 'Q11303396': 700,
 'Q14950651': 701,
 'Q5048309': 702,
 'Q202466': 703,
 'Q30063347': 704,
 'Q954': 705,
 'Q1857407': 706,
 'Q1425378': 707,
 'Q17060160': 708,
 'Q7414': 709,
 'Q39046747': 710,
 'Q206859': 711,
 'Q12147': 712,
 'Q111168': 713,
 'Q49085': 714,
 'Q174923': 715,
 'Q461469': 716,
 'Q59555084': 717,
 'Q20090644': 718,
 'Q340': 719,
 'Q39259': 720,
 'Q1922067': 721,
 'Q550258': 722,
 'Q191615': 723,
 'Q1558': 724,
 'Q11201': 725,
 'Q739550': 726,
 'Q5214234': 727,
 'Q2865008': 728,
 'Q3290452': 729,
 'Q2299611': 730,
 'Q35657': 731,
 'Q772304': 732,
 'Q7925401': 733,
 'Q1070684': 734,
 'Q7759597': 735,
 'Q285450': 736,
 'Q313381': 737,
 'Q12057690': 738,
 'Q485172': 739,
 'Q465597': 740,
 'Q2877626': 741,
 'Q28170697': 742,
 'Q183476': 743,
 'Q7702149': 744,
 'Q2014922': 745,
 'Q7759594': 746,
 'Q383260': 747,
 'Q918224': 748,
 'Q3077088': 749,
 'Q81965': 750,
 'Q683705': 751,
 'Q61': 752,
 'Q520673': 753,
 'Q19879826': 754,
 'Q7324202': 755,
 'Q4025936': 756,
 'Q6390964': 757,
 'Q572134': 758,
 'Q873': 759,
 'Q3366864': 760,
 'Q131439': 761,
 'Q18719509': 762,
 'Q217776': 763,
 'Q918': 764,
 'Q27650': 765,
 'Q12091191': 766,
 'Q674953': 767,
 'Q223': 768,
 'Q105584': 769,
 'Q1925718': 770,
 'Q3502886': 771,
 'Q1570423': 772,
 'Q491132': 773,
 'Q6841333': 774,
 'Q488690': 775,
 'Q2276408': 776,
 'Q351': 777,
 'Q16236139': 778,
 'Q31545131': 779,
 'Q3026879': 780,
 'Q16234676': 781,
 'Q926404': 782,
 'Q944329': 783,
 'Q194057': 784,
 'Q604141': 785,
 'Q30113': 786,
 'Q2881660': 787,
 'Q8071888': 788,
 'Q7442150': 789,
 'Q108861': 790,
 'Q373491': 791,
 'Q522497': 792,
 'Q7824333': 793,
 'Q47524071': 794,
 'Q55907451': 795,
 'Q223514': 796,
 'Q251267': 797,
 'Q41819': 798,
 'Q203263': 799,
 'Q7949690': 800,
 'Q4813453': 801,
 'Q151107': 802,
 'Q371068': 803,
 'Q58879016': 804,
 'Q201279': 805,
 'Q984327': 806,
 'Q1146532': 807,
 'Q746448': 808,
 'Q4740236': 809,
 'Q1073891': 810,
 'Q96': 811,
 'Q26590': 812,
 'Q187954': 813,
 'Q2537102': 814,
 'Q3067058': 815,
 'Q688825': 816,
 'Q1783815': 817,
 'Q18185763': 818,
 'Q73801': 819,
 'Q145': 820,
 'Q13133': 821,
 'Q6861797': 822,
 'Q39804': 823,
 'Q6837794': 824,
 'Q22958459': 825,
 'Q190618': 826,
 'Q52286175': 827,
 'Q7205279': 828,
 'Q6334184': 829,
 'Q18013': 830,
 'Q20858198': 831,
 'Q14708228': 832,
 'Q14375933': 833,
 'Q3090378': 834,
 'Q18097882': 835,
 'Q39709': 836,
 'Q3154693': 837,
 'Q1384': 838,
 'Q880256': 839,
 'Q49246': 840,
 'Q55604490': 841,
 'Q717': 842,
 'Q58132': 843,
 'Q5255734': 844,
 'Q483325': 845,
 'Q13909': 846,
 'Q49197': 847,
 'Q2938067': 848,
 'Q8337': 849,
 'Q462': 850,
 'Q485561': 851,
 'Q7080909': 852,
 'Q16241314': 853,
 'Q365150': 854,
 'Q4743783': 855,
 'Q486472': 856,
 'Q861764': 857,
 'Q1581': 858,
 'Q35996': 859,
 'Q5461440': 860,
 'Q50602': 861,
 'Q1886': 862,
 'Q53758999': 863,
 'Q128581': 864,
 'Q247': 865,
 'Q3105192': 866,
 'Q3186148': 867,
 'Q1193671': 868,
 'Q44380': 869,
 'Q58416634': 870,
 'Q5308980': 871,
 'Q36669': 872,
 'Q16845154': 873,
 'Q7627822': 874,
 'Q7377586': 875,
 'Q36153': 876,
 'Q16209626': 877,
 'Q33659': 878,
 'Q18217678': 879,
 'Q6758302': 880,
 'Q727': 881,
 'Q483915': 882,
 'Q696852': 883,
 'Q49142': 884,
 'Q44437': 885,
 'Q78893': 886,
 'Q39': 887,
 'Q35919': 888,
 'Q100': 889,
 'Q660297': 890,
 'Q668642': 891,
 'Q208099': 892,
 'Q32491': 893,
 'Q3130': 894,
 'Q43297': 895,
 'Q23844': 896,
 'Q7601091': 897,
 'Q295340': 898,
 'Q273256': 899,
 'Q161345': 900,
 'Q3826815': 901,
 'Q1125149': 902,
 'Q46': 903,
 'Q548733': 904,
 'Q869': 905,
 'Q26132256': 906,
 'Q920422': 907,
 'Q1088765': 908,
 'Q28402858': 909,
 'Q3099714': 910,
 'Q318435': 911,
 'Q2922711': 912,
 'Q2465468': 913,
 'Q485176': 914,
 'Q206364': 915,
 'Q10731': 916,
 'Q57339590': 917,
 'Q3876006': 918,
 'Q6506294': 919,
 'Q4749380': 920,
 'Q168992': 921,
 'Q6801475': 922,
 'Q7389710': 923,
 'Q1543066': 924,
 'Q155': 925,
 'Q12630': 926,
 'Q11223': 927,
 'Q182027': 928,
 'Q11224': 929,
 'Q5552563': 930,
 'Q1654116': 931,
 'Q18426': 932,
 'Q796': 933,
 'Q1530': 934,
 'Q16849914': 935,
 'Q379689': 936,
 'Q3305843': 937,
 'Q3827874': 938,
 'Q18419': 939,
 'Q16052369': 940,
 'Q13371': 941,
 'Q2118270': 942,
 'Q13959': 943,
 'Q232646': 944,
 'Q715156': 945,
 'Q359': 946,
 'Q9584': 947,
 'Q192814': 948,
 'Q830669': 949,
 'Q6210362': 950,
 'Q3958008': 951,
 'Q1393809': 952,
 'Q839466': 953,
 'Q767499': 954,
 'Q43380': 955,
 'Q18151589': 956,
 'Q378341': 957,
 'Q7291489': 958,
 'Q830621': 959,
 'Q1809448': 960,
 'Q217525': 961,
 'Q125054': 962,
 'Q55606843': 963,
 'Q16149402': 964,
 'Q659219': 965,
 'Q36091': 966,
 'Q38022': 967,
 'Q7101232': 968,
 'Q34739': 969,
 'Q193159': 970,
 'Q159': 971,
 'Q16558': 972,
 'Q4653502': 973,
 'Q193482': 974,
 'Q16155561': 975,
 'Q1480013': 976,
 'Q126399': 977,
 'Q4740834': 978,
 'Q27662581': 979,
 'Q25278': 980,
 'Q163480': 981,
 'Q49042': 982,
 'Q1066858': 983,
 'Q504998': 984,
 'Q191485': 985,
 'Q5467906': 986,
 'Q2048237': 987,
 'Q599573': 988,
 'Q6905708': 989,
 'Q717897': 990,
 'Q131758': 991,
 'Q193458': 992,
 'Q434706': 993,
 'Q846570': 994,
 'Q57867737': 995,
 'Q371781': 996,
 'Q6837797': 997,
 'Q50415824': 998,
 'Q19872249': 999,
 'Q460173': 1000,
 ...}

In [19]:
df_news

,id,category,subcategory,title,abstract,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...","[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...
42411,N63550,lifestyle,lifestyleroyals,Why Kate & Meghan Were on Different Balconies ...,There's no scandal here. It's all about the or...,"[{""Label"": ""Meghan, Duchess of Sussex"", ""Type""...",[]
42412,N30345,entertainment,entertainment-celebrity,See the stars at the 2019 Baby2Baby gala,Stars like Chrissy Teigen and Kate Hudson supp...,[],"[{""Label"": ""Kate Hudson"", ""Type"": ""P"", ""Wikida..."
42413,N30135,news,newsgoodnews,Tennessee judge holds lawyer's baby as he swea...,Tennessee Court of Appeals Judge Richard Dinki...,"[{""Label"": ""Tennessee"", ""Type"": ""G"", ""Wikidata...","[{""Label"": ""Tennessee Court of Appeals"", ""Type..."
42414,N44276,autos,autossports,Best Sports Car Deals for October,,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
42415,N39563,sports,more_sports,Shall we dance: Sports stars shake their leg,,[],[]

In [20]:
def parse_row(row):
    new_row = [
        row.id,
        category2int[row.category] if row.category in category2int else 0,
        category2int[row.subcategory] if row.subcategory in category2int else 0,
        [0] * config["BASE_CONFIG"]["num_words_title"],
        [0] * config["BASE_CONFIG"]["num_words_abstract"],
        [0] * config["BASE_CONFIG"]["num_words_title"],
        [0] * config["BASE_CONFIG"]["num_words_abstract"],
    ]

    # Calculate local entity map (map lower single word to entity)
    local_entity_map = {}
    for e in json.loads(row.title_entities):
        if (
            e["Confidence"] > config["BASE_CONFIG"]["entity_confidence_threshold"]
            and e["WikidataId"] in entity2int
        ):
            for x in " ".join(e["SurfaceForms"]).lower().split():
                local_entity_map[x] = entity2int[e["WikidataId"]]
    for e in json.loads(row.abstract_entities):
        if (
            e["Confidence"] > config["BASE_CONFIG"]["entity_confidence_threshold"]
            and e["WikidataId"] in entity2int
        ):
            for x in " ".join(e["SurfaceForms"]).lower().split():
                local_entity_map[x] = entity2int[e["WikidataId"]]

    try:
        for i, w in enumerate(word_tokenize(row.title.lower())):
            if w in word2int:
                new_row[3][i] = word2int[w]
                if w in local_entity_map:
                    new_row[5][i] = local_entity_map[w]
    except IndexError:
        pass

    try:
        for i, w in enumerate(word_tokenize(row.abstract.lower())):
            if w in word2int:
                new_row[4][i] = word2int[w]
                if w in local_entity_map:
                    new_row[6][i] = local_entity_map[w]
    except IndexError:
        pass

    return pd.Series(
        new_row,
        index=[
            "id",
            "category",
            "subcategory",
            "title",
            "abstract",
            "title_entities",
            "abstract_entities",
        ],
    )

In [21]:
import swifter

In [22]:
parsed_news = df_news.swifter.apply(parse_row, axis=1)

Pandas Apply:   0%|          | 0/42416 [00:00<?, ?it/s]

In [23]:
parsed_news

,id,category,subcategory,title,abstract,title_entities,abstract_entities
0,N55528,1,2,"[1, 2, 3, 4, 5, 6, 7, 5, 8, 6, 9, 10, 11, 0, 0...","[12, 1, 13, 5, 14, 5, 8, 15, 16, 1, 17, 18, 19...","[0, 0, 2, 2, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,N18955,3,4,"[23, 24, 25, 26, 27, 28, 1, 29, 30, 31, 32, 33...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,N61837,5,6,"[1, 34, 24, 35, 30, 36, 37, 38, 1, 39, 24, 40,...","[42, 43, 44, 45, 46, 47, 48, 24, 49, 50, 51, 1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,N53526,3,7,"[70, 57, 58, 71, 72, 22, 73, 30, 74, 75, 76, 7...","[70, 80, 81, 70, 57, 47, 82, 5, 8, 83, 58, 71,...","[0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, ..."
4,N38324,3,4,"[74, 55, 90, 91, 24, 92, 93, 5, 94, 55, 47, 95...","[96, 97, 98, 5, 99, 100, 30, 47, 101, 102, 103...","[0, 0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 7, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...
42411,N63550,1,2,"[706, 325, 2029, 1864, 474, 111, 736, 63372, 1...","[100, 30, 470, 4721, 73, 22, 75, 30, 308, 573,...","[0, 21, 0, 168, 0, 0, 0, 0, 0, 9116, 9116, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
42412,N30345,14,114,"[606, 1, 336, 51, 1, 261, 62719, 13453, 0, 0, ...","[336, 81, 17991, 17992, 8, 325, 463, 4206, 627...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 2892, 2892, 0, 4692, 4692, 0, 0, 0, 0, ..."
42413,N30135,5,76,"[913, 3914, 5770, 5384, 30, 2387, 206, 402, 45...","[913, 793, 24, 6519, 3914, 6310, 63374, 192, 2...","[221, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[221, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
42414,N44276,19,136,"[217, 3129, 1067, 562, 119, 152, 0, 0, 0, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
42415,N39563,8,28,"[28536, 229, 1272, 181, 3129, 336, 4193, 209, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [24]:
word2int_path = "/workspace/nabang1010/LBA_NLP/Recommendation_System/src/NRMS_nabang1010/DATA_nabang1010/train/word2int.tsv"
pd.DataFrame(word2int.items(), columns=["word", "int"]).to_csv(
    word2int_path, sep="\t", index=False
)

---

## Generate Word Embedding

In [25]:
source_embedding = (
    "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/glove/glove.840B.300d.txt"
)

source_embedding = pd.read_table(
    source_embedding,
    index_col=0,
    sep=" ",
    header=None,
    quoting=csv.QUOTE_NONE,
    names=range(config["BASE_CONFIG"]["word_embedding_dim"]),
)

In [26]:
source_embedding

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
",",-0.082752,0.672040,-0.149870,-0.064983,0.056491,0.402280,0.002775,-0.331100,-0.306910,2.0817,...,-0.14331,0.018267,-0.186430,0.207090,-0.355980,0.053380,-0.050821,-0.191800,-0.378460,-0.06589
.,0.012001,0.207510,-0.125780,-0.593250,0.125250,0.159750,0.137480,-0.331570,-0.136940,1.7893,...,0.16165,-0.066737,-0.295560,0.022612,-0.281350,0.063500,0.140190,0.138710,-0.360490,-0.03500
the,0.272040,-0.062030,-0.188400,0.023225,-0.018158,0.006719,-0.138770,0.177080,0.177090,2.5882,...,-0.42810,0.168990,0.225110,-0.285570,-0.102800,-0.018168,0.114070,0.130150,-0.183170,0.13230
and,-0.185670,0.066008,-0.252090,-0.117250,0.265130,0.064908,0.122910,-0.093979,0.024321,2.4926,...,-0.59396,-0.097729,0.200720,0.170550,-0.004736,-0.039709,0.324980,-0.023452,0.123020,0.33120
to,0.319240,0.063160,-0.278580,0.261200,0.079248,-0.214620,-0.104950,0.154950,-0.033530,2.4834,...,-0.12977,0.371300,0.188880,-0.004274,-0.106450,-0.258100,-0.044629,0.082745,0.097801,0.25045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xtremecaffeine,0.073032,-1.029400,-0.015436,0.726150,-0.992460,0.297660,0.316560,0.202480,0.354990,-1.5233,...,0.14481,-0.475240,-0.013947,0.561070,0.475010,0.127380,0.129570,0.422640,-0.113330,0.16125
yildirim,0.222760,-0.296390,0.694120,0.193620,-0.312760,0.248240,0.434490,-1.589400,0.243650,-1.6554,...,1.10830,-0.009433,-0.185360,0.258170,0.861290,-0.413980,0.240180,0.093864,-0.165450,-0.34593
z/28,0.734400,-0.336410,0.269180,0.418430,-0.189000,0.280200,0.238750,-0.128790,-0.157970,-1.2841,...,-0.31101,-0.989550,0.276270,0.252650,0.479310,-0.484320,-1.005500,0.637180,-0.139140,-0.16472
zipout,0.212150,-0.994560,1.178200,2.072100,-0.442710,0.587300,0.261280,-0.425540,0.030910,-1.6743,...,-0.19946,-0.198480,1.091500,-0.351070,-1.047200,-0.413820,-0.211390,0.934270,-0.932860,-0.51479
zulchzulu,-0.079690,-0.229050,0.803660,-0.788650,-0.405670,-0.157160,-0.423020,0.640810,-0.132150,-1.4109,...,0.64657,-0.415910,0.142400,-0.051749,0.389250,-0.205220,0.268780,-0.083561,0.485320,-0.73130

In [27]:
word2int = pd.read_table(word2int_path, na_filter=False, index_col="word")

In [28]:
word2int

              int
word
the             1
brands          2
queen           3
elizabeth       4
,               5
...           ...
precedence  63373
dinkins     63374
baby.in     63375
juliana     63376
news.y'all  63377

[63377 rows x 1 columns]

In [29]:
source_embedding.index.rename("word", inplace=True)

In [30]:
source_embedding

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
word,,,,,,,,,,,,,,,,,,,,,
",",-0.082752,0.672040,-0.149870,-0.064983,0.056491,0.402280,0.002775,-0.331100,-0.306910,2.0817,...,-0.14331,0.018267,-0.186430,0.207090,-0.355980,0.053380,-0.050821,-0.191800,-0.378460,-0.06589
.,0.012001,0.207510,-0.125780,-0.593250,0.125250,0.159750,0.137480,-0.331570,-0.136940,1.7893,...,0.16165,-0.066737,-0.295560,0.022612,-0.281350,0.063500,0.140190,0.138710,-0.360490,-0.03500
the,0.272040,-0.062030,-0.188400,0.023225,-0.018158,0.006719,-0.138770,0.177080,0.177090,2.5882,...,-0.42810,0.168990,0.225110,-0.285570,-0.102800,-0.018168,0.114070,0.130150,-0.183170,0.13230
and,-0.185670,0.066008,-0.252090,-0.117250,0.265130,0.064908,0.122910,-0.093979,0.024321,2.4926,...,-0.59396,-0.097729,0.200720,0.170550,-0.004736,-0.039709,0.324980,-0.023452,0.123020,0.33120
to,0.319240,0.063160,-0.278580,0.261200,0.079248,-0.214620,-0.104950,0.154950,-0.033530,2.4834,...,-0.12977,0.371300,0.188880,-0.004274,-0.106450,-0.258100,-0.044629,0.082745,0.097801,0.25045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xtremecaffeine,0.073032,-1.029400,-0.015436,0.726150,-0.992460,0.297660,0.316560,0.202480,0.354990,-1.5233,...,0.14481,-0.475240,-0.013947,0.561070,0.475010,0.127380,0.129570,0.422640,-0.113330,0.16125
yildirim,0.222760,-0.296390,0.694120,0.193620,-0.312760,0.248240,0.434490,-1.589400,0.243650,-1.6554,...,1.10830,-0.009433,-0.185360,0.258170,0.861290,-0.413980,0.240180,0.093864,-0.165450,-0.34593
z/28,0.734400,-0.336410,0.269180,0.418430,-0.189000,0.280200,0.238750,-0.128790,-0.157970,-1.2841,...,-0.31101,-0.989550,0.276270,0.252650,0.479310,-0.484320,-1.005500,0.637180,-0.139140,-0.16472
zipout,0.212150,-0.994560,1.178200,2.072100,-0.442710,0.587300,0.261280,-0.425540,0.030910,-1.6743,...,-0.19946,-0.198480,1.091500,-0.351070,-1.047200,-0.413820,-0.211390,0.934270,-0.932860,-0.51479
zulchzulu,-0.079690,-0.229050,0.803660,-0.788650,-0.405670,-0.157160,-0.423020,0.640810,-0.132150,-1.4109,...,0.64657,-0.415910,0.142400,-0.051749,0.389250,-0.205220,0.268780,-0.083561,0.485320,-0.73130

In [31]:
merged = word2int.merge(
    source_embedding, how="inner", left_index=True, right_index=True
)

In [32]:
merged

,int,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
word,,,,,,,,,,,,,,,,,,,,,
!,941,-0.265540,0.335310,0.218600,-0.301000,-0.055470,-0.242360,0.172360,-0.163340,-0.109000,...,-0.38645,-0.150560,-0.032827,-0.105290,0.283970,-0.255000,0.151950,-0.178590,-0.062878,0.162320
#,3260,-0.444670,0.695360,0.427480,0.219060,0.117570,-0.213110,0.580860,0.073145,-0.085245,...,0.28116,0.357600,-0.056253,0.219490,0.351250,-0.413770,-0.278680,-0.079391,-0.527170,-0.124130
$,352,-0.607120,0.425440,0.510400,-0.287500,0.514750,0.082824,-0.415860,-0.343850,0.489610,...,-0.30249,-0.025315,0.471890,-0.226380,-0.974970,0.061226,-0.388950,-0.185880,0.025965,-0.482310
%,1975,-1.257500,0.716480,-0.065293,0.006738,-0.279670,-0.068012,-0.093761,0.316350,0.159900,...,0.15569,0.349450,0.160910,-0.296250,-0.329330,-0.447430,-0.864720,-0.375350,0.111350,-0.332260
&,2029,-0.329710,0.334650,-0.067601,-0.032601,0.757840,-0.173780,0.321860,-0.079652,0.182100,...,-0.71663,-0.158360,0.018979,0.273480,0.238480,0.249300,0.401640,-0.264940,0.166040,0.220470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
¾,17793,0.104810,0.571770,-0.056518,0.731640,0.259360,-0.251190,-0.522290,0.423390,0.123080,...,0.16919,-0.083415,-0.320600,-0.133910,0.061207,0.170740,-0.025822,-0.370360,0.507470,-0.704670
―,18985,-0.281300,-0.061073,-0.028948,-0.072932,0.088378,0.114800,0.067462,-0.228190,0.309690,...,0.19086,0.166820,-0.610980,-0.409540,-0.118750,0.007000,0.512030,0.028562,-0.152240,0.075667
•,47133,-0.410340,0.672390,0.122260,0.326450,-0.282560,-0.084786,0.012697,-0.087197,-0.049720,...,-0.24702,0.537520,-0.175870,0.076204,-0.201050,-0.202310,-0.118580,0.096621,0.504210,-0.222980
…,6666,0.001631,-0.065206,-0.280480,0.045933,-0.051209,0.091673,0.097920,-0.114860,0.367430,...,-0.27928,0.025629,-0.118460,-0.434610,-0.007270,-0.136660,0.399090,0.012960,0.000707,-0.066269
♫,57488,0.160890,-0.037922,-0.670390,0.607200,-0.357910,-0.451970,-0.031994,-0.072121,-0.040455,...,-0.19913,-0.054126,-0.144070,0.262530,0.696720,0.086370,0.417850,0.268100,0.379910,0.077427

In [33]:
merged.set_index("int", inplace=True)
merged

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
int,,,,,,,,,,,,,,,,,,,,,
941,-0.265540,0.335310,0.218600,-0.301000,-0.055470,-0.242360,0.172360,-0.163340,-0.109000,1.26710,...,-0.38645,-0.150560,-0.032827,-0.105290,0.283970,-0.255000,0.151950,-0.178590,-0.062878,0.162320
3260,-0.444670,0.695360,0.427480,0.219060,0.117570,-0.213110,0.580860,0.073145,-0.085245,0.36655,...,0.28116,0.357600,-0.056253,0.219490,0.351250,-0.413770,-0.278680,-0.079391,-0.527170,-0.124130
352,-0.607120,0.425440,0.510400,-0.287500,0.514750,0.082824,-0.415860,-0.343850,0.489610,0.70518,...,-0.30249,-0.025315,0.471890,-0.226380,-0.974970,0.061226,-0.388950,-0.185880,0.025965,-0.482310
1975,-1.257500,0.716480,-0.065293,0.006738,-0.279670,-0.068012,-0.093761,0.316350,0.159900,0.77747,...,0.15569,0.349450,0.160910,-0.296250,-0.329330,-0.447430,-0.864720,-0.375350,0.111350,-0.332260
2029,-0.329710,0.334650,-0.067601,-0.032601,0.757840,-0.173780,0.321860,-0.079652,0.182100,0.66829,...,-0.71663,-0.158360,0.018979,0.273480,0.238480,0.249300,0.401640,-0.264940,0.166040,0.220470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17793,0.104810,0.571770,-0.056518,0.731640,0.259360,-0.251190,-0.522290,0.423390,0.123080,-0.65067,...,0.16919,-0.083415,-0.320600,-0.133910,0.061207,0.170740,-0.025822,-0.370360,0.507470,-0.704670
18985,-0.281300,-0.061073,-0.028948,-0.072932,0.088378,0.114800,0.067462,-0.228190,0.309690,0.56512,...,0.19086,0.166820,-0.610980,-0.409540,-0.118750,0.007000,0.512030,0.028562,-0.152240,0.075667
47133,-0.410340,0.672390,0.122260,0.326450,-0.282560,-0.084786,0.012697,-0.087197,-0.049720,0.62355,...,-0.24702,0.537520,-0.175870,0.076204,-0.201050,-0.202310,-0.118580,0.096621,0.504210,-0.222980
6666,0.001631,-0.065206,-0.280480,0.045933,-0.051209,0.091673,0.097920,-0.114860,0.367430,1.21310,...,-0.27928,0.025629,-0.118460,-0.434610,-0.007270,-0.136660,0.399090,0.012960,0.000707,-0.066269
57488,0.160890,-0.037922,-0.670390,0.607200,-0.357910,-0.451970,-0.031994,-0.072121,-0.040455,-0.80706,...,-0.19913,-0.054126,-0.144070,0.262530,0.696720,0.086370,0.417850,0.268100,0.379910,0.077427

In [34]:
import numpy as np

In [35]:
missed_index = np.setdiff1d(np.arange(len(word2int) + 1), merged.index.values)

In [36]:
missed_index

array([    0,    44,   293, ..., 63374, 63375, 63377])

In [37]:
len(missed_index)

13654

In [38]:
missed_embedding = pd.DataFrame(data=np.random.normal(
        size=(len(missed_index), config["BASE_CONFIG"]["word_embedding_dim"])))

In [39]:
missed_embedding

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-0.760399,-0.341146,-1.340880,-0.101675,-0.087393,0.298501,-0.671911,-0.297124,0.546660,-1.859979,...,-0.254823,-0.775321,-0.062151,-1.435533,0.565467,0.123406,0.118380,-0.448027,-1.289569,-0.592291
1,0.057584,-1.029200,1.331945,-0.059863,-0.994098,0.926300,-0.023708,-0.092734,-0.778008,-0.498413,...,-0.708748,-1.859544,-0.103339,1.217591,2.571839,0.767317,0.446875,-2.580916,-1.136866,-1.171865
2,-0.862444,-2.073653,-0.826213,0.555580,-0.716435,0.518195,1.537366,-0.789183,0.851484,1.377001,...,-0.628753,-0.266171,-0.613364,-1.519174,0.533398,-1.486294,2.403273,-0.209988,-1.852728,-2.388832
3,1.038242,-0.942297,0.075022,-0.972403,0.461262,-0.451207,-0.079370,1.277867,-0.019391,1.696212,...,0.270388,1.080794,1.067442,0.453771,-0.659814,0.890604,2.661040,0.647278,-0.903971,-1.431919
4,0.044273,-0.560961,0.368128,0.634431,-0.447789,0.405549,0.710323,-0.970266,-0.627598,0.497271,...,0.777209,0.199776,2.542946,2.163234,0.063157,-0.783316,-0.395584,1.468852,-0.514181,-1.045869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13649,-0.540899,-0.608116,-0.726127,1.277628,1.218986,-0.008804,1.716794,-0.059050,-1.048892,-0.918604,...,-1.684555,0.234166,1.628154,-1.060614,-0.338555,1.010100,-0.195976,1.087341,-1.606898,-0.203009
13650,-0.758438,-1.493217,-0.044031,-0.346187,-0.354011,1.066771,-0.766618,-0.025209,0.675242,0.154574,...,1.945299,1.777643,-1.349853,-0.229911,-0.265563,1.069316,1.296643,0.135746,1.206644,-1.462598
13651,-1.513580,1.177520,1.108606,2.254430,0.948256,-0.793124,0.496209,-0.611989,0.334064,0.368302,...,0.849015,0.996498,-0.613345,-0.661239,-0.619403,-0.528816,1.489459,0.907227,-0.315106,-0.520640
13652,-0.848120,-0.736527,1.252344,-0.021186,0.299654,-1.262425,-1.679810,0.011042,0.791359,0.972898,...,-0.549060,2.567659,-0.119196,-0.458494,0.429744,-0.416485,1.943916,-0.179017,-0.988333,3.032067
13653,0.073572,-0.026056,-0.440309,0.492504,1.632407,-0.384548,0.698378,1.278787,-2.083172,0.841741,...,-1.037458,-2.162601,-0.396535,-1.349890,0.819125,0.262190,0.169286,1.011957,-0.898703,-0.008148

In [40]:
missed_embedding['int'] = missed_index
missed_embedding.set_index('int', inplace=True)

In [41]:
missed_embedding

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
int,,,,,,,,,,,,,,,,,,,,,
0,-0.760399,-0.341146,-1.340880,-0.101675,-0.087393,0.298501,-0.671911,-0.297124,0.546660,-1.859979,...,-0.254823,-0.775321,-0.062151,-1.435533,0.565467,0.123406,0.118380,-0.448027,-1.289569,-0.592291
44,0.057584,-1.029200,1.331945,-0.059863,-0.994098,0.926300,-0.023708,-0.092734,-0.778008,-0.498413,...,-0.708748,-1.859544,-0.103339,1.217591,2.571839,0.767317,0.446875,-2.580916,-1.136866,-1.171865
293,-0.862444,-2.073653,-0.826213,0.555580,-0.716435,0.518195,1.537366,-0.789183,0.851484,1.377001,...,-0.628753,-0.266171,-0.613364,-1.519174,0.533398,-1.486294,2.403273,-0.209988,-1.852728,-2.388832
311,1.038242,-0.942297,0.075022,-0.972403,0.461262,-0.451207,-0.079370,1.277867,-0.019391,1.696212,...,0.270388,1.080794,1.067442,0.453771,-0.659814,0.890604,2.661040,0.647278,-0.903971,-1.431919
355,0.044273,-0.560961,0.368128,0.634431,-0.447789,0.405549,0.710323,-0.970266,-0.627598,0.497271,...,0.777209,0.199776,2.542946,2.163234,0.063157,-0.783316,-0.395584,1.468852,-0.514181,-1.045869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63369,-0.540899,-0.608116,-0.726127,1.277628,1.218986,-0.008804,1.716794,-0.059050,-1.048892,-0.918604,...,-1.684555,0.234166,1.628154,-1.060614,-0.338555,1.010100,-0.195976,1.087341,-1.606898,-0.203009
63371,-0.758438,-1.493217,-0.044031,-0.346187,-0.354011,1.066771,-0.766618,-0.025209,0.675242,0.154574,...,1.945299,1.777643,-1.349853,-0.229911,-0.265563,1.069316,1.296643,0.135746,1.206644,-1.462598
63374,-1.513580,1.177520,1.108606,2.254430,0.948256,-0.793124,0.496209,-0.611989,0.334064,0.368302,...,0.849015,0.996498,-0.613345,-0.661239,-0.619403,-0.528816,1.489459,0.907227,-0.315106,-0.520640
63375,-0.848120,-0.736527,1.252344,-0.021186,0.299654,-1.262425,-1.679810,0.011042,0.791359,0.972898,...,-0.549060,2.567659,-0.119196,-0.458494,0.429744,-0.416485,1.943916,-0.179017,-0.988333,3.032067
63377,0.073572,-0.026056,-0.440309,0.492504,1.632407,-0.384548,0.698378,1.278787,-2.083172,0.841741,...,-1.037458,-2.162601,-0.396535,-1.349890,0.819125,0.262190,0.169286,1.011957,-0.898703,-0.008148

In [42]:
final_embedding = pd.concat([merged, missed_embedding]).sort_index()

In [43]:
final_embedding

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
int,,,,,,,,,,,,,,,,,,,,,
0,-0.760399,-0.341146,-1.340880,-0.101675,-0.087393,0.298501,-0.671911,-0.297124,0.546660,-1.859979,...,-0.254823,-0.775321,-0.062151,-1.435533,0.565467,0.123406,0.118380,-0.448027,-1.289569,-0.592291
1,0.272040,-0.062030,-0.188400,0.023225,-0.018158,0.006719,-0.138770,0.177080,0.177090,2.588200,...,-0.428100,0.168990,0.225110,-0.285570,-0.102800,-0.018168,0.114070,0.130150,-0.183170,0.132300
2,0.307910,0.124280,-0.045487,-0.916830,0.571110,-0.060034,-0.000744,0.159420,0.068163,1.263700,...,-0.962520,0.407140,-0.456110,0.277220,-0.443480,-0.375130,0.012968,-0.496200,0.568470,0.515080
3,0.409500,-0.226930,0.253620,-0.360550,-0.370950,-0.351810,0.506690,-0.778970,-0.325710,1.489500,...,0.086431,0.280520,-0.044373,-0.294520,-0.199420,0.594750,-0.336820,-0.345630,0.120430,-0.364940
4,-0.090677,0.298700,0.106590,0.034807,0.005769,-0.425620,0.390070,-0.323030,0.330080,0.647620,...,0.272330,0.341490,-0.212980,-0.272200,0.451230,-0.228180,0.063135,-0.784590,-0.548190,-0.455090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63373,0.000817,-0.364820,0.009629,-0.232330,-0.103750,0.029959,0.227210,0.279220,-0.051844,1.117200,...,-0.122180,-0.581470,-0.548740,0.007550,0.305110,0.225010,-0.278460,-0.144460,0.513980,0.083226
63374,-1.513580,1.177520,1.108606,2.254430,0.948256,-0.793124,0.496209,-0.611989,0.334064,0.368302,...,0.849015,0.996498,-0.613345,-0.661239,-0.619403,-0.528816,1.489459,0.907227,-0.315106,-0.520640
63375,-0.848120,-0.736527,1.252344,-0.021186,0.299654,-1.262425,-1.679810,0.011042,0.791359,0.972898,...,-0.549060,2.567659,-0.119196,-0.458494,0.429744,-0.416485,1.943916,-0.179017,-0.988333,3.032067
63376,0.102710,0.173640,-0.108500,0.575690,0.350320,0.052475,0.498460,-0.128730,-0.075689,-1.223300,...,1.032600,0.352090,0.503920,0.142480,0.839750,0.158810,-0.063803,-0.096966,-0.064077,0.114910
63377,0.073572,-0.026056,-0.440309,0.492504,1.632407,-0.384548,0.698378,1.278787,-2.083172,0.841741,...,-1.037458,-2.162601,-0.396535,-1.349890,0.819125,0.262190,0.169286,1.011957,-0.898703,-0.008148

In [62]:
final_embedding.values.shape

(63378, 300)

----
## Generate Entity Embedding

In [66]:
source_embedding_path = "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/train_small/entity_embedding.vec"
entity_embedding = pd.read_table(source_embedding_path, header=None)
entity_embedding

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,Q41,-0.063388,-0.181451,0.057501,-0.091254,-0.076217,-0.052525,0.050500,-0.224871,-0.018145,...,0.001861,0.124535,-0.151043,-0.263698,-0.103607,0.020007,-0.101157,-0.091567,0.035234,NaN
1,Q1860,0.060958,0.069934,0.015832,0.079471,-0.023362,-0.125007,-0.043618,0.134063,-0.121691,...,-0.014287,0.013578,0.099977,0.012199,-0.141138,0.056129,-0.133727,0.025795,0.051448,NaN
2,Q39631,-0.093106,-0.052002,0.020556,-0.020801,0.043180,-0.072321,0.000910,0.028156,0.176303,...,-0.086840,-0.078992,-0.062712,0.051117,-0.184307,0.127637,-0.144866,0.044690,0.013498,NaN
3,Q30,-0.115737,-0.179113,0.102739,-0.112469,-0.101853,-0.177516,0.015860,-0.092626,0.086708,...,0.080511,-0.000085,-0.089968,-0.083486,-0.149992,-0.053031,-0.136071,-0.029001,0.174155,NaN
4,Q60,-0.051036,-0.165637,0.132802,-0.089949,-0.146637,-0.142246,0.103853,-0.129651,0.096265,...,0.078628,0.003711,-0.058953,-0.154067,-0.117159,-0.031614,-0.140451,0.001288,0.140350,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26899,Q42225228,-0.051346,-0.028947,-0.075870,0.017512,-0.066910,-0.027968,0.020820,0.089614,-0.024825,...,-0.024313,0.034771,0.044909,0.043314,-0.020466,-0.009811,0.028233,-0.015396,0.063876,NaN
26900,Q54860678,-0.031620,-0.041283,-0.016871,0.044251,-0.022709,0.014341,0.034043,0.018170,0.002922,...,0.033638,0.070052,0.043695,-0.060374,0.036932,-0.014621,0.048494,-0.029104,0.057286,NaN
26901,Q54860790,0.034682,-0.009413,-0.024317,0.073895,0.028052,0.028039,0.039260,0.017398,0.017743,...,0.034473,0.035736,0.008329,-0.049981,-0.025212,-0.018404,0.004110,0.013771,-0.008027,NaN
26902,Q54862508,-0.052323,-0.078029,-0.060925,-0.052536,0.006802,-0.070488,-0.081736,0.026385,-0.037127,...,0.045298,0.009842,-0.019821,-0.033952,-0.047436,0.062752,0.043236,0.032251,-0.001261,NaN
26903,Q42301562,-0.005190,-0.047871,0.009753,-0.021500,-0.000049,-0.010786,0.031302,0.022225,-0.022653,...,-0.014884,0.047493,0.060764,0.013757,0.026994,0.016827,0.024246,-0.040823,-0.008903,NaN

In [67]:
entity_embedding['vector'] = entity_embedding.iloc[:,1:101].values.tolist()

In [68]:
entity_embedding

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,vector
0,Q41,-0.063388,-0.181451,0.057501,-0.091254,-0.076217,-0.052525,0.050500,-0.224871,-0.018145,...,0.124535,-0.151043,-0.263698,-0.103607,0.020007,-0.101157,-0.091567,0.035234,NaN,"[-0.063388, -0.181451, 0.057501, -0.091254, -0..."
1,Q1860,0.060958,0.069934,0.015832,0.079471,-0.023362,-0.125007,-0.043618,0.134063,-0.121691,...,0.013578,0.099977,0.012199,-0.141138,0.056129,-0.133727,0.025795,0.051448,NaN,"[0.060958, 0.069934, 0.015832, 0.079471, -0.02..."
2,Q39631,-0.093106,-0.052002,0.020556,-0.020801,0.043180,-0.072321,0.000910,0.028156,0.176303,...,-0.078992,-0.062712,0.051117,-0.184307,0.127637,-0.144866,0.044690,0.013498,NaN,"[-0.093106, -0.052002, 0.020556, -0.020801, 0...."
3,Q30,-0.115737,-0.179113,0.102739,-0.112469,-0.101853,-0.177516,0.015860,-0.092626,0.086708,...,-0.000085,-0.089968,-0.083486,-0.149992,-0.053031,-0.136071,-0.029001,0.174155,NaN,"[-0.115737, -0.179113, 0.102739, -0.112469, -0..."
4,Q60,-0.051036,-0.165637,0.132802,-0.089949,-0.146637,-0.142246,0.103853,-0.129651,0.096265,...,0.003711,-0.058953,-0.154067,-0.117159,-0.031614,-0.140451,0.001288,0.140350,NaN,"[-0.051036, -0.165637, 0.132802, -0.089949, -0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26899,Q42225228,-0.051346,-0.028947,-0.075870,0.017512,-0.066910,-0.027968,0.020820,0.089614,-0.024825,...,0.034771,0.044909,0.043314,-0.020466,-0.009811,0.028233,-0.015396,0.063876,NaN,"[-0.051346, -0.028947, -0.07587, 0.017512, -0...."
26900,Q54860678,-0.031620,-0.041283,-0.016871,0.044251,-0.022709,0.014341,0.034043,0.018170,0.002922,...,0.070052,0.043695,-0.060374,0.036932,-0.014621,0.048494,-0.029104,0.057286,NaN,"[-0.03162, -0.041283, -0.016871, 0.044251, -0...."
26901,Q54860790,0.034682,-0.009413,-0.024317,0.073895,0.028052,0.028039,0.039260,0.017398,0.017743,...,0.035736,0.008329,-0.049981,-0.025212,-0.018404,0.004110,0.013771,-0.008027,NaN,"[0.034682, -0.009413, -0.024317, 0.073895, 0.0..."
26902,Q54862508,-0.052323,-0.078029,-0.060925,-0.052536,0.006802,-0.070488,-0.081736,0.026385,-0.037127,...,0.009842,-0.019821,-0.033952,-0.047436,0.062752,0.043236,0.032251,-0.001261,NaN,"[-0.052323, -0.078029, -0.060925, -0.052536, 0..."
26903,Q42301562,-0.005190,-0.047871,0.009753,-0.021500,-0.000049,-0.010786,0.031302,0.022225,-0.022653,...,0.047493,0.060764,0.013757,0.026994,0.016827,0.024246,-0.040823,-0.008903,NaN,"[-0.00519, -0.047871, 0.009753, -0.0215, -4.9e..."

In [69]:
entity_embedding = entity_embedding[[0, 'vector']].rename(columns={0: "entity"})

In [70]:
entity_embedding

          entity                                             vector
0            Q41  [-0.063388, -0.181451, 0.057501, -0.091254, -0...
1          Q1860  [0.060958, 0.069934, 0.015832, 0.079471, -0.02...
2         Q39631  [-0.093106, -0.052002, 0.020556, -0.020801, 0....
3            Q30  [-0.115737, -0.179113, 0.102739, -0.112469, -0...
4            Q60  [-0.051036, -0.165637, 0.132802, -0.089949, -0...
...          ...                                                ...
26899  Q42225228  [-0.051346, -0.028947, -0.07587, 0.017512, -0....
26900  Q54860678  [-0.03162, -0.041283, -0.016871, 0.044251, -0....
26901  Q54860790  [0.034682, -0.009413, -0.024317, 0.073895, 0.0...
26902  Q54862508  [-0.052323, -0.078029, -0.060925, -0.052536, 0...
26903  Q42301562  [-0.00519, -0.047871, 0.009753, -0.0215, -4.9e...

[26904 rows x 2 columns]

In [71]:
entity2int_path = "/workspace/nabang1010/LBA_NLP/Recommendation_System/src/NRMS_nabang1010/DATA_nabang1010/train/entity2int.tsv"
entity2int = pd.read_table(entity2int_path)
entity2int

          entity    int
0         Q43274      1
1          Q9682      2
2        Q193583      3
3           Q212      4
4        Q155223      5
...          ...    ...
12952  Q16951368  12953
12953   Q2018277  12954
12954   Q4965948  12955
12955   Q1994665  12956
12956   Q1708105  12957

[12957 rows x 2 columns]

In [72]:
merged_df = pd.merge(entity_embedding, entity2int, on='entity').sort_values('int')
merged_df

          entity                                             vector    int
2540      Q43274  [0.019659, -0.014432, -0.000575, 0.085817, -0....      1
561        Q9682  [-0.006069, -0.029315, -0.001515, 0.080677, -0...      2
6875     Q193583  [-0.013597, -0.009758, 0.01712, -0.051993, 0.0...      3
94          Q212  [-0.065324, -0.088163, -0.015203, -0.031949, 0...      4
1061     Q155223  [0.003752, -0.061771, -0.037073, 0.02677, -0.0...      5
...          ...                                                ...    ...
11005  Q16951368  [0.007085, 0.021933, -0.021608, -0.013561, -0....  12953
7715    Q2018277  [0.00427, 0.034031, 0.029355, -0.0143, -0.0269...  12954
11559   Q4965948  [0.014954, 0.004096, 0.024627, 0.020484, -0.06...  12955
5989    Q1994665  [0.02717, -0.093194, 0.089109, 0.021777, -0.12...  12956
12475   Q1708105  [-0.01485, -0.017459, 0.047742, -0.049966, -0....  12957

[12677 rows x 3 columns]

In [73]:
entity_embedding_transformed = np.random.normal(size=(len(entity2int) + 1, config["BASE_CONFIG"]["entity_embedding_dim"]))

In [74]:
entity_embedding_transformed

array([[ 1.26253268,  0.47139022, -2.15726071, ...,  1.73696259,
        -0.58866029,  0.5839541 ],
       [-1.24669413, -0.17731285, -0.53075523, ...,  1.0747838 ,
         0.12117508,  0.47361739],
       [ 0.02294263,  0.35741368, -1.05325005, ..., -0.56183282,
        -0.64190384,  1.04212301],
       ...,
       [ 0.99436847,  0.33757075, -1.09723598, ...,  0.1728492 ,
        -1.45498129, -0.58377602],
       [-0.22790265, -0.99557389, -0.08969757, ...,  0.33729818,
        -1.21051835,  0.31726385],
       [-0.76822743, -0.91350833,  1.54299156, ...,  0.1752602 ,
         0.06656737,  0.64952505]])

In [75]:
type(entity_embedding_transformed)

numpy.ndarray

In [76]:
entity_embedding_transformed.shape

(12958, 100)

In [77]:
len(entity_embedding_transformed)

12958

In [78]:
for row in merged_df.itertuples(index=False):
        entity_embedding_transformed[row.int] = row.vector
        
entity_embedding_transformed

array([[ 1.26253268e+00,  4.71390222e-01, -2.15726071e+00, ...,
         1.73696259e+00, -5.88660287e-01,  5.83954100e-01],
       [ 1.96590000e-02, -1.44320000e-02, -5.75000000e-04, ...,
        -1.33420000e-02,  7.21990000e-02, -5.60000000e-05],
       [-6.06900000e-03, -2.93150000e-02, -1.51500000e-03, ...,
        -4.13910000e-02,  7.44500000e-02, -4.12170000e-02],
       ...,
       [ 1.49540000e-02,  4.09600000e-03,  2.46270000e-02, ...,
        -3.54160000e-02, -2.53960000e-02,  5.12700000e-03],
       [ 2.71700000e-02, -9.31940000e-02,  8.91090000e-02, ...,
        -1.03703000e-01, -2.46700000e-03,  5.94020000e-02],
       [-1.48500000e-02, -1.74590000e-02,  4.77420000e-02, ...,
        -7.71020000e-02, -3.19360000e-02,  5.12090000e-02]])

In [79]:
len(entity_embedding_transformed)

12958

In [81]:
entity_embedding_transformed.shape

(12958, 100)